            .masterWrap 			{display: -webkit-box;display: -ms-flexbox;display: flex;}
            #chartWrap              {height: 540px;margin: 0 auto;-webkit-box-flex: 3;-ms-flex: 3;flex: 3;}
        	.container 				{max-width: 1400px;margin: 0 auto;width: auto;}
            section.hero-sec        {text-align: left;}
        	h1 						{color: #FF1449;font-size: 35px;}
        	body 					{color: #151C26;background: #212131;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                                    padding:0 40px;}
        	.table.expanded 		        {
                                            color: #8F8F97;
                                            margin-top: 70px;
                                            width: 960px;
                                            margin-bottom: 60px;
                                            border: solid 1px #8f8f97;
                                            border-left: none;
                                            border-right: none;
                                            margin: 40px auto;
                                            display: none;
                                            }
            td, th                          {padding: 6px; text-align: right; font-size: 14px;}
        	th                              {opacity: .5}
        	.highcharts-tooltip .nMonths 	{color: white;margin: 0 20px;opacity: .5;text-align:middle;}
        	.highcharts-tooltip table  		{color: white;font-size: 16px;margin: 0 20px}
        	.highcharts-tooltip span 		{font-size: smaller;font-weight: normal;}
        	.form-inline 					{display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;-webkit-box-flex: 1;-ms-flex: 1;flex: 1;background: #12121D;padding: 40px 50px 20px;margin-right: 30px;text-align: left;}
        	.form-inline label				{color: #6B6B98;font-weight: bold;cursor: pointer;}
        	.form-inline input 				{
 											color: #90EABE;
 											background: none;
 											border: none;
 											font-size: 22px;
 											-webkit-box-sizing: border-box;
 											        box-sizing: border-box;
 											margin-top: 3px;
 											outline: 0;
 											/* display: inline-block; */
 											font-weight: bold;
 											-webkit-transition: .2s;
 											-o-transition: .2s;
 											transition: .2s;
 											cursor: pointer;
 											width: 70%;
 											}
            .form-inline input:focus        {font-size: 30px;}                                
            .goal input:focus               {color:#fff;}
            input.no-unit                   {}                                            
            .goal label,.goal input,
            .goal .dollar:before            {color: #FF1449;opacity: 1}
        	.form-group  					{-webkit-box-flex:1;-ms-flex:1;flex:1;opacity: .6;-webkit-transition: .2s;-o-transition: .2s;transition: .2s}
            .form-group:hover               {cursor: pointer;opacity: 1}
        	.form-group.f1 				    {-webkit-box-flex:2;-ms-flex:2;flex:2;}
            /*
            .perc, .dollar                  {color: #464664;font-weight: bold;}
            .perc:after                     {content: '%';}
            .dollar:before                  {content: '$';}
            */
            a.btn                           {color: #FF1449; font-size: 22px; display: inline-block; padding: 10px 20px;-webkit-transition: .2s;-o-transition: .2s;transition: .2s;
                                            border: solid 2px #ff1449; text-decoration: none; text-transform: uppercase; }
            a.btn:hover                     {color:#fff;border-color:#fff;}

            .promotion                      {margin: 80px auto; text-align: center; }