.abm-link {
  color: #000FF0;
  font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 500; }
  .abm-link:hover, .abm-linkfocus {
    color: #000FF0;
    text-decoration: none; }
  .abm-link--icon:after {
    content: '';
    display: inline-block;
    width: 12px;
    height: 10px;
    margin-left: 8px;
    background: url("../images/home/jan-2019/arrow/arrow.svg") center/contain no-repeat; }

.l-row {
  padding: 40px 0;
  position: relative; }
  .l-row:first-child {
    padding-top: 120px; }
  @media (min-width: 768px) {
    .l-row {
      padding: 80px 0; }
      .l-row:first-child {
        padding-top: 160px;
        padding-bottom: 0px; } }
  .l-row:first-child {
    background-color: #1A0C4C; }
  .l-row--bg-blue:before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transform: skewY(-5deg);
    background-color: #1A0C4C;
    margin-top: -80%;
    z-index: -1; }
    @media (min-width: 768px) {
      .l-row--bg-blue:before {
        margin-top: -40%; } }
    @media (min-width: 992px) {
      .l-row--bg-blue:before {
        margin-top: -20%; } }

.abm-btn {
  color: #3A008C;
  font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 20px;
  font-weight: 500;
  border-radius: 4px;
  background-color: #F5EAFF;
  display: inline-block;
  height: 54px;
  line-height: 54px;
  padding-left: 24px;
  padding-right: 24px;
  transition: 0.3s ease;
  position: relative;
  white-space: nowrap;
  text-align: center; }
  @media (max-width: 767px) {
    .abm-btn {
      display: block;
      max-width: 240px; } }
  .abm-btn:after {
    content: '';
    display: inline-block;
    width: 16px;
    height: 14px;
    margin-left: 8px;
    transition: 0.3s ease;
    background-image: url("data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0A%09%3Cpath%20d%3D%22M13.025%201l-2.847%202.828%206.176%206.176h-16.354v3.992h16.354l-6.176%206.176%202.847%202.828%2010.975-11z%22%20fill%3D%22rgb(50%2C14%2C106)%22%2F%3E%0A%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; }
  .abm-btn:hover, .abm-btn:focus {
    color: #3A008C;
    transition: 0.3s ease;
    text-decoration: none;
    border-color: transparent;
    background: #efd9ff; }
    .abm-btn:hover:before, .abm-btn:focus:before {
      transform: translate(1px, 1px);
      width: 100%;
      height: 100%; }
    .abm-btn:hover:after, .abm-btn:focus:after {
      transform: translateX(4px); }
  .abm-btn--purple {
    color: #fff;
    background: #500AD2;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.18) 0%, rgba(0, 0, 0, 0.18) 100%);
    box-shadow: 0 2px 10px 0 rgba(0, 4, 48, 0.08), 0 8px 8px 0 rgba(0, 4, 48, 0.12), 0 12px 21px 0 rgba(0, 4, 48, 0.24); }
    .abm-btn--purple:after {
      background-image: url("data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0A%09%3Cpath%20d%3D%22M13.025%201l-2.847%202.828%206.176%206.176h-16.354v3.992h16.354l-6.176%206.176%202.847%202.828%2010.975-11z%22%20fill%3D%22rgb(255%2C255%2C255)%22%2F%3E%0A%3C%2Fsvg%3E"); }
    .abm-btn--purple:hover, .abm-btn--purple:focus {
      color: #fff;
      background: #500AD2;
      background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.18) 0%, rgba(0, 0, 0, 0.18) 100%);
      box-shadow: 0 1px 1px 0 rgba(90, 122, 190, 0.1), 0 10px 20px 0 rgba(90, 122, 190, 0.2); }

.abm-hero {
  overflow: hidden; }
  .abm-hero__title {
    color: #ffffff;
    font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: bold;
    letter-spacing: -1px;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 16px;
    z-index: 1;
    position: relative; }
    @media (min-width: 768px) {
      .abm-hero__title {
        font-size: 30px;
        line-height: 40px;
        max-width: 340px; } }
    @media (min-width: 992px) {
      .abm-hero__title {
        font-size: 40px;
        line-height: 50px; } }
  .abm-hero__desc {
    color: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;
    z-index: 1;
    position: relative; }
    @media (min-width: 768px) {
      .abm-hero__desc {
        max-width: 450px; } }
    @media (min-width: 992px) {
      .abm-hero__desc {
        margin-bottom: 40px;
        font-size: 20px;
        line-height: 30px; } }
  .abm-hero__action {
    margin-top: 30px;
    z-index: 1;
    position: relative; }
  .abm-hero__figure {
    margin-top: -380px;
    margin-right: -200px; }

.abm-main__title {
  color: #00000A;
  font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: bold;
  letter-spacing: -0.6px;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 40px;
  max-width: 550px; }
  @media (min-width: 768px) {
    .abm-main__title {
      margin-bottom: 60px; } }
  @media (min-width: 992px) {
    .abm-main__title {
      font-size: 32px;
      line-height: 42px; } }

.abm-main__heading {
  color: #00000A;
  font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: bold;
  letter-spacing: -0.3px;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 8px; }
  @media (min-width: 768px) {
    .abm-main__heading {
      margin-bottom: 16px; } }
  @media (min-width: 992px) {
    .abm-main__heading {
      font-size: 24px;
      line-height: 32px; } }

.abm-main__label {
  color: #ffffff;
  font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
  font-weight: normal;
  letter-spacing: -0.17px;
  line-height: 28px;
  text-align: center;
  max-width: 580px;
  margin: auto;
  margin-bottom: 30px; }
  @media (min-width: 768px) {
    .abm-main__label {
      font-size: 20px; } }

.abm-main__desc {
  color: #242438;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: normal;
  line-height: 24px; }

@media (min-width: 768px) {
  .abm-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
    grid-row-gap: 30px; } }

@media (min-width: 992px) {
  .abm-list {
    grid-column-gap: 120px;
    grid-row-gap: 60px; } }

.abm-list__item {
  margin-bottom: 30px; }
  @media (min-width: 768px) {
    .abm-list__item {
      margin-bottom: 20px; } }
  @media (min-width: 992px) {
    .abm-list__item {
      margin-bottom: 0; } }

.abm-card {
  position: relative;
  margin: 15px;
  z-index: 1; }
  .abm-cards {
    display: grid;
    overflow: auto;
    grid-template-columns: 300px 300px 300px 300px;
    padding: 15px;
    margin-bottom: 30px;
    margin-left: -15px;
    margin-right: -15px; }
    @media (min-width: 992px) {
      .abm-cards {
        grid-template-columns: 1fr 1fr; } }
    @media (min-width: 768px) {
      .abm-cards {
        margin-left: 0;
        margin-right: 0; } }
  .abm-card:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #ffffff;
    box-shadow: 0px 4px 26px 1px rgba(0, 0, 0, 0.09);
    border-radius: 8px;
    z-index: -1;
    transition: all .3s; }
  .abm-card:hover:before {
    box-shadow: 10px 15px 15px 0px rgba(0, 0, 0, 0.13);
    transform: scale(1.05) translateZ(10px); }
  .abm-card:hover .abm-card__back {
    opacity: 1; }
  .abm-card:hover .abm-card__front {
    opacity: 0; }
  .abm-card__icon {
    margin-bottom: 16px;
    max-width: 34px;
    max-height: 34px; }
  .abm-card__title {
    color: #500ad2;
    font-size: 24px;
    font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: normal;
    letter-spacing: -0.3px;
    line-height: 32px;
    margin-bottom: 8px; }
    .abm-card__title--big {
      font-size: 32px;
      line-height: 40px; }
  .abm-card__label {
    color: #00000A;
    font-size: 20px;
    font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: normal;
    letter-spacing: -0.17px;
    line-height: 28px;
    margin-bottom: 30px; }
  .abm-card__desc {
    color: #00000A;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: normal;
    line-height: 24px;
    margin-bottom: 16px; }
  .abm-card__footer {
    color: #00000A;
    font-size: 13px;
    font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 600;
    text-align: right;
    width: 100%;
    align-items: flex-end; }
  .abm-card__front, .abm-card__back {
    padding: 30px 30px 15px 30px;
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 380px;
    transition: .20s; }
    @media (min-width: 992px) {
      .abm-card__front, .abm-card__back {
        min-height: 300px; } }
  .abm-card__front {
    opacity: 1; }
  .abm-card__back {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

@media (min-width: 992px) {
  .abm-testimonial__container {
    display: grid;
    grid-template-columns: 50% 50%;
    overflow: hidden;
    align-items: center; } }

.abm-testimonial__content {
  z-index: 1;
  text-align: center;
  min-height: 340px;
  background-size: cover;
  background-position: center;
  padding: 30px;
  background-color: white;
  box-shadow: 0px 4px 26px 1px rgba(0, 0, 0, 0.09);
  border-radius: 12px;
  display: grid;
  align-items: center; }
  .abm-testimonial__content:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 12px; }
  .abm-testimonial__content * {
    position: relative; }
  .abm-testimonial__content img {
    max-width: 200px;
    max-height: 50px;
    margin: auto; }
    @media (min-width: 768px) {
      .abm-testimonial__content img {
        max-width: 300px;
        max-height: 90px; } }

.abm-testimonial__author {
  color: #00000A;
  font-size: 16px;
  font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: normal;
  text-align: center;
  letter-spacing: -0.17px;
  line-height: 28px;
  margin-top: 8px; }

@media (min-width: 992px) {
  .abm-testimonial__slide {
    filter: grayscale(100%); } }

.abm-testimonial__title {
  color: #00000A;
  font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: bold;
  letter-spacing: -1px;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 30px;
  text-align: center; }
  @media (min-width: 768px) {
    .abm-testimonial__title {
      font-size: 30px;
      line-height: 40px;
      margin-bottom: 40px; } }
  @media (min-width: 992px) {
    .abm-testimonial__title {
      font-size: 40px;
      line-height: 50px;
      margin-bottom: 80px; } }

.abm-casestudy {
  display: none; }
  @media (min-width: 992px) {
    .abm-casestudy {
      display: block;
      margin-right: 100px; } }
  .abm-casestudy__container {
    overflow: hidden;
    border-radius: 6px;
    display: block; }
    .abm-casestudy__container:hover, .abm-casestudy__container:focus {
      outline: none;
      text-decoration: none; }
    .abm-casestudy__container * {
      outline: none;
      text-decoration: none; }
  .abm-casestudy__header {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    min-height: 340px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden; }
    .abm-casestudy__header:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5); }
  .abm-casestudy__body {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px;
    position: relative;
    min-height: 380px; }
    .abm-casestudy__body:after, .abm-casestudy__body:before {
      content: "";
      position: absolute;
      left: -10%;
      bottom: -10%;
      right: -10%;
      top: -5%; }
    .abm-casestudy__body:before {
      transform: rotate(-5deg);
      background: #fae3d8; }
    .abm-casestudy__body:after {
      transform: rotate(5deg);
      background: rgba(80, 10, 210, 0.75); }
  .abm-casestudy__title {
    color: #ffffff;
    font-size: 32px;
    font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: bold;
    text-align: center;
    letter-spacing: -0.4px;
    line-height: 40px;
    margin-bottom: 16px;
    z-index: 1; }
  .abm-casestudy__desc {
    color: #ffffff;
    font-size: 20px;
    font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: offwhite;
    font-style: italic;
    text-align: center;
    letter-spacing: -0.17px;
    line-height: 28px;
    z-index: 1; }
  .abm-casestudy__logo {
    margin: auto;
    max-width: 250px;
    z-index: 1;
    filter: brightness(0) invert(1); }

.calendly-inline-widget {
  height: 580px; }
  @media (min-width: 768px) {
    .calendly-inline-widget {
      height: 640px;
      max-width: 600px;
      margin: auto; } }
  @media (min-width: 992px) {
    .calendly-inline-widget {
      width: 100%;
      max-width: 540px;
      margin: auto; } }

.abm-techstack__heading {
  color: #00000A;
  font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: bold;
  letter-spacing: -1px;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 0px;
  text-align: center; }
  @media (min-width: 768px) {
    .abm-techstack__heading {
      font-size: 30px;
      line-height: 40px; } }
  @media (min-width: 992px) {
    .abm-techstack__heading {
      font-size: 40px;
      line-height: 50px; } }

.abm-techstack__image img {
  margin: auto; }

.abm-customer__review {
  max-width: 420px; }

.abm-customer__header {
  margin-bottom: 30px;
  position: relative;
  overflow: hidden; }

.abm-customer__profile {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 10px;
  align-items: end; }
  .abm-customer__profile:after {
    position: absolute;
    width: 100%;
    content: "";
    bottom: 10px;
    height: 1px;
    border-bottom: 1px solid #00000A;
    z-index: -1; }

.abm-customer__desc {
  margin-bottom: 30px; }

.abm-customer__logo img {
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 60px;
  max-width: 180px; }
  @media (min-width: 768px) {
    .abm-customer__logo img {
      max-width: 280px; } }
  @media (min-width: 992px) {
    .abm-customer__logo img {
      margin-bottom: 0; } }

.abm-customer__name {
  margin-bottom: 30px; }

.abm-customer__quote {
  width: 40px;
  margin-bottom: 30px; }
  @media (min-width: 768px) {
    .abm-customer__quote {
      width: 50px; } }

.abm-customer__img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: 1px solid #00000A; }
  @media (min-width: 768px) {
    .abm-customer__img {
      width: 120px;
      height: 120px; } }

.abm-demo__container {
  border-radius: 9px;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0 1px 9px 0 #CAD3E6; }

.abm-demo__label {
  font-size: 12px;
  color: #7f7f7f;
  text-align: center;
  max-width: 360px;
  margin: 30px auto;
  padding: 0 30px; }

/* Slider */
.slick-slider {
  display: flex;
  box-sizing: border-box;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }
  .slick-slider .slick-track, .slick-slider .slick-list {
    transform: translate3d(0, 0, 0); }
  .slick-slider .slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto; }
    .slick-slider .slick-track:after, .slick-slider .slick-track:before {
      display: table;
      content: ''; }
    .slick-slider .slick-track:after {
      clear: both; }
  .slick-slider .slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0; }
    .slick-slider .slick-list:focus {
      outline: none; }
    .slick-slider .slick-list.dragging {
      cursor: pointer;
      cursor: hand; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
  position: relative;
  border-radius: 12px;
  overflow: hidden; }

.slick-slide img {
  display: block;
  filter: brightness(0.5); }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-arrow.slick-hidden {
  display: none; }

.slick-arrow {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  line-height: 0;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent; }
  .slick-arrow.slick-next:after, .slick-arrow.slick-prev:before {
    content: "";
    border: 1px solid #fff;
    border-radius: 50%;
    color: #000ff0;
    font-weight: 700;
    box-shadow: 0 4px 14px -1px rgba(0, 0, 0, 0.18);
    background-color: #fff;
    background-size: 20px;
    background-image: url("data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0A%09%3Cpath%20d%3D%22M13.025%201l-2.847%202.828%206.176%206.176h-16.354v3.992h16.354l-6.176%206.176%202.847%202.828%2010.975-11z%22%20fill%3D%22rgb(0%2C15%2C240)%22%2F%3E%0A%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 1; }
  .slick-arrow.slick-prev:before {
    left: 0;
    transform: rotate(180deg); }
    @media (min-width: 768px) {
      .slick-arrow.slick-prev:before {
        margin-left: -25px; } }
  .slick-arrow.slick-next:after {
    right: 0; }
    @media (min-width: 768px) {
      .slick-arrow.slick-next:after {
        margin-right: -25px; } }

.slick-arrow.slick-prev {
  left: 0; }

.slick-arrow.slick-next {
  right: 0; }

.cb-footer__signup {
  display: none !important; }

.l-footer, .cb-footer {
  padding-top: 0 !important; }

@media (max-width: 767px) {
  .l-row--bg-blue + .l-row + .l-row {
    background-color: #f0f0f5;
    padding-bottom: 0;
    overflow: hidden; }
  .abm-techstack__heading {
    max-width: 280px;
    margin: auto; }
  .abm-techstack__image {
    margin: 0 -50px;
    margin-top: -10px; } }
