body{
    font-family:acumin-pro,Helvetica,sans-serif;
    font-size: 16px;
    color: #535453;
    line-height: 24px;
    background: #F6F8FC;
}
a,
a:hover,
a:focus,
a:active{
    color:#06C587;
}
h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4{
    color: #525252;
    font-weight: 600;
}
h1,.h1{
    font-size: 36px;
    line-height: 43px;
}
h2,.h2{
    font-size: 32px;
    line-height: 38px;
}
h3,.h3{
    font-size: 24px;
    line-height: 29px;
}
h4,.h4{
    font-size: 18px;
    line-height: 24px;
}
.carousel-indicators{
    list-style: none;
    margin: 0;
    padding: 0;
    left: 0;
    width: 100%;
    position: static;
}
.carousel-indicators li,
.carousel-indicators li.active{
  float: none;
  display: inline-block;
  margin: 10px 12px 0;
  font-size: 19px;
  line-height: 23px;
  border-radius: 20px;
  border: 1px solid #F6F8FC;
  padding: 7px 35px;
  position: relative;
  width: auto;
  height: auto;
  text-indent: 0;
  font-weight: 300;
}
.carousel-indicators li.active{
    background: #f7f8fc;
    color: #000019;
}
.carousel-indicators li:after{
    content: "";
    width: 20px;
    height: 1px;
    border-top: 1px dashed #F6F8FC;
    position: absolute;
    left: 100%;
    top: 0;
    bottom: 0;
    margin:auto 5px;
}
.carousel-indicators li:last-child:after{
    display: none;
}
.carousel-inner{
    background: #f7f8fc;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    height: 475px;
    width: 100%;
    display: inline-block;
}
.carousel-control{
    top:0;
}
.carousel-control .fa{
    font-size: 64px;
    color: #F6F8FC;
    position: absolute;
    top: 25%;
}
.carousel-caption{
    margin-left: 60px;
    vertical-align: top;
    margin-top: 150px;
    position: static;
    text-align: left;
    display: inline-block;
    padding:0;
    width:320px; 
}
.btn{
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    border-radius: 4px;
    padding: 18px 36px;
    border:1px solid transparent;
}
.btn-success,
.btn-success:hover,
.btn-success:active,
.btn-success:focus{
    color: #FFFFFF;
    text-shadow: 0px -2px 0px rgba(0,0,0,0.10);
    background: #06C587;
    border-color: #06C587;
    -webkit-box-shadow: inset 0px -4px 0px 0px #04AF78;
            box-shadow: inset 0px -4px 0px 0px #04AF78;

}
.btn-success-outline,
.btn-success-outline:hover,
.btn-success-outline:active,
.btn-success-outline:focus{
    background:transparent;
    border-color:#05AC76;
    -webkit-box-shadow: inset 0px -2px 0px 0px rgba(4, 175, 119, 0.36);
            box-shadow: inset 0px -2px 0px 0px rgba(4, 175, 119, 0.36);
    color: #06C587;
    padding: 8px 18px;
    font-size: 15px
}
.btn-default,
.btn-default:hover,
.btn-default:active,
.btn-default:focus{
    border-color: #F6F8FC;
    background: #F6F8FC;
    -webkit-box-shadow: inset 0px -4px 0px 0px #E0E2E7;
            box-shadow: inset 0px -4px 0px 0px #E0E2E7;
    color: #000;
}
.container{
    position: relative;
}
.inline{
    display: inline-block;
}
.cb-fixed-header{    
    top: -250px;    
    -webkit-transition:.6s;
    -o-transition:.6s;
    transition:.6s;
    padding: 15px 0;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(64,63,89,0.14);
            box-shadow: 0px 3px 5px 0px rgba(64,63,89,0.14);
}
.cb-fixed-header-logo{ 
    margin-top: 7px;
}
#cb-amazon-block-banner{
    padding: 110px 0 0;
    text-align: center;
    font-size: 18px;
    line-height: 24px;
}
.cb-amazon-block-banner-img > span{
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
}
.cb-amazon-block-banner-img > .cb{
    color: #8AB5D5;
}
.cb-amazon-block-banner-img > .amazon{
    color: #CFA622;
}
.cb-scroll{
    margin: 85px 0 60px;
    font-size: 16px;
    line-height: 24px;
}
.cb-scroll .fa{
    font-size: 38px;
    color: #646464;
}
.cb-amazon-block-carousel-nav{
    background: #ff5959;
    color: #F6F8FC;
    padding: 50px 0;
    text-align: center;
}
.cb-amazon-block-carousel-content{
    background: #0f3653;
    color: #F6F8FC;
    text-align: center;
    font-size: 18px;
    line-height: 24px;
}
.cb-amazon-block-carousel-mobile{
    width: 356px;
    height: 568px;
    border: 2px dashed #5a748a;
    border-top: none;
    padding: 0 18px;
    -webkit-border-bottom-right-radius: 60px;
    -webkit-border-bottom-left-radius: 60px;
    -moz-border-radius-bottomright: 60px;
    -moz-border-radius-bottomleft: 60px;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
    display: inline-block;
}
.cb-amazon-block-carousel-mobile:after{
    content: "";
    width: 49px;
    height: 49px;
    border: 2px solid #5a748a;
    border-radius: 30px;
    display: inline-block;
    margin: 14px auto 0;
}
#cb-amazon-block-features{
    background: #F6F8FC;
    padding: 80px 0;
}
#cb-amazon-block-features ul{
    line-height: 25px;
    margin: 20px 0;
    list-style: none;
}
#cb-amazon-block-features ul li{
    font-size: 16px;
    margin-bottom: 18px;
    position: relative;
}
#cb-amazon-block-features ul li:before{
    content: "\f00c";
    color: #707bb6;
    font: normal normal normal 16px/1 FontAwesome;
    position: absolute;
    left: -28px;
    top: 3px;
}
#cb-amazon-block-features ul li strong{
    color: #000;
    display: block;
    font-size: 18px;
}
#cb-amazon-block-features blockquote{
    border: none;
    margin: 30px 0 45px;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    color: #3f3d38;
    width: 80%;
}
#cb-amazon-block-features blockquote footer{
    border-top: 1px solid #dedede;
    position: relative;
    padding-top: 20px;
    font-size: 14px;
    line-height: 22px;
    color: #656565;
}
#cb-amazon-block-features blockquote footer:after,
#cb-amazon-block-features blockquote footer:before{
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 8px 0 8px;
    border-color: #dedede transparent transparent transparent;
    position: absolute;
    left: 32px;
}
#cb-amazon-block-features blockquote footer:after{
    border-color: #F6F8FC transparent transparent transparent;
    top: -2px;
}
#cb-amazon-block-features blockquote footer:before{
    border-color: #dedede transparent transparent transparent;
    top: 0px;
}
#cb-amazon-block-client{
    background: #28292e;
    padding: 70px 0;
    text-align: center;
}
#cb-amazon-block-client img{
    margin: auto;
    opacity: .6;
}
#cb-amazon-block-cta{
    background: #fd5f46;
    padding: 100px 0;
    color: #F6F8FC;
    font-size: 20px;
    line-height: 26px;
}
.cb-bullet{
    text-align: left;
    margin: 35px 0 50px;
}
.cb-bullet p{
    overflow: hidden;
}
.cb-bullet-step{
    float: left;
    width: 32px;
    height: 32px;
    border-radius:50%;
    border: 2px solid #F6F8FC;
    font-size: 18px;
    text-align: center;
    line-height: 28px;
    margin-right: 10px;
}
.cb-amazon-block-carousel-nav h3,
.cb-amazon-block-carousel-content .h1,
.cb-amazon-block-carousel-content p,
.cb-amazon-block-carousel-content .fa,
#cb-amazon-block-cta .h1{
    color: #F6F8FC;
}
#cb-amazon-footer{
    background: #fff;
    padding: 30px 0;
    text-align: center;
}
.cb-amazon-footer-links {
    list-style: none;
    padding:0;
    margin: 0;
}
.cb-amazon-footer-links li {
    display: inline-block;
    margin: 20px;
}
.cb-amazon-footer-links li a{
    color: #7a7a7a;
    font-size: 13px;
    text-transform: uppercase;
}
#cb-amazon-block-cta a.whitec:hover,
.cb-amazon-footer-links li a:hover{
    text-decoration: underline;
}
.carousel-control.right:hover,.carousel-control.left:hover{
    top:-6px;
}

@media (min-width: 768px){
    .cb-amazon-block-banner-img {
      position: relative;
      left: 50px;
      display: inline-block;
    }
}
@media (max-width: 490px){
    .cb-amazon-block-carousel-mobile{
        width: 100%;
        border: none;
        padding: 0;
        height: auto;
    }
    .carousel-indicators li:after,
    .cb-amazon-block-carousel-mobile:after{
        display: none;
    }
    .cb-amazon-block-carousel-mobile .prv-cont{
        height: auto;
    }
}