.co-body {
  overflow: hidden;
  font-family: titling-gothic-fb, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }
  .co-body__img {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    margin-top: -150px; }
    @media (min-width: 1400px) {
      .co-body__img {
        max-width: 1200px; } }
    @media (min-width: 1600px) {
      .co-body__img {
        max-width: 1400px; } }

.co-row {
  padding: 40px 0; }
  .co-row:first-child {
    padding-top: 100px; }
  @media (min-width: 992px) {
    .co-row {
      padding: 80px 0; }
      .co-row:first-child {
        padding-top: 140px; }
      .co-row:not(:last-child) {
        background-color: #22244F; }
      .co-row--custom {
        position: relative;
        padding-bottom: 0px; }
        .co-row--custom .co-row__bg {
          bottom: 0;
          transform: skewY(3deg);
          margin-bottom: -120px;
          background-color: #22244e;
          position: absolute;
          left: 0;
          right: 0;
          height: 280px;
          z-index: -1;
          overflow: hidden; }
          .co-row--custom .co-row__bg:after {
            content: "";
            width: 100%;
            padding: 16px;
            background-color: blueviolet;
            left: 0;
            right: 0;
            bottom: 0;
            position: absolute;
            transform: skewY(1deg);
            margin-bottom: -16px; }
        .co-row--custom + .co-row {
          padding-top: 240px; } }

.co-hero {
  position: relative; }
  .co-hero__title {
    color: #173c47;
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 30px;
    font-weight: 500; }
    @media (min-width: 768px) {
      .co-hero__title {
        font-size: 38px;
        line-height: 46px; } }
    @media (min-width: 992px) {
      .co-hero__title {
        font-size: 48px;
        line-height: 58px;
        color: #ffffff;
        opacity: .90; } }
  .co-hero__heading {
    color: #365c66;
    font-size: 20px;
    max-width: 450px; }
    @media (min-width: 768px) {
      .co-hero__heading {
        font-size: 24px;
        line-height: 34px; } }
    @media (min-width: 992px) {
      .co-hero__heading {
        color: #ffffff;
        opacity: .90; } }
  .co-hero__label {
    color: #365c66;
    font-size: 14px;
    margin: 20px 0;
    margin-bottom: 40px;
    border-top: 2px solid #365c66;
    display: inline-block;
    padding-top: 6px; }
    @media (min-width: 768px) {
      .co-hero__label {
        font-size: 16px; } }
    @media (min-width: 992px) {
      .co-hero__label {
        color: #ffffff;
        border-top: 2px solid #ffffff;
        opacity: .90; } }
  .co-hero__desc {
    color: black;
    font-size: 16px;
    line-height: 24px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    max-width: 460px; }
    .co-hero__desc p {
      margin-bottom: 16px; }
    @media (min-width: 992px) {
      .co-hero__desc {
        color: #ffffff; } }

.co-tab [cb-vtab-item-bg] {
  background-color: #ff4964;
  z-index: 1;
  display: block;
  position: absolute;
  height: 100%;
  transition: .25s; }

.co-tab__item span {
  color: #033d48;
  font-size: 18px;
  padding: 6px 8px;
  opacity: .5;
  display: block;
  cursor: pointer; }
  @media (min-width: 768px) {
    .co-tab__item span {
      padding: 10px 24px;
      font-size: 22px; } }
  @media (min-width: 992px) {
    .co-tab__item span {
      font-size: 24px;
      color: #ffffff; } }
  @media (min-width: 1200px) {
    .co-tab__item span {
      padding: 10px 38px; } }

.co-tab__item[cb-vtab-item-selected] span {
  opacity: 1; }

.co-tab__items {
  display: grid;
  position: relative;
  z-index: 2;
  grid-template-columns: repeat(4, 1fr);
  text-align: center; }

.co-tab__select {
  background-color: #8929e0;
  border-radius: 50px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.06), 0 4px 14px -1px rgba(0, 0, 0, 0.18);
  border-width: 0;
  text-align: left;
  color: #ffffff;
  position: relative; }
  .co-tab__select:after {
    content: '';
    width: 10px;
    height: 10px;
    border: 6px solid transparent;
    border-top-color: #ffffff;
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 20px; }
  .co-tab__select select {
    font-size: 18px; }
    .co-tab__select select, .co-tab__select select:focus {
      -webkit-appearance: none;
      border: 0;
      background: 0 0;
      font-weight: 500;
      padding: 10px 24px 10px 18px;
      width: 100%;
      outline: none; }
  @media (max-width: 991px) {
    .co-tab__select {
      margin-bottom: 30px; } }

.co-tab__aside {
  margin-bottom: 30px;
  border-bottom: none;
  position: relative; }
  @media (min-width: 992px) {
    .co-tab__aside {
      margin-bottom: 36px;
      display: inline-block;
      border-bottom: 2px solid #ff5b69; } }

@media (min-width: 992px) {
  .co-tab__content [cb-vtab-content] {
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-gap: 40px;
    padding: 0 40px;
    min-height: 380px; } }

.co-tab__title {
  color: #033d48;
  font-size: 16px;
  margin-bottom: 30px; }
  @media (min-width: 992px) {
    .co-tab__title {
      color: #ffffff; } }

.co-tab__desc {
  color: #033d48;
  font-size: 16px;
  line-height: 24px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }
  .co-tab__desc ul li {
    margin-bottom: 16px; }
  @media (min-width: 992px) {
    .co-tab__desc {
      color: #ffffff; } }

.co-action {
  text-align: center;
  margin-top: 20px; }
  @media (min-width: 768px) {
    .co-action {
      margin-top: 30px; } }
  @media (min-width: 992px) {
    .co-action {
      margin-top: 46px; } }

.co-btn {
  color: #f7f7f7;
  font-size: 18px;
  font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: bold;
  padding: 12px 24px;
  background: #ff4964;
  border-radius: 4px;
  box-shadow: 0 2px 10px 0 rgba(0, 4, 48, 0.08), 0 8px 8px 0 rgba(0, 4, 48, 0.12), 0 12px 21px 0 rgba(0, 4, 48, 0.24);
  transition: .3s; }
  .co-btn:hover, .co-btn:focus {
    text-decoration: none;
    color: #f7f7f7;
    outline: none;
    box-shadow: none; }
  .co-btn:after {
    padding: 6px;
    top: 1px; }

.co-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 30px;
  overflow-y: auto;
  padding-bottom: 20px; }
  @media (min-width: 992px) {
    .co-list {
      margin-top: 60px;
      grid-gap: 30px; } }
  .co-list__item {
    min-width: 180px; }

.co-media__title {
  color: #0e001f;
  font-size: 22px;
  margin-bottom: 16px; }
  @media (min-width: 768px) {
    .co-media__title {
      font-size: 24px; } }
  @media (min-width: 992px) {
    .co-media__title {
      font-size: 32px;
      margin-bottom: 30px; } }

.co-media__desc {
  color: black;
  font-size: 16px;
  line-height: 24px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  max-width: 420px;
  margin-bottom: 30px; }

.co-media__video {
  position: relative;
  border-radius: 3px;
  overflow: hidden;
  display: block; }
  .co-media__video:hover .co-media__overlay, .co-media__video:focus .co-media__overlay {
    opacity: 0.25; }
  .co-media__video:hover .co-media__play, .co-media__video:focus .co-media__play {
    opacity: 1; }

.co-media__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  opacity: 0; }

.co-media__play {
  display: block;
  padding: 16px 24px;
  background: blueviolet;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: .75;
  border-radius: 0 2px 0 0; }
  .co-media__play:after {
    content: "";
    width: 0px;
    height: 0px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 16px solid #ffffff;
    position: absolute;
    left: 17px;
    top: 9px; }

.co-slider {
  text-align: center;
  margin-top: 30px; }
  @media (min-width: 768px) {
    .co-slider {
      margin-top: 46px; } }
  .co-slider__figure {
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    max-width: 650px;
    margin: 0 auto 16px; }
    @media (min-width: 992px) {
      .co-slider__figure {
        opacity: .80; } }
    .co-slider__figure:after, .co-slider__figure:before {
      content: '';
      width: 50px;
      height: 50px;
      display: inline-block;
      z-index: 1;
      position: absolute;
      top: 0; }
    .co-slider__figure:after {
      right: -1px;
      background: linear-gradient(270deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%); }
      @media (min-width: 992px) {
        .co-slider__figure:after {
          background: linear-gradient(270deg, #22254e 0%, rgba(34, 37, 78, 0) 100%); } }
    .co-slider__figure:before {
      left: -1px;
      background: linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%); }
      @media (min-width: 992px) {
        .co-slider__figure:before {
          background: linear-gradient(90deg, #22254e 0%, rgba(34, 37, 78, 0) 100%); } }
    .co-slider__figure > figure {
      height: 36px;
      width: 2526px;
      background: url("../images/home/jan-2019/customers/customers.png") center/contain;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      transform: translate3d(0, 0, 0);
      animation: moveSlideshow 80s ease infinite; }
  .co-slider--customers .co-slider__figure > figure {
    background: url("../images/home/jan-2019/customers/customers.png") center/contain; }
  .co-slider--billing .co-slider__figure {
    max-width: 450px;
    margin-bottom: 0; }
    .co-slider--billing .co-slider__figure > figure {
      height: 24px;
      background: url("../images/home/jan-2019/pg-logos.png") center/contain; }

@keyframes moveSlideshow {
  100% {
    transform: translateX(-66.6666%); } }

.slick-slide {
  margin: 0px 15px;
  display: none;
  height: 100%;
  min-height: 1px; }
  .slick-slide img {
    width: 100%;
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-slide div {
    width: inherit;
    height: 50px;
    background-size: contain;
    background-position: center; }

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  user-select: none;
  touch-action: pan-y; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track, .slick-slider .slick-list {
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block; }
  .slick-track:before {
    display: table;
    content: ''; }
  .slick-track:after {
    display: table;
    content: '';
    clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-loading .slick-slide {
  visibility: hidden; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-initialized .slick-slide {
  display: inline-block;
  vertical-align: middle; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: none; }

.slick-arrow.slick-hidden {
  display: none; }

.doodle_bg {
  background: transparent url("../images/home/jan-2019/customers/white/doodle.png") no-repeat center;
  background-size: 100px !important; }

.envoy_bg {
  background: transparent url("../images/home/jan-2019/customers/white/envoy.png") no-repeat center;
  background-size: 100px !important; }

.freedom_bg {
  background: transparent url("../images/home/jan-2019/customers/white/freedom.png") no-repeat center 4px; }

.freshworks_blck_bg {
  background: transparent url("../images/home/jan-2019/customers/white/freshworks.png") no-repeat center; }

.knewton_logo_bg {
  background: transparent url("../images/home/jan-2019/customers/white/knewton.png") no-repeat center -3px; }

.okta_bg {
  background: transparent url("../images/home/jan-2019/customers/white/okta.png") no-repeat center;
  background-size: 70px !important; }

.percona_bg {
  background: transparent url("../images/home/jan-2019/customers/white/percona.png") no-repeat center; }

.study_bg {
  background: transparent url("../images/home/jan-2019/customers/white/study.png") no-repeat center; }

.rain {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transform: rotate(-20deg);
  display: none; }
  @media (min-width: 992px) {
    .rain {
      display: block; } }

.rain.back-row {
  z-index: 1;
  bottom: 60px;
  opacity: 0.5; }

.drop {
  position: absolute;
  bottom: 100%;
  width: 15px;
  height: 120px;
  pointer-events: none;
  animation: drop 0.5s linear infinite; }

@keyframes drop {
  0% {
    transform: translateY(0vh); }
  75% {
    transform: translateY(90vh); }
  100% {
    transform: translateY(90vh); } }

.stem {
  width: 2px;
  height: 60%;
  margin-left: 7px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25));
  animation: stem 0.5s linear infinite; }

@keyframes stem {
  0% {
    opacity: 1; }
  65% {
    opacity: 1; }
  75% {
    opacity: 0; }
  100% {
    opacity: 0; } }

.cb-footer__signup {
  display: none !important; }

.l-footer, .cb-footer__seprater {
  padding-top: 0 !important;
  margin-top: 0 !important; }
