@font-face {
  font-family: 'LeagueGothic';
  src: url("https://www.chargebee.com/static/resources/fonts/League-Gothic/LeagueGothic-Regular.otf") format("opentype");
  /* Legacy iOS */
  font-weight: 500;
}

body {
  font-weight: normal;
}

h1.page-title {
  color: #130e24;
  margin: 0 auto;
  text-align: center;
  display: table;
}

h1.page-title  span{
  display: inline-block;
  vertical-align: top;
}

h1.page-title span:nth-child(1),
h1.page-title span:nth-child(2),
h1.page-title span:nth-child(3) {
  font-family: LeagueGothic, sans-serif;
}
h1.page-title span:nth-child(1) {
  font-size: 11.6em;
  line-height: 0.85;
  letter-spacing: -0.03em;
  float: left;
}

h1.page-title span:nth-child(2) {
  text-transform: uppercase;
  font-size: 2.9em;
  width: 4em;
  text-align: left;
  padding-left: 0.3em;
  letter-spacing: -0.02em;
  float: left;
}

h1.page-title span:nth-child(3) {
  font-size: 1.04em;
  text-transform: uppercase;
  width: 15.9em;
  display: block;
  text-align: right;
  color: #FC5500;
  margin-top: 6.75em;
}

h1.page-title span:nth-child(4) {
  font-size: 0.57em;
  display: block;
  width: 30.6em;
}

.LG-normal {
  font-family: LeagueGothic, sans-serif;
  font-weight: 500;
  font-size: 90px;
  line-height: 1;
}

.LG-normal.__type2 {
  font-size: 120px;
}

.special-txt {
  font-size: 48px;
  font-weight: bold;
}

.special-txt.__type2 {
  font-size: 90px;
}

.lhmax {
  line-height: 1
}
.nomargin {
  margin: 0
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-flex.__center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.d-flex.__center>.flex-item {
  -ms-grid-row-align: center;
      -ms-flex-item-align: center;
      align-self: center;
}

.txt-green {
  color: #699F06;
}

.txt-red {
  color: #D9072B;
}

.txt-grey {
  color: #9F9CA6;
}

.txt-dark-blue {
  color: #44435A;
}

.nowrap {
  white-space: nowrap;
}

.ca-cards .ca-content__item:before {
  display: none;
}

.ca-actionables {
  width: 100%;
  background: #FFD041;
  color: #171127;
  clear: both;
  overflow: hidden;
  position: relative;
  z-index: -1;
  padding: 50px 30px;
}

.ca-actionables:before {
  content: 'Actionables';
  font-size: 80px;
  font-weight: bold;
  position: absolute;
  bottom: -30px;
  left: 0;
  opacity: 0.2;
  color: #171127;
}

#costs {
  padding-top: 150px;
}

.arrow-card .ca-card:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 92px;
  height: 92px;
  background: url("../images/credit-card/up_arrow.png") bottom right no-repeat;
  background-size: 92px;
  opacity: 0.15;
}

.arrow-card.__red .ca-card:after {
  background: url("../images/credit-card/red_arrow.png") bottom right no-repeat;
  background-size: 92px;
  opacity: 1;
}

.arrow-card.__dark .ca-card:after {
  opacity: 1 !important;
}

.ca-block__source {
  font-size: 12px;
  text-align: center;
  color: #9d9aa5;
  margin-top: 10px;
}

.ca-block__source:before {
  content: 'Source: ';
}

.ca-bottom-line {
  position: relative;
  padding: 0 20px 2em 2em;
  font-size: 24px;
  line-height: 33px;
  padding-top: 60px;
  margin-bottom: 120px;
  margin-left: 50px;
}

.ca-bottom-line:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0.5em;
  height: 60%;
  background: #FF6C36;
}

.ca-bottom-line:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 25%;
  height: 0.5em;
  background: #FF6C36;
}

.ca-block {
  margin: 80px 0;
}

.ca-block .ca-block__title {
  text-align: center;
  margin-bottom: 24px;
  color: #44435A;
}

.ca-block.did-you-know .ca-card {
  color: white;
  background: #323059;
}

.ca-block .ca-cnr {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

.ca-block .ca-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: inherit;
  margin-left: -10px;
  margin-right: -10px;
}

.ca-block .__center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ca-block [class^="ca-col"] {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  max-width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.ca-block .ca-col {
  flew-grow: 1;
}

.ca-block .col-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.33333%;
          flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.ca-block .col-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.66667%;
          flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.ca-block .col-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
}

.ca-block .col-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
          flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.ca-block .col-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 41.66667%;
          flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.ca-block .col-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.ca-block .col-7 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58.33333%;
          flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.ca-block .col-8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.66667%;
          flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.ca-block .col-9 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  max-width: 75%;
}

.ca-block .col-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 83.33333%;
          flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.ca-block .col-11 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 91.66667%;
          flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.ca-block .col-12 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

.ca-block.block-a .desc span {
  display: block;
}

.ca3-scroll-down-arrow {
  background-position: center;
}

.ca-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #44435A;
  background: #FFFFFF;
  -webkit-box-shadow: 1px 2px 12px 0 rgba(0,0,0,0.12), 2px 4px 8px 0 rgba(0,0,0,0.19);
          box-shadow: 1px 2px 12px 0 rgba(0,0,0,0.12), 2px 4px 8px 0 rgba(0,0,0,0.19);
  border-radius: 2px;
  border-radius: 2px;
  min-height: 280px;
}

.ca-card.__center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ca-card.__fluid {
  min-height: auto;
}

.ca-card.__wrap .ca-card__body {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ca-card .ca-card__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 24px;
  width: 100%;
  overflow: hidden;
}

.ca-content__heading {
  color: #171127;
}

.ca-content__heading .title-prefix {
  text-transform: uppercase;
}

.ca-content__heading .title {
  display: block;
  font-weight: bold;
  font-size: 144px;
  line-height: 1;
}

.ca-content--relative+.ca-content--relative,
.ca-actionables+.ca-content--relative {
  padding-top: 300px;
}

.ca-content.ca-content--relative .ca-content__desc+.ca-content__subheading {
  margin-top: 0;
}
.ca-content.ca-content--relative .ca-content__subheading {
  margin-top: 280px;
}

#costs {
  padding-top: 300px;
}

.ca-content__subheading {
  font-size: 32px;
  color: #171127;
  margin-bottom: 50px;
  line-height: initial;
}

/* Social Share */
.ca-social-share {
  position: absolute;
  right: 6px;
  top: 2px;
  background: #ece9ff;
  min-height: 30px;
  min-width: 30px;
  border-radius: 50%;
}

.ca-social-share:hover {
  background: none;
  border-radius: 0;
}

.ca-social-share:hover .ca-hook {
  display: block;
}

.ca-social-share .ca-hook {
  display: none;
  width: 30px;
  height: 30px;
  background: #aea2ff;
  border-radius: 50%;
  margin: 3px 0;
  opacity: 0;
  /*-webkit-transform: scale(0);
          transform: scale(0);*/

/*  -webkit-animation: popIn 0.22s ease-out 0.1s forwards;
          animation: popIn 0.22s ease-out 0.1s forwards;*/
}

.ca-social-share .ca-hook:first-child {
  margin-top: 0;
  -webkit-transform: translateX(30px);
          -ms-transform: translateX(30px);
      transform: translateX(30px);
  -webkit-animation: slideBounceInL 0.22s ease-out 0.1s forwards;
          animation: slideBounceInL 0.22s ease-out 0.1s forwards;
}

.ca-social-share .ca-hook:nth-child(2) {
  -webkit-animation: slideBounceInR 0.22s ease-out 0.1s forwards;
          animation: slideBounceInR 0.22s ease-out 0.1s forwards;
  -webkit-animation-delay: 0.18s;
          animation-delay: 0.18s;
     -webkit-transform: translateX(-30px);
             -ms-transform: translateX(-30px);
         transform: translateX(-30px);
}

.ca-social-share .ca-hook:nth-child(3) {
  -webkit-animation: slideBounceInL 0.22s ease-out 0.1s forwards;
          animation: slideBounceInL 0.22s ease-out 0.1s forwards;
  -webkit-animation-delay: 0.26s;
          animation-delay: 0.26s;
  -webkit-transform: translateX(30px);
          -ms-transform: translateX(30px);
      transform: translateX(30px);
}

@-webkit-keyframes popIn {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0)
  }
  64%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1)
  }
  66% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9)
  }
}

@keyframes popIn {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0)
  }
  64%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1)
  }
  66% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9)
  }
}


@-webkit-keyframes slideBounceInL {
  96% {
    opacity: 1;
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}


@keyframes slideBounceInL {
  96% {
    opacity: 1;
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes slideBounceInR {
  96% {
    opacity: 1;
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideBounceInR {
  96% {
    opacity: 1;
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.ca-cta-card {
  position: relative;
  display: block;
  margin-bottom: 60px;
}

.ca-cta-card .ca-cta-card__figure{-webkit-box-shadow: 0 7px 14px 0 rgba(0,0,0,0.3);box-shadow: 0 7px 14px 0 rgba(0,0,0,0.3);}
.ca-cta-card .ca-cta-card__figure:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: #00000052;
  width: 100%;
  height: 100%;
}
.ca-cta-card .ca-cta-card__desc {
  padding: 10px 15px;
  bottom: 0;
  left: 0;
  position: absolute;
  color: #fff;
}

.center {
  float: none;
  margin: 0 auto;
}

.ca-cta-card .ca-cta-card__desc h3 {
  font-weight: bold;
  line-height: 30px;
  text-shadow: 1px 1px 1px #000000cf;
}

@media (max-width: 575.9999px) {
  h1.page-title {
    width: 100%;
    display: block;
    text-align: center;
  }
  h1.page-title span {
    text-align: inherit !important;
    width: 100% !important;
  }
  h1.page-title span:nth-child(1) {
    float: none;
    font-size: 8em;
  }
  h1.page-title span:nth-child(2) {
    padding: 0;
  }
  h1.page-title span:nth-child(3) {
    display: inline-block;
    margin: 0 !important;
  }
}

@media (min-width: 576px) {
  .ca-block .ca-col-sm {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 100%;
  }
  .ca-block .ca-col-sm-auto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .ca-block .ca-col-sm-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.333333%;
            flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .ca-block .ca-col-sm-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.666667%;
            flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .ca-block .ca-col-sm-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .ca-block .ca-col-sm-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .ca-block .ca-col-sm-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.666667%;
            flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .ca-block .ca-col-sm-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .ca-block .ca-col-sm-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.333333%;
            flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .ca-block .ca-col-sm-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.666667%;
            flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .ca-block .ca-col-sm-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .ca-block .ca-col-sm-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.333333%;
            flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .ca-block .ca-col-sm-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.666667%;
            flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .ca-block .ca-col-sm-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .ca-block .ca-col-md {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 100%;
  }
  .ca-block .ca-col-md-auto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .ca-block .ca-col-md-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.333333%;
            flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .ca-block .ca-col-md-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.666667%;
            flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .ca-block .ca-col-md-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .ca-block .ca-col-md-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .ca-block .ca-col-md-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.666667%;
            flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .ca-block .ca-col-md-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .ca-block .ca-col-md-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.333333%;
            flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .ca-block .ca-col-md-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.666667%;
            flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .ca-block .ca-col-md-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .ca-block .ca-col-md-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.333333%;
            flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .ca-block .ca-col-md-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.666667%;
            flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .ca-block .ca-col-md-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .ca-block .ca-col-lg {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 100%;
  }
  .ca-block .ca-col-lg-auto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .ca-block .ca-col-lg-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.333333%;
            flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .ca-block .ca-col-lg-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.666667%;
            flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .ca-block .ca-col-lg-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .ca-block .ca-col-lg-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .ca-block .ca-col-lg-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.666667%;
            flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .ca-block .ca-col-lg-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .ca-block .ca-col-lg-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.333333%;
            flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .ca-block .ca-col-lg-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.666667%;
            flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .ca-block .ca-col-lg-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .ca-block .ca-col-lg-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.333333%;
            flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .ca-block .ca-col-lg-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.666667%;
            flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .ca-block .ca-col-lg-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .ca-block .ca-col-xl {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 100%;
  }
  .ca-block .ca-col-xl-auto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .ca-block .ca-col-xl-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.333333%;
            flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .ca-block .ca-col-xl-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.666667%;
            flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .ca-block .ca-col-xl-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .ca-block .ca-col-xl-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .ca-block .ca-col-xl-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.666667%;
            flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .ca-block .ca-col-xl-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .ca-block .ca-col-xl-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.333333%;
            flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .ca-block .ca-col-xl-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.666667%;
            flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .ca-block .ca-col-xl-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .ca-block .ca-col-xl-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.333333%;
            flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .ca-block .ca-col-xl-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.666667%;
            flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .ca-block .ca-col-xl-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 575.98px) {

  .ca-card .ca-card__body {
    padding: 16px;
  }
  .ca-content--relative+.ca-content--relative,
  .ca-actionables+.ca-content--relative,
  #costs {
    padding-top: 60px;
  }
  /* Safety Card A*/
  .safety-cardA .big-txt {
    font-size: 26px !important;
  }
  .safety-cardA .big-txt strong {
    text-indent: initial !important;
  }

  /*Cost Card Bc*/
  .costs-cardBc .big-txt {
    font-size: 28px !important;
  }

  .ca-bottom-line {
    padding-right: 0 !important;
    font-size: 16px;
    line-height: 28px;
    margin-left: 0 !important;
  }
  .ca-content__subheading {
    font-size: 24px;
  }
  .LG-normal {
    font-size: 70px;
  }
  .LG-normal.__type2 {
    font-size: 100px;
  }
  .ca-actionables:before {
    font-size: 40px;
    bottom: -10px;
  }
  .ca-block .ca-col {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 100% !important;
            flex: 0 0 100% !important;
    width: 100%;
    max-width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
  .ca-content__heading .title-prefix {
    font-size: 18px;
  }
  .ca-content__heading .title {
    font-size: 64px;
  }
  .arrow-card .ca-card:after {
    background-size: 42px !important;
  }
  .arrow-card.__red .ca-card:after {
    background-size: 42px !important;
  }

  /* Page Title */
  h1.page-title {
    font-size: 120%;
  }
}



@media (max-width: 767.98px) {
  /* Page Title */
  h1.page-title {
    font-size: 150%;
  }
} 