body {
  font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }

.sectionA {
  background-image: url(../images/entrepreneurs/entrepreneurs.svg); }

.cw-hero__title {
  color: #1d0046;
  font-size: 44px;
  font-weight: bold;
  letter-spacing: -1.2px; }
  .cw-hero__title .cw-hero__label {
    color: #1d0046;
    font-family: monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: normal;
    font-size: 18px; }

.cw-hero__action a {
  background: #500AD2;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.18) 0%, rgba(0, 0, 0, 0.18) 100%);
  box-shadow: 0 2px 10px 0 rgba(0, 4, 48, 0.08), 0 8px 8px 0 rgba(0, 4, 48, 0.12), 0 12px 21px 0 rgba(0, 4, 48, 0.24);
  text-transform: capitalize;
  padding-left: 20px;
  padding-right: 20px; }
  .cw-hero__action a:hover {
    transform: none; }
  .cw-hero__action a::after {
    content: '';
    background: url("../images/icon/arrow/cn-arrow-white.svg") no-repeat;
    display: inline-block;
    width: 16px;
    height: 14px;
    margin-left: 8px;
    transition: 0.3s ease;
    vertical-align: middle; }

.cw-hero__action a:hover:after, .cw-hero__action a:focus:after {
  transform: translateX(4px); }

.cw-scrolldown__down {
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center; }
  .cw-scrolldown__down a {
    color: #1d0046;
    text-decoration: none; }
    .cw-scrolldown__down a small {
      position: relative; }
      .cw-scrolldown__down a small::after {
        content: '';
        position: absolute;
        left: 34px;
        top: 30px;
        border-left: 1px solid #1d0046;
        height: 28px; }

.cw-mediaquote__wrap {
  background-color: transparent;
  box-shadow: none; }
  .cw-mediaquote__wrap .cw-mediaquote__content .cw-mediaquote__title {
    color: #00000a;
    font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    letter-spacing: -0.6px;
    font-size: 32px;
    font-weight: bold; }
  .cw-mediaquote__wrap .cw-mediaquote__content .cw-mediaquote__desc {
    color: #00001e;
    font-size: 24px;
    font-weight: normal;
    line-height: 36px; }
    .cw-mediaquote__wrap .cw-mediaquote__content .cw-mediaquote__desc .cw-mediaquote__highlights {
      transition: background-size .3s ease;
      background: linear-gradient(to bottom, transparent 62%, #ffe6ab 0) center center/100% 90% no-repeat;
      padding: 0 4px; }

.cw-quote {
  border-left: none; }

.accelerator-logos .cw-logos__item {
  margin: 5px 10px; }
  .accelerator-logos .cw-logos__item img {
    width: 100px; }

.cw-glow {
  background-color: #ffffff;
  padding: 16px 24px;
  border-radius: 100px;
  box-shadow: 0 3px 0 0 rgba(90, 122, 190, 0.12);
  border: 1px solid rgba(90, 122, 190, 0.08);
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 650px;
  margin: 0 auto 32px;
  transition: all .2s ease-out; }

@media (max-width: 767px) {
  .cw-glow {
    border-radius: 16px; } }

@media (max-width: 991px) {
  .cw-glow {
    display: block;
    text-align: center; } }

@media (min-width: 992px) and (max-width: 1200px) {
  .cw-glow {
    max-width: 660px; } }

.cw-glow:hover, .cw-glow:focus {
  text-decoration: none;
  color: #242438;
  box-shadow: 0 1px 1px 0 rgba(90, 122, 190, 0.1), 0 10px 20px 0 rgba(90, 122, 190, 0.2); }

@media (max-width: 991px) {
  .cw-glow__icon {
    margin: 4px auto;
    display: inline-block; } }

.cw-glow__content {
  color: #242438;
  margin-left: 24px;
  font-size: 16px;
  font-weight: 400; }

.cw-link {
  color: #000FF0;
  font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 500;
  cursor: pointer; }

.cw-link--icon:after {
  content: '';
  display: inline-block;
  width: 12px;
  height: 10px;
  margin-left: 8px;
  background: url("../images/home/jan-2019/arrow/arrow.svg") center/contain no-repeat; }

.cw-link--icon-down:before {
  content: '';
  display: inline-block;
  width: 12px;
  height: 10px;
  margin-right: 8px;
  background: url("../images/home/jan-2019/arrow/arrow.svg") center/contain no-repeat;
  transform: rotate(90deg); }

.cw-article__heading {
  font-size: 32px;
  margin-bottom: 24px;
  font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-align: left; }

.cw-highlights {
  padding: 0;
  list-style: none;
  display: grid;
  grid-gap: 15px 30px;
  max-width: 280px; }

@media (min-width: 992px) {
  .cw-highlights {
    grid-template-columns: auto auto;
    max-width: none;
    grid-gap: 50px; } }

@media (max-width: 767px) {
  .cw-highlights {
    margin-top: 30px;
    margin-bottom: 40px; } }

.cw-highlight__heading {
  font-weight: bold;
  color: #5512d3;
  font-size: 20px; }

@media (min-width: 992px) {
  .cw-highlight__heading {
    margin-bottom: 8px; } }

.cw-highlight__desc {
  color: #00000a;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px; }

.cw-article__desc {
  font-family: "SF Pro Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #242438;
  max-width: 350px; }

@media (max-width: 1200px) {
  .accelerator-logos .cw-logos__item img {
    width: 70px !important; } }

@media (max-width: 991px) {
  .cw-mediaquote__wrap {
    padding: 0px;
    text-align: center; }
  #sectionB {
    padding-top: 0px !important; }
  .cw-article__heading, .cw-article__desc {
    max-width: inherit; }
  .cw-article__desc {
    margin-bottom: 30px; }
  .cw-article__inwrap .cw-article__content .cw-article__heading {
    text-align: center; }
  .cw-article__inwrap .cw-article__content .cw-article__desc {
    text-align: center; } }

@media (max-width: 568px) {
  .cw-hero.max .cw-hero__inwrap {
    height: auto;
    padding-left: 15px;
    padding-right: 15px; }
  .sectionA {
    padding-top: 120px; }
  .cw-scrolldown__down {
    display: none; }
  .cw-hero__title {
    font-size: 32px; }
  .sectionA {
    margin-bottom: 0px !important; }
  .cw-article__heading {
    text-align: center; } }
