/* Page Level CSS */
.cp-article__action {
  margin-bottom: 18px;
  margin-right: 24px; }

.cp-link {
  color: #000ff0;
  font-family: basis-grotesque,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-weight: 500;
  display: inline-block;
  line-height: 20px; }

.cp-link--icon:after {
  content: '';
  display: inline-block;
  width: 12px;
  height: 10px;
  margin-left: 8px;
  background: url(../images/home/jan-2019/arrow/arrow.svg) center/contain no-repeat; }

.cp-link:hover {
  color: #000ff0; }

.cj-slider__figure {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  max-width: 650px;
  margin: 0 auto 16px; }

@media (min-width: 992px) {
  .eln-hero__title {
    margin-bottom: 25px; } }

@media (min-width: 768px) {
  .eln-hero__container {
    max-width: 640px;
    text-align: left; } }

.cp-hero {
  overflow: hidden;
  background-color: transparent; }
  @media (min-width: 992px) and (min-height: 700px) {
    .cp-hero {
      min-height: 620px; } }
  .cp-hero__container {
    font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    padding-top: 90px;
    padding-bottom: 110px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 30px;
    max-width: 1170px;
    align-items: center;
    position: relative;
    z-index: 2; }
    @media (min-width: 768px) and (max-width: 991px) {
      .cp-hero__container {
        padding-top: 120px;
        padding-bottom: 90px;
        text-align: center; } }
    @media (min-width: 992px) {
      .cp-hero__container {
        padding-top: 180px;
        padding-bottom: 150px;
        text-align: center; } }
    @media (max-height: 700px) {
      .cp-hero__container {
        padding-top: 160px;
        padding-bottom: 160px;
        text-align: center; } }
    @media (max-width: 767px) {
      .cp-hero__container {
        padding: 120px 24px;
        text-align: left;
        display: block; } }
    .cp-hero__container--footer {
      padding: 80px 24px; }
      @media (min-width: 992px) {
        .cp-hero__container--footer {
          padding-bottom: 60px; } }
    @media (max-width: 767px) {
      .cp-hero__container--xs {
        padding-bottom: 30px; } }
  .cp-hero__body {
    grid-column: 2 / 12; }
  .cp-hero__footer {
    grid-column: 1 / 13; }
  .cp-hero__header {
    max-width: 600px;
    margin: 0 auto 36px; }
  .cp-hero__icon {
    margin-bottom: 24px; }
  .cp-hero__title {
    color: #000000;
    font-size: 30px;
    font-weight: bold;
    font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    letter-spacing: -1.4px;
    line-height: 36px;
    margin-bottom: 16px;
    position: relative;
    z-index: 1;
    margin-top: 0; }
    @media (min-width: 768px) {
      .cp-hero__title {
        font-size: 36px;
        line-height: 46px; } }
    @media (min-width: 992px) {
      .cp-hero__title {
        font-size: 42px;
        line-height: 50px; } }
  .cp-hero__desc {
    color: #00000A;
    font-size: 18px;
    line-height: 28px; }
  .cp-hero__highlight {
    position: relative;
    transition: background-size .3s ease;
    background: linear-gradient(to bottom, transparent 62%, #ffe6ab 0) center center/0% 75% no-repeat;
    padding: 0 4px;
    margin: 0 -4px; }
    .cp-hero__highlight--active {
      background-size: 100% 100%; }
  .cp-hero__arrow {
    display: none;
    padding: 10px;
    opacity: .5;
    transition: 0.3s ease; }
    .cp-hero__arrow:hover, .cp-hero__arrow:focus {
      opacity: 9; }
    @media (min-width: 992px) {
      .cp-hero__arrow {
        display: inline-block; } }
    .cp-hero__arrow--right {
      grid-column-end: -1;
      margin-left: 0;
      margin-right: 0; }
    .cp-hero__arrow--left {
      grid-column-start: 1;
      margin-right: 0;
      margin-left: 0;
      transform: rotate(180deg); }
  .cp-hero__action {
    margin: 12px 8px; }
    @media (max-width: 767px) {
      .cp-hero__action {
        flex: 1; } }
    .cp-hero__actions {
      display: flex; }
      @media (max-width: 767px) {
        .cp-hero__actions {
          flex-wrap: wrap; } }
      @media (min-width: 768px) {
        .cp-hero__actions {
          justify-content: center; } }
  .cp-hero__video {
    margin-bottom: 48px;
    display: block;
    position: relative;
    transition: .3s ease-out; }
    @media (min-width: 768px) {
      .cp-hero__video {
        transform: perspective(1000px) rotateX(12deg); }
        .cp-hero__video:hover, .cp-hero__video:focus {
          transform: perspective(900px) rotateX(8deg);
          cursor: pointer; } }
  .cp-hero__vbtn {
    background: url("https://www.chargebee.com/static/resources/careers/youtube.svg") no-repeat left center;
    background-size: 50px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    height: 50px;
    width: 50px; }
    @media (min-width: 768px) {
      .cp-hero__vbtn {
        background-size: 100px;
        height: 100px;
        width: 100px;
        top: 45%; } }
  @media (min-width: 768px) {
    .cp-hero__panels {
      display: flex;
      justify-content: space-around; } }
  @media (max-width: 767px) {
    .cp-hero__panel + .cp-hero__panel {
      margin-top: 24px; } }
  .cp-hero--sm {
    background-image: url("../images/sales-ops/banner-element.svg");
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    background-color: #E8F5D9; }
  .cp-hero--rbi {
    background-color: #fff7e6; }
  .cp-hero--rp {
    background: #dfffee; }
  .cp-hero--hgsb {
    background: #dfffee url("../images/product/detail/super-scale-banner.svg") bottom/contain no-repeat; }
  .cp-hero--esb {
    background: #1C0534 url("../images/product/detail/enterprise.svg") bottom/contain no-repeat; }
  .cp-hero--sab {
    background: #fce4ff url("../images/product/accounting-and-taxes/accounting-and-taxes-bg.svg") center/cover no-repeat;
    background-position: center bottom -80px; }
  .cp-hero--sr {
    background: #fce8e5 url("../images/product/reporting-and-analytics/reporting-and-analytics-bg.svg") bottom/cover no-repeat;
    background-position: center bottom  -70px; }
  .cp-hero--ssp {
    background: #e1e9fb url("../images/product/detail/self-service-banner.svg") bottom/contain no-repeat; }
  .cp-hero--fsd {
    background: #d8d5f7 url("../images/product/detail/sales-driven.svg") bottom/contain no-repeat; }
    @media (min-width: 992px) {
      .cp-hero--fsd {
        background-size: cover; } }
  .cp-hero--sfo {
    background: #fce4ff url("../images/product/detail/saas-finance.svg") bottom/contain no-repeat; }
  .cp-hero--sbe {
    background-color: #1C0534; }
  .cp-hero--rbi .cp-hero__title {
    color: #4D3600; }
  .cp-hero--rbi .cp-btn {
    background-color: #4D3600; }
    .cp-hero--rbi .cp-btn--ghost {
      color: #4D3600;
      background-color: transparent;
      box-shadow: 0px 0px 0px 1px #4D3600 inset; }
      .cp-hero--rbi .cp-btn--ghost:after {
        background: url("../images/home/jan-2019/arrow/button-arrow-rbi.svg") center/contain no-repeat; }
  .cp-hero--rp .cp-hero__title {
    color: #00523E; }
  .cp-hero--rp .cp-btn {
    background-color: #00523E; }
    .cp-hero--rp .cp-btn--ghost {
      color: #00523E;
      background-color: transparent;
      box-shadow: 0px 0px 0px 1px #00523E inset; }
      .cp-hero--rp .cp-btn--ghost:after {
        background: url("../images/home/jan-2019/arrow/button-arrow-rp.svg") center/contain no-repeat; }
  .cp-hero--sab .cp-hero__title {
    color: #4C0078; }
  .cp-hero--sab .cp-btn {
    background-color: #4C0078; }
    .cp-hero--sab .cp-btn--ghost {
      color: #4C0078;
      background-color: transparent;
      box-shadow: 0px 0px 0px 1px #4C0078 inset; }
      .cp-hero--sab .cp-btn--ghost:after {
        background: url("../images/home/jan-2019/arrow/button-arrow-sab.svg") center/contain no-repeat; }
  .cp-hero--sr .cp-hero__title {
    color: #73361F; }
  .cp-hero--sr .cp-btn {
    background-color: #73361F; }
    .cp-hero--sr .cp-btn--ghost {
      color: #73361F;
      background-color: transparent;
      box-shadow: 0px 0px 0px 1px #73361F inset; }
      .cp-hero--sr .cp-btn--ghost:after {
        background: url("../images/home/jan-2019/arrow/button-arrow-sr.svg") center/contain no-repeat; }
  .cp-hero--sbe .cp-hero__title {
    color: #ffffff; }
  .cp-hero--sbe .cp-btn {
    background-color: #6200EA; }
    .cp-hero--sbe .cp-btn--ghost {
      color: #ffffff;
      background-color: transparent;
      box-shadow: 0px 0px 0px 1px #ffffff inset; }
      .cp-hero--sbe .cp-btn--ghost:after {
        background: url("../images/home/jan-2019/arrow/button-arrow.svg") center/contain no-repeat; }

.cp-btn {
  color: #ffffff;
  font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
  font-weight: 500;
  border-radius: 4px;
  background-color: #193165;
  box-shadow: 0 2px 10px 0 rgba(0, 4, 48, 0.08), 0 8px 8px 0 rgba(0, 4, 48, 0.12), 0 12px 21px 0 rgba(0, 4, 48, 0.24);
  display: inline-block;
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  transition: 0.3s ease;
  position: relative; }
  @media (max-width: 767px) {
    .cp-btn {
      display: block;
      width: 100%;
      white-space: nowrap;
      text-align: center;
      max-width: 320px; } }
  .cp-btn:after {
    content: '';
    display: inline-block;
    width: 14px;
    height: 12px;
    margin-left: 8px;
    transition: 0.3s ease;
    background: url("../images/home/jan-2019/arrow/button-arrow.svg") center/contain no-repeat; }
  .cp-btn:hover, .cp-btn:focus {
    color: #ffffff;
    transition: 0.3s ease;
    text-decoration: none;
    border-color: transparent; }
    .cp-btn:hover:after, .cp-btn:focus:after {
      transform: translateX(4px); }
  .cp-btn--ghost {
    color: #193165;
    background: transparent;
    box-shadow: 0px 0px 0px 1px #193165 inset; }
    .cp-btn--ghost:hover, .cp-btn--ghost:focus {
      color: #193165; }
    .cp-btn--ghost:after {
      background: url("../images/home/jan-2019/arrow/button-arrow-db.svg") center/contain no-repeat; }
    .cp-btn--ghost-primary {
      box-shadow: 0 0 0 1px #3A008C inset;
      color: #3A008C; }
      .cp-btn--ghost-primary:hover, .cp-btn--ghost-primary:focus {
        color: #3A008C; }
      .cp-btn--ghost-primary:after {
        background: url("../images/home/jan-2019/arrow/button-arrow-purple.svg") center/contain no-repeat; }
  .cp-btn--primary {
    background: #3A008C; }
  .cp-btn--altghost {
    color: #FFAE90;
    background: transparent !important;
    box-shadow: 0px 0px 0px 1px #FFAE90 inset; }
    .cp-btn--altghost:hover, .cp-btn--altghost:focus {
      color: #FFAE90; }
    .cp-btn--altghost:after {
      background: url("../images/home/jan-2019/arrow/button-arrow-aps.svg") center/contain no-repeat; }

.logos-section {
  padding: 30px 0 0 0; }
