a:hover, a:focus {
  text-decoration: none; }

body {
  font-family: "SF Pro Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif; }

.gr-body {
  margin-bottom: 150px; }

.gr-container {
  max-width: 1170px;
  margin: 0 auto; }

.gr-hero {
  background: url(../images/launch/growthpage/steps-to-hit-your-first-big-milestone.svg) no-repeat;
  background-size: cover;
  height: 860px;
  width: 100%;
  position: relative;
  background-position: right; }
  .gr-hero::before {
    content: '';
    position: absolute;
    background-color: #E9E6F4;
    width: 100%;
    height: 100%;
    z-index: -1; }

.gr-col {
  animation: contentToAnimate .5s forwards 0s ease;
  padding-top: 200px;
  max-width: 430px; }

.gr-heading {
  color: #425072;
  font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 48px;
  font-weight: bold;
  letter-spacing: -0.53px;
  line-height: 60px; }

.gr-desc {
  color: #183c5d;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: -0.3px;
  line-height: 24px;
  margin: 30px 0px; }

.gr-actions .gr-sign {
  background: #6450f0;
  border-radius: 4px;
  box-shadow: 0px 2px 10px 0px rgba(0, 4, 48, 0.08), 0px 12px 21px 0px rgba(0, 4, 48, 0.24);
  height: 49px;
  width: auto;
  color: #ffffff;
  display: inline-block;
  line-height: 49px;
  padding: 0px 15px;
  margin-right: 15px;
  font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 500;
  font-size: 18px; }
  .gr-actions .gr-sign::after {
    content: '';
    display: inline-block;
    width: 16px;
    height: 14px;
    margin-left: 8px;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    background-image: url("data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0A%09%3Cpath%20d%3D%22M13.025%201l-2.847%202.828%206.176%206.176h-16.354v3.992h16.354l-6.176%206.176%202.847%202.828%2010.975-11z%22%20fill%3D%22rgb(255%2C255%2C255)%22%2F%3E%0A%3C%2Fsvg%3E");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease; }

.gr-actions .gr-sign_contact {
  border: 1px solid #000ff0;
  background: transparent;
  color: #000ff0;
  box-shadow: none; }
  .gr-actions .gr-sign_contact::after {
    background-image: url("data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0A%09%3Cpath%20d%3D%22M13.025%201l-2.847%202.828%206.176%206.176h-16.354v3.992h16.354l-6.176%206.176%202.847%202.828%2010.975-11z%22%20fill%3D%22rgb(0%2C15%2C240)%22%2F%3E%0A%3C%2Fsvg%3E"); }

.gr-sign:focus:after, .gr-sign:hover:after {
  -webkit-transform: translateX(4px);
  -ms-transform: translateX(4px);
  transform: translateX(4px); }

.grs {
  margin-top: 120px; }
  .grs-container {
    max-width: 1170px;
    margin: 0 auto; }
  .grs-items {
    display: flex;
    width: 100%;
    justify-content: space-between; }
  .grs-item {
    box-shadow: 0px 2px 23px 0px rgba(183, 183, 183, 0.5);
    flex: 0 0 360px;
    position: relative;
    border-radius: 4px; }
    .grs-item:nth-child(1) {
      animation: oneAnimation .5s forwards 0s ease; }
    .grs-item:nth-child(2) {
      animation: oneAnimation .7s forwards 0s ease; }
    .grs-item:nth-child(3) {
      animation: oneAnimation 1s forwards 0s ease; }
  .grs-card {
    -webkit-transition: transform 0.5s;
    transition: transform 0.5s; }
    .grs-card:hover {
      -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      transform: translateY(-10px); }
    .grs-card .grs-top img {
      border-radius: 4px; }
  .grs-bottom {
    background-color: #fff;
    padding: 45px 30px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px; }
  .grs-heading {
    color: #042d4b;
    font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 24px;
    font-weight: bold;
    letter-spacing: -0.28px;
    line-height: 46px; }
  .grs-about {
    color: #042d4b;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.13px;
    margin-bottom: 0px; }
  .grs-arrow {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 35px;
    height: 35px;
    background: #897ec1;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    color: #fff;
    cursor: pointer; }
    .grs-arrow::after {
      content: "\2193"; }

.grs-arrow {
  -webkit-transition: transform 0.5s;
  transition: transform 0.5s; }

.grs-arrow:hover {
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px); }

.grss {
  margin-top: 180px; }
  .grss-container {
    max-width: 1170px;
    margin: 0 auto; }
  .grss-row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto; }
  .grss-left {
    flex: 0 0 35%; }
  .grss-links {
    list-style-type: none;
    margin: 0px;
    padding: 0px; }
    .grss-links li {
      font-size: 16px;
      font-weight: 500;
      letter-spacing: -0.12px;
      margin-bottom: 18px;
      position: relative;
      padding-left: 20px;
      color: #232337bd;
      max-width: 230px;
      cursor: pointer; }
      .grss-links li::before {
        content: '\2192';
        position: absolute;
        left: -5px;
        color: #1304ef; }
    .grss-links .grss-active {
      color: #00000a; }
  .grss-categoryone-bottom {
    margin-top: 50px; }
  .grss-card {
    box-shadow: 0px 2px 23px 0px rgba(183, 183, 183, 0.5);
    animation: AAnimation .5s forwards 0s ease; }
  .grss-right {
    flex: 0 0 55%; }
  .grss-bottom {
    background-color: #fff;
    padding: 45px 30px; }
  .grss-heading {
    color: #042d4b;
    font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 24px;
    font-weight: bold;
    letter-spacing: -0.28px;
    line-height: 46px; }
  .grss-about {
    color: #042d4b;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.13px;
    margin-bottom: 0px; }
  .grss-contentparent .grss-heading .grss-h {
    color: #00000a;
    font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    margin-bottom: 15px; }
  .grss-contentparent .grss-heading p {
    color: #00000a;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    font-family: "SF Pro Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .grss-contentparent .grss-recommendations .grss-recommendation {
    list-style-type: none;
    padding: 0px;
    margin: 0px; }
    .grss-contentparent .grss-recommendations .grss-recommendation li {
      margin-top: 30px; }
      .grss-contentparent .grss-recommendations .grss-recommendation li b {
        color: #00000a;
        font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 18px;
        font-weight: bold;
        display: block;
        position: relative;
        margin-bottom: 10px; }
        .grss-contentparent .grss-recommendations .grss-recommendation li b::before {
          content: "\2713";
          position: absolute;
          left: -30px;
          color: #9186c5;
          font-size: 18px; }
      .grss-contentparent .grss-recommendations .grss-recommendation li .recommende-icon {
        color: #500AD2; }
        .grss-contentparent .grss-recommendations .grss-recommendation li .recommende-icon::before {
          display: none; }
      .grss-contentparent .grss-recommendations .grss-recommendation li p {
        color: #00000a;
        font-size: 16px;
        font-weight: normal;
        line-height: 24px;
        font-family: "SF Pro Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif; }
        .grss-contentparent .grss-recommendations .grss-recommendation li p a {
          color: #1304ef; }
  .grss-contentparent .grss-innerul {
    list-style-type: none;
    padding: 0px;
    margin-top: 20px; }
    .grss-contentparent .grss-innerul .grss-innerli {
      display: inline-block;
      margin-top: 10px !important; }
      .grss-contentparent .grss-innerul .grss-innerli img {
        filter: grayscale(100%); }

.grsss-container {
  max-width: 1170px;
  margin: 0 auto; }

.grsss-header {
  margin-bottom: 40px; }
  .grsss-header .grsss-head {
    color: #00000a;
    font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 24px;
    font-weight: bold; }

.grsss-cols {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.grsss-col {
  flex: 1; }
  .grsss-col h5 {
    color: #00000a;
    font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px; }
  .grsss-col ul {
    list-style-type: none;
    padding: 0px;
    margin: 0; }
    .grsss-col ul .cb-form__label p {
      margin: 0; }
      .grsss-col ul .cb-form__label p span {
        padding-left: 22px;
        color: #00000a;
        font-size: 16px;
        font-weight: normal; }
        .grsss-col ul .cb-form__label p span::before {
          content: "";
          position: absolute;
          padding: 1px;
          transition: all .3s;
          background-color: #2700fa;
          height: 12px;
          left: 5px;
          top: 8px; }
        .grsss-col ul .cb-form__label p span::after {
          content: "";
          position: absolute;
          padding: 1px;
          transition: all .3s;
          background-color: #2700fa;
          width: 12px;
          top: 13px;
          left: 0; }
    .grsss-col ul li {
      margin-bottom: 15px; }

.cb-cart__tooltip {
  font-size: 14px;
  line-height: 20px; }

.scrolltops {
  animation: scrolltops .7s forwards 0s ease; }

/*Keyframe Animations*/
@keyframes contentToAnimate {
  0% {
    transform: rotate(0) translateY(15%);
    opacity: 0; }
  100% {
    transform: rotate(0) translateY(0%);
    opacity: 1; } }

@keyframes oneAnimation {
  0% {
    transform: translateY(20%);
    opacity: 0; }
  100% {
    transform: rotate(xx) translateY(0);
    opacity: 1; } }

@keyframes scrolltops {
  0% {
    transform: translateY(-20%);
    opacity: 0; }
  100% {
    transform: rotate(xx) translateY(0);
    opacity: 1; } }

@keyframes AAnimation {
  0% {
    opacity: 0; }
  100% {
    transform: rotate(xx);
    opacity: 1; } }

/*Keyframe Animations*/
.grss.scrolladjecent {
  margin-top: 455px !important; }

@media (max-width: 1220px) {
  .gr-hero {
    height: 600px; }
  .gr-col {
    padding-left: 100px;
    max-width: 600px; }
  .grs-container, .grsss-container {
    max-width: inherit;
    width: 95%; }
  .affix {
    top: 0px !important; }
  .grs-item {
    flex: 0 0 32%; } }

@media (max-width: 1024px) {
  .gr-col {
    padding-top: 100px; }
  .grss {
    margin-top: 90px; }
  .grsss-col {
    flex: 0 0 45%; }
  .grsss-col:nth-child(3) {
    flex: 0 0 50%;
    margin-top: 40px; } }

@media (max-width: 768px) {
  .grss, .cg-affix__body {
    margin-top: 0px; }
  .cg-affix__content {
    padding-top: 100px !important; }
  .gr-hero {
    background: none; }
  .cb-footer__heading {
    font-size: 26px; } }

@media (max-width: 568px) {
  .cg-affix__content:not(:first-child) {
    padding-top: 70px; }
  .grss-innerul {
    display: flex;
    flex-wrap: wrap; }
  .grss-innerul .grss-innerli {
    flex: 0 0 40%;
    text-align: center; }
  .gr-col {
    max-width: inherit;
    padding-left: 0px;
    padding-top: 100px; }
  .gr-container {
    max-width: inherit;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px; }
  .gr-heading {
    font-size: 28px;
    line-height: 40px; }
  .gr-actions .gr-sign {
    width: 100%;
    text-align: center;
    margin-bottom: 15px; }
  .gr-hero {
    background: none; }
  .grsss-cols {
    display: block;
    margin-left: 10px; }
  .grsss-col {
    margin-bottom: 60px; }
  .grss {
    margin: 0px 0;
    padding-top: 0; }
  .grss-links li {
    font-size: 14px; }
  .grss-contentparent .grss-heading .grss-h {
    font-size: 18px;
    line-height: 28px; }
  .grss-contentparent .grss-recommendations .grss-recommendation li b::before {
    display: none; }
  .grss-bottom {
    padding: 10px 5px; }
  .grss-heading {
    font-size: 14px; }
  .grss-about {
    text-align: center;
    font-size: 14px; }
  .grss-bottom > .grss-heading {
    text-align: center; }
  .grs-items {
    max-width: 1120px;
    overflow-x: scroll; }
  .grs-item {
    flex: 0 0 80%;
    padding-right: 30px; }
  .grs-bottom {
    background-color: whitesmoke; }
  .grs-arrow {
    right: 42px;
    bottom: 0px; }
  .grs {
    margin-bottom: 0; }
  .grs-bottom {
    padding: 20px 10px; }
  .gr-body {
    margin-bottom: 100px; }
  .grs-item {
    box-shadow: none; }
  .grs-item {
    animation: inherit; }
  .grs-about {
    font-size: 14px;
    min-height: 44px; }
  .grs-heading {
    font-size: 22px; }
  .grs-item {
    animation: inherit; }
  .grsss-col:nth-child(3) {
    flex: 0 0 55%; } }

#four {
  margin-top: 120px; }
