// =============================================================================
// Page level variables
// =============================================================================


//=============================================================================
//  Variables
//=============================================================================
// -----------------------------------------------------------------------------
// Fonts
// -----------------------------------------------------------------------------
$ff_primary : basis-grotesque,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$ff_base : -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
//------------------------------------------------------------------------------
//  font-size
//------------------------------------------------------------------------------
$fw_base    : normal;
$fw_medium  : 500;
$fw_bold    : bold;


//------------------------------------------------------------------------------
//  font-size
//------------------------------------------------------------------------------
$fs_xs      : 14px;
$fs_st      : 16px;
$fs_sm      : 18px;
$fs_md      : 24px;
$fs_lg      : 32px;
$fs_xl      : 40px;
$fs_hero    : 42px;


// -----------------------------------------------------------------------------
// Color
// -----------------------------------------------------------------------------
$clr_white      : #ffffff;
$clr_black      : #000000;
$clr_link       : #000FF0;

$clr_primary    : #193165;

$clr_base       : #242438;
$clr_base_dark  : #00000A;

$clr_brand      : #FF7846;


// =============================================================================
// Page level Selectors
// =============================================================================
$prefix            : '.lh';







//------------------------------------------------------------------------------
//  Base style
//------------------------------------------------------------------------------
//------------------------------------------------------------------------------
//  Js style
//------------------------------------------------------------------------------



//=============================================================================
//  Main Styles
//=============================================================================
//------------------------------------------------------------------------------
//  Common
//------------------------------------------------------------------------------
