@font-face {
  font-family: 'basis-grotesque';
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
  src: local("Basis Grotesque Regular"), url("https://www.chargebee.com/static/resources/fonts/basis/basis-grotesque-regular.woff2") format("woff2"), url("https://www.chargebee.com/static/resources/fonts/basis/basis-grotesque-regular.woff") format("woff"), url("https://www.chargebee.com/static/resources/fonts/basis/basis-grotesque-regular.ttf") format("truetype"), url("https://www.chargebee.com/static/resources/fonts/basis/basis-grotesque-regular.eot?#iefix") format("embedded-opentype"); }

@font-face {
  font-family: 'basis-grotesque';
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
  src: local("Basis Grotesque Medium"), url("https://www.chargebee.com/static/resources/fonts/basis/basis-grotesque-medium.woff2") format("woff2"), url("https://www.chargebee.com/static/resources/fonts/basis/basis-grotesque-medium.woff") format("woff"), url("https://www.chargebee.com/static/resources/fonts/basis/basis-grotesque-medium.ttf") format("truetype"), url("https://www.chargebee.com/static/resources/fonts/basis/basis-grotesque-medium.eot?#iefix") format("embedded-opentype"); }

@font-face {
  font-family: 'basis-grotesque';
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
  src: local("Basis Grotesque Bold"), url("https://www.chargebee.com/static/resources/fonts/basis/basis-grotesque-bold.woff2") format("woff2"), url("https://www.chargebee.com/static/resources/fonts/basis/basis-grotesque-bold.woff") format("woff"), url("https://www.chargebee.com/static/resources/fonts/basis/basis-grotesque-bold.ttf") format("truetype"), url("https://www.chargebee.com/static/resources/fonts/basis/basis-grotesque-bold.eot?#iefix") format("embedded-opentype"); }

:root {
  --ff_primary: "basis-grotesque", -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  --ff_base: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  --fw_base: normal;
  --fw_medium: 500;
  --fw_bold: bold; }

body {
  font-family: var(--ff_base);
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  color: #242438;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

.l-header {
  position: absolute;
  top: 0;
  z-index: 9999;
  width: 100%;
  font-family: var(--ff_primary);
  font-size: 15px; }
  .l-header ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none; }
  .l-header__container {
    position: relative;
    z-index: 3;
    max-width: 1600px;
    margin: auto; }
    @media (min-width: 992px) {
      .l-header__container {
        padding: 0 30px; } }
  .l-header__row:not(.l-header__row--mobile):not(.l-header__row--basic) {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-content: space-between;
    grid-gap: 20px; }
  .l-header__col .ch-nav__logo {
    display: inline-flex; }
    .l-header__col .ch-nav__logo--icon {
      display: none; }
    .l-header__col .ch-nav__logo--invert-hover {
      display: none; }
  .l-header__col .ch-nav__item--default {
    display: block; }
  .l-header__col .ch-nav__item--onfixed {
    display: none; }
  .l-header__col .ch-nav__btn {
    color: #FFFFFF;
    border-color: #FF7846;
    background-color: #FF7846; }
  .l-header__col .ch-nav__icon {
    margin-right: 4px;
    margin-top: 1px; }
  .l-header__col--left .ch-nav__item .ch-nav__logo {
    padding: 18px 12px; }
  .l-header__col--middle .ch-nav__item > a, .l-header__col--middle .ch-nav__item > .ch-nav__dropdown {
    padding: 24px 12px; }
  .l-header__col--right .ch-nav__item:not(.ch-nav__item--cta) a {
    padding: 24px 12px; }
  .l-header__col--right .ch-nav__item--cta {
    padding: 18px 12px;
    height: auto; }
  .l-header__col--right .ch-nav__item--action {
    display: inline-flex; }
  .l-header__col--right .ch-nav__item--icon {
    margin-right: 4px; }
  .l-header__overlay {
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: fixed;
    background-color: rgba(190, 220, 255, 0.5);
    z-index: 1;
    display: none;
    opacity: 0;
    transition: opacity .25s;
    transition-delay: .25s; }
  .l-header__bg {
    background: transparent;
    transition: height .25s;
    z-index: 2;
    position: relative; }
  .l-header--opened .l-header--fluid {
    background-color: #FFFFFF; }
  .l-header--invert:not(.l-header--opened) .ch-nav__dropdown {
    color: #FFFFFF; }
  .l-header--invert:not(.l-header--opened) .ch-nav__item > a {
    color: #FFFFFF; }
  .l-header--invert:not(.l-header--opened) .ch-nav__btn {
    border-color: #FFFFFF;
    background-color: transparent; }
    .l-header--invert:not(.l-header--opened) .ch-nav__btn:hover, .l-header--invert:not(.l-header--opened) .ch-nav__btn:focus {
      border-color: #FF7846;
      background-color: #FF7846; }
  .l-header--invert.l-header--opened .ch-nav__logo--invert {
    display: none; }
    .l-header--invert.l-header--opened .ch-nav__logo--invert-hover {
      display: inline-flex; }
  .l-header--fixed {
    position: fixed;
    top: -100px;
    width: 100%;
    z-index: 989;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.09);
    transition: top .3s ease-out;
    background-color: #FFFFFF; }
    .l-header--fixed .l-header__col--left .ch-nav__item .ch-nav__logo {
      padding: 12px 12px; }
    .l-header--fixed .l-header__col--middle .ch-nav__item > a, .l-header--fixed .l-header__col--middle .ch-nav__item > .ch-nav__dropdown {
      padding: 18px 12px; }
    .l-header--fixed .l-header__col--right .ch-nav__item:not(.ch-nav__item--cta) a {
      padding: 18px 12px; }
    .l-header--fixed .l-header__col--right .ch-nav__item--cta {
      padding: 12px 12px; }
    .l-header--fixed .ch-nav__logo {
      display: none; }
      .l-header--fixed .ch-nav__logo--icon {
        display: inline-flex; }
    .l-header--fixed .ch-nav__item--onfixed {
      display: block; }
    .l-header--fixed .ch-nav__item--default {
      display: none !important; }

.ch-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center; }

.ch-nav__item {
  position: static; }
  .ch-nav__item > a {
    font-weight: var(--fw_medium);
    color: #00000A;
    display: block;
    transition: .2s ease-out; }
    .ch-nav__item > a:hover, .ch-nav__item > a:focus {
      text-decoration: none; }
  .ch-nav__item--active .ch-dropdown {
    opacity: 1;
    visibility: visible; }
  .ch-nav__item--hovered {
    opacity: 0.6 !important; }
  .ch-nav__item--remove {
    display: none !important; }

.ch-nav__dropdown {
  color: #00000A;
  white-space: nowrap;
  cursor: default;
  display: inline-flex;
  align-items: center;
  font-weight: var(--fw_medium); }

.ch-nav__btn {
  border-radius: 2px;
  border: 1px solid #00000A;
  color: #00000A;
  font-weight: var(--fw_medium);
  display: block;
  padding: 8px 12px !important;
  transition: background-color .2s ease-out; }
  .ch-nav__btn:hover, .ch-nav__btn:focus {
    border-color: #FF7846;
    background-color: #FF7846;
    color: #FFFFFF;
    text-decoration: none; }

.ch-nav__logo--disabled {
  pointer-events: none !important; }

.ch-nav__arrow {
  position: relative;
  display: inline-flex !important;
  padding-right: 30px !important;
  line-height: 18px !important; }
  .ch-nav__arrow:before, .ch-nav__arrow:after {
    content: "";
    display: block;
    position: absolute;
    border: solid;
    top: 50%;
    border-width: 0 0 2px 2px;
    transition: .3s; }
  .ch-nav__arrow:before {
    width: 2px;
    height: 2px;
    right: 20px;
    opacity: 0; }
  .ch-nav__arrow:after {
    width: 8px;
    height: 8px;
    right: 18px;
    transform: rotate(-135deg);
    margin-top: -3px; }
  .ch-nav__arrow:hover, .ch-nav__arrow:focus {
    text-decoration: none;
    outline: none; }
    .ch-nav__arrow:hover:before, .ch-nav__arrow:focus:before {
      width: 10px;
      right: 12px;
      opacity: 1; }
    .ch-nav__arrow:hover:after, .ch-nav__arrow:focus:after {
      right: 12px; }

.ch-nav--hide {
  opacity: 0 !important;
  visibility: hidden !important;
  pointer-events: none !important; }

.ch-dropdown {
  position: absolute;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  font-family: var(--ff_base);
  left: 0;
  right: 0;
  width: 100%;
  border-radius: 0; }
  .ch-dropdown:not(.padding-0) {
    padding: 36px 42px; }
  .ch-dropdown__list {
    padding: 0;
    list-style-type: none;
    display: flex; }
    .ch-dropdown__list:not(.flex-space--initial) {
      justify-content: space-between; }
    .ch-dropdown__list--sm {
      justify-content: initial; }
    .ch-dropdown__list--alt {
      margin-top: 48px;
      display: block; }
      .ch-dropdown__list--alt .ch-dropdown__temp {
        margin-top: 8px; }
        .ch-dropdown__list--alt .ch-dropdown__temp:last-child {
          margin-top: 24px; }
      .ch-dropdown__list--alt a {
        color: #242438;
        text-decoration: none;
        display: inline-block;
        border-bottom: 1px solid #242438; }
        .ch-dropdown__list--alt a:hover, .ch-dropdown__list--alt a:focus {
          color: #000FF0;
          border-bottom: 1px solid #000FF0; }
    @media (min-width: 1400px) {
      .ch-dropdown__list:not(.ch-dropdown__list--sm) {
        justify-content: initial; }
        .ch-dropdown__list:not(.ch-dropdown__list--sm) .ch-dropdown__item + .ch-dropdown__item {
          margin-left: 80px; } }
    .ch-dropdown__list.flex-space--initial .ch-dropdown__item:nth-child(2) {
      margin-left: 70px; }
    .ch-dropdown__list.flex-space--initial .ch-dropdown__item:nth-child(3) {
      margin-left: 80px; }
    .ch-dropdown__list.flex-space--initial .ch-dropdown__item:nth-child(4) {
      margin-left: 60px; }
    .ch-dropdown__list.flex-space--initial .ch-dropdown__item:nth-child(5) {
      margin-left: 60px; }
  .ch-dropdown__item {
    position: relative; }
    .ch-dropdown__item--align {
      display: flex;
      align-items: flex-end; }
      .ch-dropdown__item--align .ch-card {
        margin-left: 80px;
        margin-bottom: 36px;
        margin-right: 36px; }

.ch-modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999999;
  overflow: auto;
  overflow-y: scroll;
  display: none;
  transition: .2s ease-out; }
  .ch-modal__overlay {
    background: rgba(255, 255, 255, 0.8);
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    width: 100%;
    height: 100%; }
  .ch-modal__body {
    position: relative;
    margin: 100px auto 0;
    text-align: center;
    max-width: 500px;
    padding: 54px 60px;
    border-radius: 2px;
    background-color: #FF7846;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 40, 0.12), 0 14px 14px 0 rgba(0, 0, 40, 0.12); }
  .ch-modal__icon {
    margin-bottom: 20px; }
  .ch-modal__desc {
    color: #FFFFFF;
    font-size: 24px; }
  .ch-modal__actions {
    margin-top: 24px; }
  .ch-modal__action {
    border-radius: 1px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
    color: #FF7846;
    font-weight: var(--fw_bold);
    line-height: 42px;
    display: inline-block;
    padding-left: 42px;
    padding-right: 42px;
    transition: 0.2s cubic-bezier(0.46, 0.03, 0.52, 0.96); }
    .ch-modal__action:hover, .ch-modal__action:focus {
      box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12), 0px 4px 8px 0px rgba(0, 0, 0, 0.24);
      text-decoration: none;
      color: #FF7846; }
  .ch-modal__close {
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 20px;
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: var(--fw_bold);
    font-family: monospace;
    text-align: center;
    line-height: 16px; }
  .ch-modal--active {
    display: block !important;
    animation: .2s slide-down; }

.ch-list a {
  color: #000FF0;
  font-weight: normal;
  display: inline-block;
  padding: 3px 10px 3px 0;
  transition: .3s ease-out; }
  .ch-list a:hover, .ch-list a:focus {
    text-decoration: none;
    color: #000FF0;
    padding-left: 3px; }

.ch-list__action {
  color: #000FF0 !important;
  font-weight: var(--fw_medium);
  font-size: 16px !important;
  border: none !important; }
  .ch-list__action:hover, .ch-list__action:focus {
    text-decoration: none; }

.ch-list__heading {
  color: #00000A;
  font-family: var(--ff_primary);
  font-size: 16px;
  font-weight: var(--fw_bold); }

.ch-list__header {
  margin-bottom: 10px; }

.ch-panel {
  padding: 36px 30px;
  transition: all .25s;
  display: block;
  max-width: 540px; }
  .ch-panels {
    display: grid;
    grid-template-columns: minmax(auto, 400px) minmax(auto, 400px); }
    .ch-panels--alt {
      grid-template-columns: minmax(auto, 410px) minmax(auto, 400px) minmax(auto, 400px); }
  .ch-panel:hover, .ch-panel:focus {
    text-decoration: none;
    outline: none;
    background: #F0F0F0; }
  .ch-panel__container {
    display: flex; }
  .ch-panel__figure {
    margin-right: 22px; }
  .ch-panel__content {
    flex: 1; }
  .ch-panel__desc {
    color: #00000A;
    margin-bottom: 12px; }
  .ch-panel__action {
    display: inline-block;
    color: #000FF0;
    font-weight: var(--fw_medium);
    font-size: 16px;
    transition: 0.2s ease; }
    .ch-panel__action:hover, .ch-panel__action:focus {
      text-decoration: none;
      outline: none;
      color: #000FF0; }

.ch-card__container {
  display: block;
  background-color: #FFFFFF;
  max-width: 360px;
  padding: 32px 36px;
  border-radius: 8px;
  transition: .2s ease;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.09); }
  .ch-card__container:hover, .ch-card__container:focus {
    box-shadow: 0 1px 1px 0 rgba(90, 122, 190, 0.1), 0 10px 20px 0 rgba(90, 122, 190, 0.2);
    text-decoration: none; }

.ch-card__header {
  margin-bottom: 12px; }

.ch-card__figure {
  margin-bottom: 18px;
  margin-top: -58px; }

.ch-card__title {
  color: #00000A;
  font-family: var(--ff_primary);
  font-size: 16px;
  font-weight: var(--fw_bold);
  margin-bottom: 8px;
  text-decoration: none; }

.ch-card__desc {
  color: #00000A;
  text-decoration: none; }

.ch-card__action {
  display: inline-block;
  color: #000FF0;
  font-weight: var(--fw_medium);
  font-size: 16px;
  transition: 0.2s ease; }
  .ch-card__action:hover, .ch-card__action:focus {
    text-decoration: none;
    color: #000FF0; }

.ch-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 15px 20px;
  background: #FFFFFF;
  border-bottom: 1px solid #f1f1f1;
  z-index: 990; }
  .ch-header__close--mobile {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 50px;
    height: 50px;
    font-size: 0;
    cursor: pointer; }
    .ch-header__close--mobile:before, .ch-header__close--mobile:after {
      content: "";
      position: absolute;
      background: #242438;
      border-radius: 1px;
      left: 14px;
      right: 14px;
      top: 24px;
      height: 3px;
      transform: rotate(45deg); }
    .ch-header__close--mobile:after {
      transform: rotate(-45deg); }
  .ch-header__overlay--mobile {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(192, 220, 255, 0.5);
    z-index: 9999;
    display: none; }
  .ch-header__modal {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    background-color: #FFFFFF;
    z-index: 99999;
    border-radius: 6px;
    overflow: hidden;
    opacity: 0;
    transform: scale(0.9);
    transform-origin: top right;
    pointer-events: none;
    transition: all .25s; }
    @media (min-width: 768px) {
      .ch-header__modal {
        top: 20px;
        left: 20px;
        right: 20px; } }
    .ch-header__modal h4 {
      font-size: 13px;
      font-weight: var(--fw_bold);
      letter-spacing: .025em;
      color: #242438;
      margin-top: 24px;
      padding-left: 16px;
      line-height: 24px;
      position: relative;
      display: inline-block; }
      .ch-header__modal h4:before {
        content: "";
        position: absolute;
        width: 4px;
        height: 100%;
        background-color: #500AD2;
        left: 0; }
      @media (min-width: 768px) {
        .ch-header__modal h4 + .ch-header__list {
          display: grid;
          grid-template-columns: auto auto 1fr;
          grid-column-gap: 40px; } }
    .ch-header__modal .ch-header__item a, .ch-header__modal .ch-header__item a:hover, .ch-header__modal .ch-header__item a:active {
      font-size: 12px;
      text-decoration: none;
      outline: none;
      font-weight: var(--fw_medium);
      color: #000FF0;
      display: block;
      letter-spacing: .35px;
      margin-bottom: 10px;
      line-height: 1.25; }
      @media (min-width: 360px) {
        .ch-header__modal .ch-header__item a, .ch-header__modal .ch-header__item a:hover, .ch-header__modal .ch-header__item a:active {
          font-size: 14px; } }
      @media (min-width: 768px) {
        .ch-header__modal .ch-header__item a, .ch-header__modal .ch-header__item a:hover, .ch-header__modal .ch-header__item a:active {
          font-size: 16px;
          margin-bottom: 12px; } }
      .ch-header__modal .ch-header__item a svg, .ch-header__modal .ch-header__item a:hover svg, .ch-header__modal .ch-header__item a:active svg {
        margin-right: 4px; }
      .ch-header__modal .ch-header__item a svg, .ch-header__modal .ch-header__item a span, .ch-header__modal .ch-header__item a:hover svg, .ch-header__modal .ch-header__item a:hover span, .ch-header__modal .ch-header__item a:active svg, .ch-header__modal .ch-header__item a:active span {
        display: inline-block;
        vertical-align: middle; }
      .ch-header__modal .ch-header__item a svg + span, .ch-header__modal .ch-header__item a:hover svg + span, .ch-header__modal .ch-header__item a:active svg + span {
        line-height: 48px; }
    .ch-header__modal .ch-header__item--title {
      font-size: 10px;
      color: #00000A;
      letter-spacing: .35px;
      font-family: var(--ff_primary);
      margin-bottom: 8px;
      font-weight: var(--fw_medium); }
      @media (min-width: 360px) {
        .ch-header__modal .ch-header__item--title {
          font-size: 12px; } }
    .ch-header__modal .ch-header__list--column-2 {
      display: grid;
      grid-template-columns: minmax(auto, 240px) minmax(auto, 240px);
      grid-column-gap: 10px; }
      @media (min-width: 768px) {
        .ch-header__modal .ch-header__list--column-2 {
          grid-template-columns: auto auto 1fr;
          grid-column-gap: 40px; } }
    .ch-header__modal .ch-header__group ul {
      padding: 16px; }
    .ch-header__modal .ch-header__group + .ch-header__group {
      border-top: 2px solid #f6f9fc; }
    .ch-header__modal .ch-header__group--bg {
      border-top: none !important;
      background-color: #f4f8ff; }
      .ch-header__modal .ch-header__group--bg ul {
        padding: 0px; }
      .ch-header__modal .ch-header__group--bg .ch-header__list {
        display: grid;
        grid-template-columns: auto auto; }
      .ch-header__modal .ch-header__group--bg a {
        color: #000FF0;
        font-weight: var(--fw_medium);
        line-height: 68px;
        text-align: center; }
        .ch-header__modal .ch-header__group--bg a:hover, .ch-header__modal .ch-header__group--bg a:focus {
          background-color: #000FF0;
          color: #FFFFFF;
          line-height: 68px; }
  .ch-header .ch-logo {
    display: flex; }

.ch-burger {
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px; }
  .ch-burger__icon {
    width: 24px;
    height: 3px;
    display: block;
    background: #000000;
    border-radius: 20px;
    position: relative; }
    .ch-burger__icon:before, .ch-burger__icon:after {
      content: '';
      position: absolute;
      width: 24px;
      height: 3px;
      display: block;
      border-radius: 20px;
      background: #000000; }
    .ch-burger__icon:before {
      top: -8px; }
    .ch-burger__icon:after {
      bottom: -8px; }

@keyframes slide-down {
  0% {
    transform: translateY(-40px); }
  100% {
    transform: translateY(0px); } }

.headAnimate {
  animation-duration: 1s;
  animation-fill-mode: both; }

.headFadeInRight {
  animation-name: headFadeInRight; }

@keyframes headFadeInRight {
  from {
    opacity: 0;
    transform: translate3d(16px, 0, 0); }
  to {
    opacity: 1;
    transform: none; } }

.headFadeInLeft {
  animation-name: headFadeInLeft; }

@keyframes headFadeInLeft {
  from {
    opacity: 0.1;
    transform: translate3d(-16px, 0, 0); }
  to {
    opacity: 1;
    transform: none; } }

.l-footer {
  padding-top: 60px; }
  @media (min-width: 992px) {
    .l-footer {
      padding-top: 120px; } }

.cb-footer {
  margin: 0;
  width: 100%;
  padding: 100px 0; }
  .cb-footer ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none; }
  @media (max-width: 991px) {
    .cb-footer__signup {
      max-width: 640px;
      margin: auto;
      text-align: center;
      padding: 0 20px; } }
  @media (min-width: 992px) {
    .cb-footer__signup {
      display: grid;
      grid-template-columns: 1fr auto;
      grid-column-gap: 60px;
      justify-content: space-between;
      align-items: center;
      padding: 0 42px 0 42px;
      max-width: 1100px;
      margin: auto; } }
  @media (min-width: 1600px) {
    .cb-footer__signup {
      max-width: 1300px;
      margin: auto; } }
  .cb-footer__social {
    padding: 60px 20px 0 20px; }
    @media (min-width: 992px) {
      .cb-footer__social {
        padding: 80px 42px 0 42px;
        max-width: 1100px;
        margin: auto; } }
    @media (min-width: 1600px) {
      .cb-footer__social {
        max-width: 1300px;
        margin: auto; } }
  .cb-footer__link {
    color: #000FF0;
    font-size: 16px;
    font-weight: var(--fw_medium); }
    .cb-footer__links {
      padding: 0 20px; }
      @media (min-width: 992px) {
        .cb-footer__links {
          padding: 0 42px;
          max-width: 1100px;
          margin: auto; } }
      @media (min-width: 1600px) {
        .cb-footer__links {
          max-width: 1300px;
          margin: auto; } }
    .cb-footer__link:hover, .cb-footer__link:focus {
      text-decoration: none;
      color: #000FF0; }
  @media (max-width: 991px) {
    .cb-footer__right {
      margin-top: 40px; } }
  .cb-footer__action + .cb-footer__action {
    margin-top: 18px;
    text-align: center; }
  .cb-footer__seprater {
    border-bottom: 1px solid #e0e3e6;
    margin: 60px 0; }
    @media (min-width: 992px) {
      .cb-footer__seprater {
        margin: 80px 0; } }
  .cb-footer__heading {
    color: #000000;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.51px;
    font-weight: var(--fw_bold);
    font-family: var(--ff_primary); }
    @media (min-width: 768px) {
      .cb-footer__heading {
        font-size: 36px;
        line-height: 42px; } }
  .cb-footer__parent {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    @media (max-width: 767px) {
      .cb-footer__parent {
        display: block; } }
  @media (max-width: 767px) {
    .cb-footer__parentmobile {
      display: flex; } }
  @media (max-width: 767px) {
    .cb-footer__bloglogo {
      order: 1;
      width: 100%;
      text-align: center; } }
  @media (max-width: 767px) {
    .cb-footer__socialicons {
      order: 0;
      width: 100%;
      margin-bottom: 30px; } }
  @media (max-width: 767px) {
    .cb-footer__sociallinks {
      justify-content: center; }
      .cb-footer__sociallinks li {
        margin: 0 15px !important; } }
  .cb-footer__child {
    flex: 0 0 23%; }
    @media (max-width: 767px) {
      .cb-footer__child {
        flex: 0 0 48%;
        margin-bottom: 50px; } }
  .cb-footer__header a {
    color: #00000A;
    font-size: 16px;
    line-height: 21px;
    font-weight: var(--fw_medium);
    margin-bottom: 16px;
    font-family: var(--ff_primary); }
    .cb-footer__header a:hover, .cb-footer__header a:focus {
      color: #00000A;
      text-decoration: none;
      outline: none; }
    @media (min-width: 1600px) {
      .cb-footer__header a {
        font-size: 18px; } }
  .cb-footer__nav a {
    padding: 3px 0px;
    display: inline-block;
    color: #000FF0;
    font-size: 14px;
    transition: 0.2s ease-out;
    text-decoration: none; }
    .cb-footer__nav a:hover {
      padding-left: 4px; }
    @media (min-width: 1600px) {
      .cb-footer__nav a {
        font-size: 16px; } }
  .cb-footer__sociallinks {
    display: flex;
    align-items: center; }
    .cb-footer__sociallinks li {
      margin: 0px 12px;
      display: inline-flex; }
      .cb-footer__sociallinks li:last-child {
        margin-right: 0; }
      .cb-footer__sociallinks li a,
      .cb-footer__sociallinks li svg {
        display: inline-flex; }
  .cb-footer__btn {
    color: #FFFFFF;
    background: #500AD2;
    font-family: var(--ff_primary);
    font-size: 18px;
    font-weight: var(--fw_medium);
    border-radius: 4px;
    transition: 0.3s ease;
    padding: 16px 24px;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.18) 0%, rgba(0, 0, 0, 0.18) 100%);
    box-shadow: 0 2px 10px 0 rgba(0, 4, 48, 0.08), 0 8px 8px 0 rgba(0, 4, 48, 0.12), 0 12px 21px 0 rgba(0, 4, 48, 0.24); }
    .cb-footer__btn:hover, .cb-footer__btn:focus {
      outline: none;
      text-decoration: none;
      color: #FFFFFF;
      background: #500AD2;
      background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.18) 0%, rgba(0, 0, 0, 0.18) 100%);
      box-shadow: 0 1px 1px 0 rgba(90, 122, 190, 0.1), 0 10px 20px 0 rgba(90, 122, 190, 0.2); }

.cb-form-inline__container {
  font-size: 16px;
  border: 2px solid #242438;
  border-radius: 3px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr auto;
  max-width: 420px;
  margin: auto; }

.cb-form-inline__input, .cb-form-inline__submit {
  padding: 8px 12px;
  height: 100%;
  width: 100%;
  display: block; }
  .cb-form-inline__input, .cb-form-inline__input:focus, .cb-form-inline__input:hover, .cb-form-inline__submit, .cb-form-inline__submit:focus, .cb-form-inline__submit:hover {
    text-decoration: none;
    border: none;
    outline: none;
    box-shadow: none; }

.cb-form-inline__submit {
  font-family: var(--ff_primary);
  color: #FFFFFF;
  background-color: #242438;
  font-weight: 500; }
  .cb-form-inline__submit:focus, .cb-form-inline__submit:hover {
    color: #FFFFFF; }

@media (min-width: 1200px) {
  .cb-form-inline__input {
    min-width: 220px; } }

@media (min-width: 1400px) {
  .cb-form-inline__input {
    min-width: 240px; } }

.pad-top-head-height {
  padding-top: 65px; }

@media (min-width: 992px) {
  .pad-top-head-height {
    padding-top: 70px; } }

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-size: initial;
  font-weight: initial;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 0; }

@media (min-width: 992px) and (max-width: 1024px) {
  .ch-dropdown__item--align {
    display: none !important; } }

.ch-header__sticky {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: -100%;
  opacity: 0.5;
  transition: all 0.35s cubic-bezier(0.22, 0.61, 0.36, 1);
  background-color: #500AD2;
  z-index: 99999; }
  .ch-header__sticky ul {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center; }
  .ch-header__sticky a {
    color: #FFFFFF;
    padding: 15px;
    display: block;
    font-weight: var(--fw_medium); }

@media (min-width: 768px) {
  div.ch-header__list.ch-header__list--column-2 .ch-header__list:nth-child(1) {
    order: 1; }
  div.ch-header__list.ch-header__list--column-2 .ch-header__list:nth-child(2) {
    order: 4; }
  div.ch-header__list.ch-header__list--column-2 .ch-header__list:nth-child(3) {
    order: 0; }
  div.ch-header__list.ch-header__list--column-2 .ch-header__list:nth-child(4) {
    order: 3; }
  div.ch-header__list.ch-header__list--column-2 .ch-header__list:nth-child(5) {
    order: 2; }
  div.ch-header__list.ch-header__list--column-2 .ch-header__list:nth-child(6) {
    order: 6; } }

.hideChatbot #drift-widget-container, .hideChatbot .cfit-custom-template {
  display: none !important; }
