[class*="ln-mT__"]:after {
  content: '';
  display: table;
  clear: both; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0; }

.ln-mT__xxs {
  margin-top: 40px !important; }

.ln-mT__xs {
  margin-top: 60px !important; }

.ln-mT__s {
  margin-top: 80px !important; }

.ln-mT__m {
  margin-top: 33.33333px !important; }
  @media (min-width: 768px) {
    .ln-mT__m {
      margin-top: 50px !important; } }
  @media (min-width: 992px) {
    .ln-mT__m {
      margin-top: 100px !important; } }

.ln-mT__l {
  margin-top: 53.33333px !important; }
  @media (min-width: 768px) {
    .ln-mT__l {
      margin-top: 80px !important; } }
  @media (min-width: 992px) {
    .ln-mT__l {
      margin-top: 160px !important; } }

.ln-mB__xxs {
  margin-bottom: 40px !important; }

.ln-mB__xs {
  margin-bottom: 60px !important; }

.ln-mB__s {
  margin-bottom: 80px !important; }

.ln-mB__m {
  margin-bottom: 33.33333px !important; }
  @media (min-width: 768px) {
    .ln-mB__m {
      margin-bottom: 50px !important; } }
  @media (min-width: 992px) {
    .ln-mB__m {
      margin-bottom: 100px !important; } }

.ln-mB__l {
  margin-bottom: 53.33333px !important; }
  @media (min-width: 768px) {
    .ln-mB__l {
      margin-bottom: 80px !important; } }
  @media (min-width: 992px) {
    .ln-mB__l {
      margin-bottom: 160px !important; } }

.ln-dflex {
  display: flex; }
  .ln-dflex--vcenter {
    align-items: center; }
  @media (max-width: 767px) {
    .ln-dflex {
      display: block; } }

.ln-link {
  display: inline-block;
  color: #6200EA; }
  .ln-link:hover, .ln-link:focus {
    color: #4d00b7; }

.ln-btn {
  position: relative;
  display: inline-block;
  font-weight: 600;
  color: #FFFFFF;
  background: #6200EA;
  border-radius: 6px;
  box-shadow: 0 4px 0 0 #3A008C;
  padding: 10px 20px;
  text-decoration: none;
  overflow: hidden;
  line-height: 1; }
  .ln-btn:hover, .ln-btn:focus {
    text-decoration: none;
    color: #fff; }
  .ln-btn:focus, .ln-btn:active {
    box-shadow: 0 4px 0 0 #3A008C;
    transform: translateY(2px); }
  @media (min-width: 768px) {
    .ln-btn {
      font-size: 20px;
      padding: 14px 24px;
      box-shadow: 0 7px 0 0 #3A008C; } }
  @media (max-width: 767px) {
    .ln-btn {
      width: 100%;
      letter-spacing: -.5px;
      max-width: 260px;
      padding: 16px 24px;
      box-shadow: 0 8px 0 0 #3A008C;
      margin: auto;
      display: block;
      text-align: center;
      font-size: 16px;
      line-height: normal; } }
  .ln-btn--arrow > span {
    display: inline-block;
    transition: all .3s ease-in-out; }
  .ln-btn--arrow:after {
    content: "";
    display: inline-block;
    transform: translateX(0);
    transition: all .3s ease-in-out;
    margin-left: 8px;
    width: 16px;
    height: 16px;
    background-image: url(../images/subscription-commerce/arrow-right.svg);
    vertical-align: middle;
    background-repeat: no-repeat; }
  .ln-btn--arrow:hover:after, .ln-btn--arrow:active:after, .ln-btn--arrow:focus:after {
    transform: translateX(4px); }
  .ln-btn--ghost {
    background: none;
    border: 1px solid #6200EA;
    font-weight: 600;
    color: #6200EA;
    letter-spacing: -0.75px; }
    @media (min-width: 768px) {
      .ln-btn--ghost {
        font-size: 20px;
        padding: 18px 32px; } }

.ln-section {
  margin-bottom: 80px; }
  .ln-section:after {
    content: '';
    display: table;
    clear: both; }
  @media (min-width: 992px) {
    .ln-section {
      margin-bottom: 160px; } }
  .ln-section--hero {
    padding-top: 120px;
    padding-bottom: 60px;
    position: relative;
    background-color: #00001E; }
    @media (min-width: 768px) {
      .ln-section--hero {
        padding-top: 160px;
        margin-bottom: 60px;
        padding-bottom: 80px; } }

.ln-causestudy__left {
  padding: 38px; }
  @media (min-width: 768px) {
    .ln-causestudy__left {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 15em; } }

.ln-causestudy__right {
  padding: 38px;
  border-radius: 6px;
  position: relative; }
  @media (min-width: 768px) {
    .ln-causestudy__right {
      padding: 60px 70px; } }
  .ln-causestudy__right:after {
    position: absolute;
    right: 25px;
    top: -30px;
    content: "";
    width: 78px;
    height: 52px;
    display: block;
    background: url("../images/localization/quote.png") no-repeat;
    background-size: 100%;
    display: none; }

.ln-causestudy__action {
  color: #ff7846;
  text-transform: uppercase;
  margin-top: 24px; }

.ln-causestudy__link {
  width: 100%;
  background: #060035;
  box-shadow: 0 7px 14px 0 rgba(0, 0, 0, 0.12), 0 20px 40px 0 rgba(0, 0, 0, 0.24);
  border-radius: 3px;
  text-decoration: none;
  display: block;
  margin: auto; }
  @media (min-width: 768px) {
    .ln-causestudy__link {
      display: flex;
      max-width: 690px; } }
  .ln-causestudy__link:hover, .ln-causestudy__link:active, .ln-causestudy__link:focus {
    text-decoration: none;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.12), 0 14px 24px 0 rgba(0, 0, 0, 0.12); }

.ln-causestudy__label {
  font-size: 12px;
  line-height: 14px;
  color: #1D0046; }

.ln-causestudy__title {
  font-size: 16px;
  line-height: 24px;
  color: #1D0046;
  letter-spacing: -0.4px;
  font-weight: bold;
  margin-top: 5px; }

.ln-causestudy__desc {
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  margin-top: 24px; }

.ln-causestudy__author {
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  margin-top: 8px; }

.ln-heroarticle__content {
  margin-top: 16px; }

.ln-heroarticle__footer {
  margin-top: 45px; }

.ln-heroarticle__title {
  font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #EFEFF1;
  letter-spacing: -0.74px;
  font-size: 26px;
  line-height: 36px; }
  @media (min-width: 768px) {
    .ln-heroarticle__title {
      font-size: 36px;
      line-height: 46px; } }
  @media (min-width: 992px) {
    .ln-heroarticle__title {
      font-size: 48px;
      letter-spacing: -1.54px;
      line-height: 58px; } }

.ln-heroarticle__desc {
  font-family: "SF Pro Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0; }
  .ln-heroarticle__desc + .ln-heroarticle__desc {
    margin-top: 10px; }
  @media (min-width: 768px) {
    .ln-heroarticle__desc {
      font-size: 16px;
      line-height: 24px;
      max-width: 530px; } }
  @media (min-width: 992px) {
    .ln-heroarticle__desc {
      font-size: 16px;
      line-height: 24px;
      max-width: auto;
      max-width: 450px; } }

.ln-sectionarticle__content {
  margin-top: 8px; }
  @media (min-width: 992px) {
    .ln-sectionarticle__content {
      max-width: 500px;
      margin-left: auto;
      margin-right: auto; } }

.ln-sectionarticle__title {
  font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #1D0046;
  letter-spacing: -0.99px;
  font-size: 22px;
  line-height: 32px; }
  @media (min-width: 768px) {
    .ln-sectionarticle__title {
      font-size: 28px;
      line-height: 36px; } }
  @media (min-width: 992px) {
    .ln-sectionarticle__title {
      font-size: 32px;
      line-height: 40px; } }

.ln-sectionarticle__desc {
  color: rgba(0, 0, 30, 0.8);
  font-family: "SF Pro Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px; }
  @media (min-width: 768px) {
    .ln-sectionarticle__desc {
      font-size: 16px;
      line-height: 24px; } }
  @media (min-width: 992px) {
    .ln-sectionarticle__desc {
      font-size: 16px;
      line-height: 24px; } }

.ln-article__header {
  margin-bottom: 16px; }

.ln-article__content {
  margin-bottom: 16px; }

.ln-article__title {
  font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #1D0046;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.28px; }
  @media (min-width: 768px) {
    .ln-article__title {
      font-size: 26px;
      line-height: 30px; } }
  @media (min-width: 992px) {
    .ln-article__title {
      font-size: 32px;
      line-height: 40px;
      letter-spacing: -0.99px; } }

.ln-article__subtitle {
  font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #1D0046;
  letter-spacing: -0.2px;
  font-size: 20px;
  line-height: 28px; }
  @media (min-width: 768px) {
    .ln-article__subtitle {
      font-size: 23px;
      line-height: 32px;
      letter-spacing: -0.71px; } }

.ln-article__desc {
  font-family: "SF Pro Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgba(0, 0, 30, 0.8);
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0; }
  .ln-article__desc + .ln-article__desc {
    margin-top: 10px; }

.ln-article__link {
  color: #6C00F4;
  font-family: "SF Pro Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px; }

.ln-features__heading {
  font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #1D0046;
  letter-spacing: -0.99px;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 30px; }
  @media (min-width: 768px) {
    .ln-features__heading {
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 36px; } }

.ln-features__subheading {
  font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #1D0046;
  letter-spacing: -0.25px;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 20px; }
  @media (min-width: 768px) {
    .ln-features__subheading {
      font-size: 20px;
      line-height: 30px; } }
  @media (min-width: 992px) {
    .ln-features__subheading {
      font-size: 24px;
      line-height: 30px;
      letter-spacing: -0.71px;
      margin-bottom: 36px; } }

.ln-features__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }
  @media (min-width: 768px) {
    .ln-features__list--horizontal {
      flex-wrap: nowrap; } }
  @media (min-width: 768px) {
    .ln-features__list--horizontal .ln-feature {
      max-width: 305px; } }
  @media (min-width: 992px) {
    .ln-features__list--horizontal .ln-feature {
      max-width: 325px; } }

.ln-feature {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 36px; }
  @media (min-width: 768px) {
    .ln-feature {
      margin-bottom: 40px; } }

.ln-feature__icon {
  flex: 0  1 24px; }
  @media (max-width: 767px) {
    .ln-feature__icon {
      min-width: 16px;
      margin-top: 2px; } }
  @media (min-width: 768px) {
    .ln-feature__icon {
      min-width: 24px; } }

.ln-feature__icon + .ln-feature__content {
  margin-left: calc(24px / 2); }
  @media (min-width: 768px) {
    .ln-feature__icon + .ln-feature__content {
      margin-left: 24px; } }

.ln-feature__content {
  display: flex;
  flex-flow: column nowrap; }

.ln-feature__footer {
  margin-top: 8px; }

.ln-feature__title {
  font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #1D0046;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 8px; }
  @media (min-width: 992px) {
    .ln-feature__title {
      font-size: 18px;
      line-height: 22px; } }

.ln-feature__desc {
  font-family: "SF Pro Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgba(0, 0, 30, 0.8);
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0; }
  .ln-feature__desc + .ln-feature__desc {
    margin-top: 10px; }
  @media (min-width: 992px) {
    .ln-feature__desc {
      font-size: 16px;
      line-height: 24px; } }

.ln-cta--as-button {
  display: flex;
  max-width: 580px;
  margin: 20px auto 32px;
  padding: 16px 24px;
  background-color: #fff;
  border: 1px solid #DCDBF6;
  border-radius: 300px;
  text-decoration: none;
  transition: all 0.16s ease-in;
  flex-flow: row wrap; }
  @media (max-width: 767px) {
    .ln-cta--as-button {
      padding: 8px 12px;
      align-items: center;
      justify-content: center; } }
  @media (min-width: 768px) {
    .ln-cta--as-button {
      flex-flow: row nowrap; } }
  .ln-cta--as-button:hover, .ln-cta--as-button:focus {
    text-decoration: none;
    border-color: #fff;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.12), 0 14px 24px 0 rgba(0, 0, 0, 0.12);
    transform: translateY(-3px);
    transition: all 0.24s ease-out; }
  @media (max-width: 767px) {
    .ln-cta--as-button .ln-cta__header {
      margin-bottom: 5px; } }
  @media (min-width: 768px) {
    .ln-cta--as-button .ln-cta__header {
      margin-right: 16px; } }
  @media (max-width: 767px) {
    .ln-cta--as-button .ln-cta__label {
      font-size: 12px;
      text-align: center; } }
  .ln-cta--as-button .ln-cta__thumb {
    max-width: 54px; }

.ln-cta__footer {
  display: flex;
  margin-top: 36px; }

.ln-cta__label {
  font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  color: #1D0046; }

@media (min-width: 768px) {
  .ln-cta__thumb {
    max-width: 60px;
    max-height: 26px; } }

.ln-cta__title {
  color: #1D0046;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.08px; }
  @media (min-width: 768px) {
    .ln-cta__title {
      font-size: 32px;
      letter-spacing: -0.4px;
      line-height: 42px; } }
  @media (min-width: 992px) {
    .ln-cta__title {
      font-size: 40px;
      letter-spacing: -1.08px;
      line-height: 53px; } }

.ln-cta__actions {
  display: flex;
  align-items: center;
  margin: auto;
  font-weight: bold; }
  @media (max-width: 767px) {
    .ln-cta__actions {
      flex-flow: column wrap;
      justify-content: center; } }

.ln-cta__anchor {
  font-size: 18px; }
  @media (max-width: 767px) {
    .ln-cta__anchor + .ln-cta__anchor {
      margin-top: 20px; } }
  @media (min-width: 768px) {
    .ln-cta__anchor + .ln-cta__anchor {
      margin-left: 34px; } }

.ln-paygateways {
  display: flex;
  flex-flow: column nowrap; }

.ln-paygateways__top {
  margin-bottom: 5px; }

.ln-paygateways__bottom {
  margin-top: 5px; }

.ln-paygateways__list {
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center; }
  @media (max-width: 767px) {
    .ln-paygateways__list {
      flex-flow: row wrap; } }
  .ln-paygateways__list:before, .ln-paygateways__list:after {
    content: '';
    position: absolute;
    top: 0;
    width: 15%;
    max-width: 80px;
    height: 100%;
    z-index: 1;
    display: none; }
    @media (min-width: 768px) {
      .ln-paygateways__list:before, .ln-paygateways__list:after {
        display: block; } }
  .ln-paygateways__list:before {
    left: 0;
    background: linear-gradient(to right, #fff 0%, transparent 100%); }
  .ln-paygateways__list:after {
    right: 0;
    background: linear-gradient(to left, #fff 0%, transparent 100%); }

.ln-paygateways__label {
  font-family: PTMono-Regular;
  color: #666678;
  text-align: center;
  font-size: 12px;
  line-height: 20px; }
  @media (min-width: 768px) {
    .ln-paygateways__label {
      font-size: 14px;
      line-height: 24px; } }

@media (max-width: 767px) {
  .ln-paygateway {
    margin: 0 14px 12px; } }

@media (min-width: 768px) {
  .ln-paygateway + .ln-paygateway {
    margin-left: 32px; } }

.ln-paygateway__thumb {
  max-width: 100px; }
  @media (min-width: 768px) {
    .ln-paygateway__thumb {
      max-width: 128px; } }

.ln-paygateway__img {
  max-height: 24px; }

.cj-slider {
  text-align: center; }
  .cj-slider__figure {
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    margin: 0 auto; }
    .cj-slider__figure:after, .cj-slider__figure:before {
      content: '';
      width: 50px;
      height: 40px;
      display: inline-block;
      z-index: 1;
      position: absolute;
      top: 0; }
    .cj-slider__figure:after {
      right: 0;
      background: linear-gradient(270deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%); }
    .cj-slider__figure:before {
      left: 0;
      background: linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%); }
  .cj-slider--billing .cj-slider__figure {
    max-width: 450px; }

.slick-slide {
  margin: 0px 15px; }
  .slick-slide img {
    width: 100%; }

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track, .slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block; }
  .slick-track:before {
    display: table;
    content: ''; }
  .slick-track:after {
    display: table;
    content: '';
    clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: inline-block;
  vertical-align: middle; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: none; }

.slick-arrow.slick-hidden {
  display: none; }

.slick-slide div {
  width: inherit;
  height: 50px;
  background-size: contain; }

.braintree_bg {
  background: transparent url("../images/home/jan-2019/payment-gateway/braintree.png") no-repeat center; }

.gocardless_bg {
  background: transparent url("../images/home/jan-2019/payment-gateway/gocardless.png") no-repeat center; }

.paypal_bg {
  background: transparent url("../images/home/jan-2019/payment-gateway/paypal.png") no-repeat center;
  background-size: 70px !important;
  background-position: center 7px !important; }

.worldpay_bg {
  background: transparent url("../images/home/jan-2019/payment-gateway/worldpay.png") no-repeat center; }
