// =====================================================================
// Start: Fonts - Basis & SF Pro
// =====================================================================
$we-ff-basis: basis-grotesque,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$we-ff-sfpro: "SF Pro Text", -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
// =====================================================================
// End: Fonts - Basis & SF Pro
// =====================================================================

@mixin basis {
  font-family: $we-ff-basis;
}

@mixin sfpro {
  font-family: $we-ff-sfpro;
}


// =====================================================================
// Start: Spacing
// =====================================================================
$gap-xxs:                                 40px;
$gap-xs:                                  60px;
$gap-s:                                   80px;
$gap-m:                                   100px;
$gap-l:                                   160px;


// =====================================================================
// End: Spacing
// =====================================================================


// =====================================================================
// Start: Media - Breakpoints
// =====================================================================
$smallMobile-width:                       320px;
$mobile-width:														576px;
$tablet-width:														768px;
$desktop-width:														992px;
$largeDesktop-width:											1200px;
// =====================================================================
// End: Media - Breakpoints
// =====================================================================

@mixin onlyMobile {
  @media (max-width: #{$mobile-width - 1px}) {
    @content;
  }
}

@mixin mobileToTablet {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tabletToDesktop {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktopToLargeDesktop {
  @media (min-width: #{$desktop-width}) and (max-width: #{$largeDesktop-width - 1px}) {
    @content;
  }
}

@mixin fromTablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin fromDesktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin fromLargeDesktop {
  @media (min-width: #{$largeDesktop-width}) {
    @content;
  }
}


@mixin clearfix {
  & {
    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }
}

[class*="ln-mT__"] {
  @include clearfix;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
}

.ln {
  &- {
    // =====================================================================
    // Start: Spacing
    // =====================================================================
    &mT__xxs {
      margin-top: $gap-xxs !important;
    }
    &mT__xs {
      margin-top: $gap-xs !important;
    }
    &mT__s {
      margin-top: $gap-s !important;
    }
    &mT__m {
      margin-top: $gap-m / 3 !important;

      @include fromTablet {
        margin-top: $gap-m / 2 !important;
      }
      @include fromDesktop {
        margin-top: $gap-m !important;
      }
    }
    &mT__l {
      margin-top: $gap-l / 3 !important;

      @include fromTablet {
        margin-top: $gap-l / 2 !important;
      }
      @include fromDesktop {
        margin-top: $gap-l !important;
      }
    }
    // Margin - Bottom
    &mB__xxs {
      margin-bottom: $gap-xxs !important;
    }
    &mB__xs {
      margin-bottom: $gap-xs !important;
    }
    &mB__s {
      margin-bottom: $gap-s !important;
    }
    &mB__m {
      margin-bottom: $gap-m / 3 !important;

      @include fromTablet {
        margin-bottom: $gap-m / 2 !important;
      }
      @include fromDesktop {
        margin-bottom: $gap-m !important;
      }
    }
    &mB__l {
      margin-bottom: $gap-l / 3 !important;

      @include fromTablet {
        margin-bottom: $gap-l / 2 !important;
      }
      @include fromDesktop {
        margin-bottom: $gap-l !important;
      }
    }



    &dflex {
      display: flex;

      &--vcenter {
        align-items: center;
      }
      @include mobileToTablet{
        display: block;
      }
    }
    // =====================================================================
    // End: Spacing
    // =====================================================================

    // =====================================================================
    // Start: Link
    // =====================================================================
    &link {
      display: inline-block;
      color: #6200EA;
      &:hover, &:focus {
        color: darken( #6200EA, 10%)
      }
    }
    // =====================================================================
    // End: Link
    // =====================================================================

    // =====================================================================
    // Start: Button
    // =====================================================================
    &btn {
      $btn: &;

      position: relative;
      display: inline-block;
      font-weight: 600;
      color: #FFFFFF;
      background: #6200EA;
      border-radius: 6px;
      box-shadow: 0 4px 0 0 #3A008C;
      padding: 10px 20px;
      text-decoration: none;
      overflow: hidden;
      line-height: 1;
      // transition: all .2s ease-in-out;


      &:hover, &:focus {
        text-decoration: none;
        color: #fff;
      }

      &:focus, &:active {
        box-shadow: 0 4px 0 0 #3A008C;
        transform: translateY(2px);
      }

      @include fromTablet {
        font-size: 20px;
        padding: 14px 24px;
        box-shadow: 0 7px 0 0 #3A008C;
      }
      @include mobileToTablet{
        width: 100%;
        letter-spacing: -.5px;
        max-width: 260px;
        padding: 16px 24px;
        box-shadow: 0 8px 0 0 #3A008C;
        margin: auto;
        display: block;
        text-align: center;
        font-size: 16px;
        line-height: normal;
      }

      &-- {
        &arrow {
          > span {
            display: inline-block;
            transition: all .3s ease-in-out;
          }
          &:after {
            content: "";
            display: inline-block;
            transform: translateX(0);
            transition: all .3s ease-in-out;
            margin-left: 8px;
            width: 16px;
            height: 16px;
            background-image: url(../images/subscription-commerce/arrow-right.svg);
            vertical-align: middle;
            background-repeat: no-repeat;
          }

          &:hover, &:active, &:focus {
            > span {
              // transform: translateX(-9px);
            }
            &:after {
              transform: translateX(4px);
            }
          }
        }

        &ghost {
          background: none;
          border: 1px solid #6200EA;
          font-weight: 600;
          color: #6200EA;
          letter-spacing: -0.75px;

          @include fromTablet {
            font-size: 20px;
            padding: 18px 32px;
          }
        }
      }
    }
    // =====================================================================
    // End: Button
    // =====================================================================

    // =====================================================================
    // Start: Hero Article
    // =====================================================================
    &section {
      @include clearfix;
      margin-bottom: $gap-l / 2;

      @include fromDesktop {
        margin-bottom: $gap-l;
      }
      &-- {
        &hero {
          padding-top: 120px;
          padding-bottom: 60px;
          position: relative;
          background-color: #00001E;

          @include fromTablet {
            padding-top: 160px;
            margin-bottom: 60px;
            padding-bottom: 80px;
          }
        }
      }
    }
    // =====================================================================
    // Start: Hero Article
    // =====================================================================


    // =====================================================================
    // Start: Cause Study
    // =====================================================================

    &causestudy{
      &__{
        &left{
          padding: 38px;
          @include fromTablet {
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: 15em;
          }
        }
        &right{
          padding: 38px;
          border-radius: 6px;
          position: relative;
          @include fromTablet {
            padding: 60px 70px;
          }
          &:after{
            position: absolute;
            right: 25px;
            top: -30px;
            content: "";
            width: 78px;
            height: 52px;
            display: block;
            background: url('../images/localization/quote.png') no-repeat;
            background-size: 100%;
            display: none;
          }
        }
        &action{
          color: #ff7846;
          text-transform: uppercase;
          margin-top: 24px;
        }
        &link{
          width: 100%;
          background: #060035;
          box-shadow: 0 7px 14px 0 rgba(0,0,0,.12), 0 20px 40px 0 rgba(0,0,0,.24);
          border-radius: 3px;
          text-decoration: none;
          display: block;
          @include fromTablet {
            display: flex;
            max-width: 690px;
          }
          margin: auto;
          &:hover,&:active,&:focus{
            text-decoration: none;
            box-shadow: 0 0 14px 0 rgba(0,0,0,0.12), 0 14px 24px 0 rgba(0,0,0,0.12);
          }
        }
        &label{
          font-size: 12px;
          line-height: 14px;
          color: #1D0046;
        }
        &title{
          font-size: 16px;
          line-height: 24px;
          color: #1D0046;
          letter-spacing: -0.4px;
          font-weight: bold;
          margin-top: 5px;
        }
        &logo{

        }
        &desc{
          font-size: 16px;
          line-height: 24px;
          color: #FFFFFF;
          margin-top: 24px;
        }
        &author{
          font-size: 14px;
          line-height: 24px;
          color: #FFFFFF;
          margin-top: 8px;
        }
      }
    }

    // =====================================================================
    // End: Cause Study
    // =====================================================================

    // =====================================================================
    // Start: Hero Article
    // =====================================================================
    &heroarticle {
      &__ {
        // ------------------------------------------------
        // Start: Layout
        // ------------------------------------------------
        &content {
          margin-top: 16px;

          @include fromTablet {

          }

          @include fromDesktop {
          }
        }

        &footer {
          margin-top: 45px;

          @include fromTablet {

          }

          @include fromDesktop {

          }
        }
        // ------------------------------------------------
        // End: Layout
        // ------------------------------------------------

        &title {
          @include basis;
          color: #EFEFF1;
          letter-spacing: -0.74px;
          font-size: 26px;
          line-height: 36px;

          @include fromTablet {
            font-size: 36px;
            line-height: 46px;
          }

          @include fromDesktop {
            font-size: 48px;
            letter-spacing: -1.54px;
            line-height: 58px;
          }
        }

        &desc {
          @include sfpro;
          color: rgba(255,255,255,0.8);
          font-size: 14px;
          line-height: 24px;
          margin-bottom: 0;

          & + & {
            margin-top: 10px;
          }

          // @include mobileToTablet {
          //   max-width: 400px;
          //   margin-left: auto;
          //   margin-right: auto;
          // }

          @include fromTablet {
            font-size: 16px;
            line-height: 24px;
            max-width: 530px;
          }

          @include fromDesktop {
            font-size: 16px;
            line-height: 24px;
            max-width: auto;
            // Page Custom
            max-width: 450px;

          }
        }
      }
    }
    // =====================================================================
    // End: Hero Article
    // =====================================================================

    // =====================================================================
    // Start: Section Article
    // =====================================================================
    &sectionarticle {
      & {
        // margin-bottom: 60px
      }

      &__ {
        // ------------------------------------------------
        // Start: Layout
        // ------------------------------------------------
        &content {
          margin-top: 8px;

          @include fromTablet {

          }

          @include fromDesktop {
            max-width: 500px;
            margin-left: auto;
            margin-right: auto;
          }
        }
        // ------------------------------------------------
        // End: Layout
        // ------------------------------------------------


        &title {
          @include basis;
          color: #1D0046;
          letter-spacing: -0.99px;
          font-size: 22px;
          line-height: 32px;

          @include fromTablet {
            font-size: 28px;
            line-height: 36px;
          }

          @include fromDesktop {
            font-size: 32px;
            line-height: 40px;
          }
        }

        &desc {
          color: rgba(0,0,30,0.8);
          @include sfpro;
          font-size: 16px;
          line-height: 24px;

          @include fromTablet {
            font-size: 16px;
            line-height: 24px;
          }

          @include fromDesktop {
            font-size: 16px;
            line-height: 24px;
          }
        }
      }
    }
    // =====================================================================
    // End: Section Article
    // =====================================================================

    // =====================================================================
    // Start: Article
    // =====================================================================
    &article {
      &__ {
        // ------------------------------------------------
        // Start: Layout
        // ------------------------------------------------
        &header {
          margin-bottom: 16px;
        }

        &content {
          margin-bottom: 16px;
        }
        // ------------------------------------------------
        // ENd: Layout
        // ------------------------------------------------

        &title {
          @include basis;
          color: #1D0046;
          font-weight: bold;
          font-size: 24px;
          line-height: 30px;
          letter-spacing: -0.28px;

          @include fromTablet {
            font-size: 26px;
            line-height: 30px;
          }

          @include fromDesktop {
            font-size: 32px;
            line-height: 40px;
            letter-spacing: -0.99px;
          }
        }

        &subtitle {
          @include basis;
          color: #1D0046;
          letter-spacing: -0.2px;
          font-size: 20px;
          line-height: 28px;

          @include fromTablet {
            font-size: 23px;
            line-height: 32px;
            letter-spacing: -0.71px;
          }
        }

        &desc {
          @include sfpro;
          color: rgba(0,0,30,0.8);
          font-size: 16px;
          line-height: 24px;
          margin-bottom: 0;

          & + & {
            margin-top: 10px;
          }
        }

        &link {
          color: #6C00F4;
          @include sfpro;
          font-size: 16px;
          font-weight: 500;
          line-height: 19px;
        }
      }
    }
    // =====================================================================
    // End: Article
    // =====================================================================

    // =====================================================================
    // Start: Feature
    // =====================================================================
    &feature {
      $feature: &;
      &s {
        &__ {
          &heading {
            @include basis;
            color: #1D0046;
            letter-spacing: -0.99px;

            font-size: 24px;
            line-height: 30px;
            margin-bottom: 30px;

            @include fromTablet {
              font-size: 32px;
              line-height: 40px;
              margin-bottom: 36px;
            }
          }


          &subheading {
            @include basis;
            color: #1D0046;
            letter-spacing: -0.25px;
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 20px;

            @include fromTablet {
              font-size: 20px;
              line-height: 30px;
            }

            @include fromDesktop {
              font-size: 24px;
              line-height: 30px;
              letter-spacing: -0.71px;
              margin-bottom: 36px;
            }
          }

          &list {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;

            &-- {
              &horizontal {
                @include fromTablet {
                  flex-wrap: nowrap;
                }

                #{$feature} {
                  @include fromTablet {
                    max-width: 305px;
                  }

                  @include fromDesktop {
                    max-width: 325px;
                  }
                }
              }
            }
          }
        }
      }

      & {
        display: flex;
        flex-flow: row wrap;
        margin-bottom: 36px;

        @include fromTablet {
          margin-bottom: 40px;
        }
      }

      &__ {

        &icon {
          flex: 0  1 24px;

          @include mobileToTablet {
            min-width: 16px;
            margin-top: 2px;
          }

          @include fromTablet {
            min-width: 24px;
          }
        }

        &icon + &content {
          margin-left: calc(24px / 2);

          @include fromTablet {
            margin-left: 24px;
          }
        }
        &content {
          display: flex;
          flex-flow: column nowrap;
        }

        &footer {
          margin-top: 8px;
        }

        &title {
          @include basis;
        	color: #1D0046;
          font-weight: bold;
          font-size: 16px;
          line-height: 18px;
          margin-bottom: 8px;

          @include fromDesktop {
            font-size: 18px;
            line-height: 22px;
          }
        }

        &desc {
          @include sfpro;
          color: rgba(0,0,30,0.8);
          font-size: 16px;
          line-height: 24px;
          margin-bottom: 0;

          & + & {
            margin-top: 10px;
          }

          @include fromDesktop {
            font-size: 16px;
            line-height: 24px;
          }
        }
      }
    }
    // =====================================================================
    // End: Feature
    // =====================================================================

    // =====================================================================
    // Start: Cta
    // =====================================================================
    &cta {
      $cta: &;

      & {
        // @include fromTablet {
        //   margin-top: 30px;
        //   margin-bottom: 30px;
        // }

        &-- {
          &as-button {
            display: flex;
            max-width: 580px;
            margin: 20px auto 32px;
            padding: 16px 24px;
            background-color: #fff;
            border: 1px solid #DCDBF6;
            border-radius: 300px;
            text-decoration: none;
            transition: all 0.16s ease-in;
            flex-flow: row wrap;

            @include mobileToTablet {
              padding: 8px 12px;
              align-items: center;
              justify-content: center;
            }

            @include fromTablet {
              flex-flow: row nowrap;
            }

            &:hover, &:focus {
              text-decoration: none;
              border-color: #fff;
              box-shadow: 0 0 14px 0 rgba(0,0,0,0.12), 0 14px 24px 0 rgba(0,0,0,0.12);
              transform: translateY(-3px);
              transition: all 0.24s ease-out;
            }

            #{$cta} {
              &__ {
                &header {
                  @include mobileToTablet {
                    margin-bottom: 5px;
                  }
                  @include fromTablet {
                    margin-right: 16px;
                  }
                }

                &label {
                  @include mobileToTablet {
                    font-size: 12px;
                    text-align: center;
                  }
                }

                &thumb {
                  max-width: 54px;
                }
              }
            }
          }
        }
      }

      &__ {
        &footer {
          display: flex;
          margin-top: 36px;
        }

        &label {
          @include basis;
          font-size: 16px;
          color: #1D0046;
        }

        &thumb {
          @include fromTablet {
            max-width: 60px;
            max-height: 26px;
          }
        }

        &title {
          color: #1D0046;
          text-align: center;
          font-weight: bold;

          font-size: 24px;
          line-height: 32px;
          letter-spacing: -0.08px;

          @include fromTablet {
            font-size: 32px;
            letter-spacing: -0.4px;
            line-height: 42px;
          }

          @include fromDesktop {
            font-size: 40px;
            letter-spacing: -1.08px;
            line-height: 53px;
          }
        }

        &actions {
          display: flex;
          align-items: center;
          margin: auto;
          font-weight: bold;

          @include mobileToTablet {
            flex-flow: column wrap;
            justify-content: center;
          }
        }

        &anchor {
          font-size: 18px;

          & + & {
            @include mobileToTablet {
              margin-top: 20px;
            }

            @include fromTablet {
              margin-left: 34px;
            }
          }
        }
      }
    }
    // =====================================================================
    // End: Cta
    // =====================================================================

    // =====================================================================
    // Start: PaymentGateways
    // =====================================================================
    &paygateway {
      &s {
        & {
          display: flex;
          flex-flow: column nowrap;
        }

        &__ {
          &top {
            margin-bottom: 5px;
          }

          &bottom {
            margin-top: 5px;
          }

          &list {
            position: relative;
            display: flex;
            margin-left: auto;
            margin-right: auto;
            align-items: center;
            justify-content: center;

            @include mobileToTablet {
              flex-flow: row wrap;
            }

            &:before,
            &:after {
              content: '';
              position: absolute;
              top: 0;
              width: 15%;
              max-width: 80px;
              height: 100%;
              z-index: 1;
              display: none;

              @include fromTablet {
                display: block;
              }
            }

            &:before {
              left: 0;
              background: linear-gradient(to right, #fff 0%, transparent 100%);
            }

            &:after {
              right: 0;
              background: linear-gradient(to left, #fff 0%, transparent 100%);
            }
          }

          &label {
            font-family: PTMono-Regular;
            color: #666678;
            text-align: center;

            font-size: 12px;
            line-height: 20px;

            @include fromTablet {
              font-size: 14px;
              line-height: 24px;
            }
          }
        }
      }

      & {
        @include mobileToTablet {
          margin: 0 14px 12px;
        }

        & + & {
          @include fromTablet {
            margin-left: 32px;
          }
        }


        &__ {
          &thumb {
            max-width: 100px;

            @include fromTablet {
              max-width: 128px;
            }
          }

          &img {
            max-height: 24px;
          }
        }
      }
    }
    // =====================================================================
    // End: PaymentGateways
    // =====================================================================
  }
}
//------------------------------------------------------------------------------
//  Slider
//------------------------------------------------------------------------------
.cj-slider{
  text-align: center;
  &__{
    &figure{
      position: relative;
      overflow: hidden;
      transform: translate3d(0, 0, 0);
      margin: 0 auto;
      &:after,
      &:before{
          content: '';
          width: 50px;
          height: 40px;
          display: inline-block;
          z-index: 1;
          position: absolute;
          top: 0;
      }
      &:after{
        right: 0;
        background: linear-gradient(270deg, #ffffff 0%, rgba(255,255,255,0) 100%);
      }
      &:before{
        left: 0;
        background: linear-gradient(90deg, #ffffff 0%, rgba(255,255,255,0) 100%);
      }
    }
  }
  &--{
      &billing{
          .cj-slider__figure{
              max-width: 450px;
          }
      }
  }
}
//------------------------------------------------------------------------------
//  Slick Slider
//------------------------------------------------------------------------------

.slick-slide {
  margin: 0px 15px;
  img {
    width: 100%;
  }
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
  &:focus {
    outline: none;
  }
  &.dragging {
    cursor: pointer;
    cursor: hand;
  }
}

.slick-slider {
  .slick-track, .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  &:before {
    display: table;
    content: '';
  }
  &:after {
    display: table;
    content: '';
    clear: both;
  }
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide {
  img {
    display: block;
  }
  &.slick-loading img {
    display: none;
  }
  &.dragging img {
    pointer-events: none;
  }
}

.slick-initialized .slick-slide {
  display: inline-block;
  vertical-align: middle;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: none;
}

.slick-arrow.slick-hidden {
  display: none;
}
.slick-slide div{
  width: inherit;
  height: 50px;
  background-size: contain;
}
.braintree_bg{
  background: transparent url("../images/home/jan-2019/payment-gateway/braintree.png") no-repeat center;
}
.gocardless_bg{
  background: transparent url("../images/home/jan-2019/payment-gateway/gocardless.png") no-repeat center;
}
.paypal_bg{
  background: transparent url("../images/home/jan-2019/payment-gateway/paypal.png") no-repeat center;
  background-size: 70px !important;
  background-position: center 7px !important;
}
.worldpay_bg{
  background: transparent url("../images/home/jan-2019/payment-gateway/worldpay.png") no-repeat center;
}