.modal {
  z-index: 10000; }
  .modal-content {
    border: 0;
    background: transparent;
    box-shadow: none; }
  .modal-body {
    padding: 0; }
  .modal-dialog {
    z-index: 1080; }
  .modal-backdrop.in {
    filter: alpha(opacity=70);
    opacity: 0.7; }
  .modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out; }
  .modal iframe {
    position: relative;
    z-index: 2; }

.ch-nav__item > a {
  color: #130d23; }

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
  color: #44435a;
  font-size: 14px; }
  @media (min-width: 768px) {
    body {
      font-size: 16px; } }

.cc-body {
  margin: 0;
  overflow: hidden;
  padding-bottom: 160px; }
  @media (min-width: 768px) {
    .cc-body {
      padding-bottom: 130px; } }

.clearfix:after {
  content: '';
  display: table;
  clear: both; }

.cw-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99; }
  .cw-header__inwrap {
    display: flex;
    padding: 15px; }
  .cw-header__right, .cw-header__left {
    display: flex; }
  .cw-header__right {
    margin-left: auto; }
  .cw-header__left {
    margin-right: auto; }
  .cw-header--invert .cw-nav .cw-link, .cw-header--invert .cw-nav .cw-link:hover {
    color: #fff; }
  .cw-header--invert .cw-nav .cw-link:hover {
    background-color: fade(#fff, 5%); }
  @media (min-width: 768px) {
    .cw-header__inwrap {
      padding: 24px; } }

.cw-nav__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  perspective: 300px; }

.cw-nav a, .cw-nav a:hover {
  color: #130d23; }

.cw-nav .cw-link {
  display: inline-block;
  position: relative;
  font-size: 13px;
  line-height: 15px;
  padding: 8px 15px;
  border-radius: 2px;
  transition: all 0.2s ease-out; }
  .cw-nav .cw-link, .cw-nav .cw-link:hover {
    text-decoration: none; }
  .cw-nav .cw-link:hover {
    background-color: fade(#130D23, 5%);
    border-radius: 2px;
    transform: translateZ(5px); }

@media (min-width: 992px) {
  .cw-nav .cw-link {
    font-size: 14px; } }

.cw-Mb-xxs {
  margin-bottom: 24px; }
  @media (min-width: 768px) {
    .cw-Mb-xxs {
      margin-bottom: 40px; } }
  @media (min-width: 992px) {
    .cw-Mb-xxs {
      margin-bottom: 60px; } }

.cw-Mb-xs {
  margin-bottom: 40px; }
  @media (min-width: 768px) {
    .cw-Mb-xs {
      margin-bottom: 60px; } }
  @media (min-width: 992px) {
    .cw-Mb-xs {
      margin-bottom: 100px; } }

.cw-Mb-s {
  margin-bottom: 120px; }

.cw-Mb-m {
  margin-bottom: 140px; }

.cw-Mb-l {
  margin-bottom: 48px; }
  @media (min-width: 768px) {
    .cw-Mb-l {
      margin-bottom: 74px; } }
  @media (min-width: 992px) {
    .cw-Mb-l {
      margin-bottom: 180px; } }

.cw-Mb-xl {
  margin-bottom: 60px; }
  @media (min-width: 768px) {
    .cw-Mb-xl {
      margin-bottom: 100px; } }
  @media (min-width: 992px) {
    .cw-Mb-xl {
      margin-bottom: 210px; } }

.cw-Mb-xxl {
  margin-bottom: 70px; }
  @media (min-width: 768px) {
    .cw-Mb-xxl {
      margin-bottom: 180px; } }
  @media (min-width: 992px) {
    .cw-Mb-xxl {
      margin-bottom: 240px; } }

.cw-Mt-xxs {
  margin-top: 60px; }

.cw-Mt-xs {
  margin-top: 100px; }

.cw-Mt-s {
  margin-top: 120px; }

.cw-Mt-m {
  margin-top: 40px; }
  @media (min-width: 768px) {
    .cw-Mt-m {
      margin-bottom: 80px; } }
  @media (min-width: 992px) {
    .cw-Mt-m {
      margin-bottom: 140px; } }

.cw-Mt-l {
  margin-top: 180px; }

.cw-Mt-xl {
  margin-top: 210px; }

.cw-Mt-xxl {
  margin-top: 240px; }

.cw-section.hero {
  position: relative;
  background-color: #EAE2DF; }
  @media (max-width: 575px) {
    .cw-section.hero {
      min-height: 315px; } }
  @media (min-width: 992px) {
    .cw-section.hero {
      max-height: 645px; } }
  @media (min-width: 1200px) {
    .cw-section.hero {
      min-height: 645px; } }

.cw-hero {
  margin-top: 35.5%;
  padding-bottom: 80px; }
  .cw-hero__inwrap {
    display: flex;
    flex-flow: column wrap; }
  .cw-hero__title {
    font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 23px;
    line-height: 28px;
    font-weight: bold;
    color: #130D23; }
  .cw-hero__footer {
    margin-top: 16px;
    display: flex;
    align-items: center; }
  .cw-hero__action + .cw-hero__action {
    margin-left: 24px; }
  .cw-hero__cta {
    font-size: 16px;
    font-weight: 500;
    color: black; }
    .cw-hero__cta:hover, .cw-hero__cta:focus {
      color: #000;
      text-decoration: underline; }
  .cw-hero__link {
    background: #fff;
    padding: 14px 24px;
    border-radius: 54px;
    display: inline-block;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    vertical-align: middle;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.5);
    transition: all .2s ease-out; }
    .cw-hero__link:before {
      content: '';
      background: url("https://www.chargebee.com/static/resources/careers/youtube.svg") no-repeat left center;
      width: 30px;
      min-height: 18px;
      height: 100%;
      display: inline-block;
      background-size: 26px;
      vertical-align: middle;
      margin-right: 3px; }
    .cw-hero__link:hover, .cw-hero__link:focus {
      text-decoration: none;
      box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 4px 8px 0 rgba(0, 0, 0, 0.24); }
    .cw-hero__link:hover {
      cursor: pointer; }
    .cw-hero__link .cw-hero__icon {
      display: inline-block;
      width: 30px;
      vertical-align: middle;
      margin-right: 9px; }
    .cw-hero__link .cw-name {
      display: inline-block; }
    .cw-hero__link:hover {
      color: #130d23; }
  .cw-hero.hero-as-img .cw-hero__title {
    opacity: 0;
    position: absolute; }
  @media (min-width: 768px) {
    .cw-hero__title {
      font-size: 40px;
      line-height: 48px;
      letter-spacing: -1px; } }
  @media (min-width: 992px) {
    .cw-hero {
      margin-top: 35.5%; }
      .cw-hero__title {
        font-size: 56px;
        line-height: 68px; } }

.cw-bottomnav {
  display: flex;
  flex-flow: column wrap;
  perspective: 100px;
  perspective-origin: center center; }
  .cw-bottomnav__link {
    display: inline-flex;
    flex: 1 1 auto;
    flex-flow: column nowrap;
    padding: 20px 22px;
    border: 1px solid #E2E2E2;
    color: #130D23;
    border-radius: 4px;
    transform: translateZ(0);
    transform-origin: center center; }
    .cw-bottomnav__link, .cw-bottomnav__link:hover {
      text-decoration: none; }
    .cw-bottomnav__link:hover {
      background: #5110B1;
      color: white;
      transform: translateZ(1px); }
      .cw-bottomnav__link:hover .cw-link__desc {
        color: fade(white, 75%); }
    .cw-bottomnav__link:first-child + .cw-bottomnav__link:last-child {
      border-left-width: 1px; }
    .cw-bottomnav__link + .cw-bottomnav__link {
      margin-top: 8px; }
  .cw-bottomnav .cw-link__title {
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 5px; }
  .cw-bottomnav .cw-link__desc {
    font-size: 12px;
    color: fade(#44435A, 75%); }
  @media (min-width: 768px) {
    .cw-bottomnav__link {
      padding: 32px 75px;
      text-align: center; }
    .cw-bottomnav .cw-link__title {
      font-size: 20px;
      margin-bottom: 9px; }
    .cw-bottomnav .cw-link__desc {
      font-size: 16px; }
    .cw-bottomnav + .cw-bottomnav {
      margin-top: 24px; } }
  @media (min-width: 992px) {
    .cw-bottomnav {
      flex-flow: row nowrap; }
      .cw-bottomnav__link:first-child {
        border-radius: 4px 0 0 4px; }
      .cw-bottomnav__link:last-child {
        border-radius: 0 4px 4px 0; }
      .cw-bottomnav__link:first-child + .cw-bottomnav__link:last-child {
        border-left-width: 0; }
      .cw-bottomnav__link + .cw-bottomnav__link {
        margin-top: 0; } }

.cw-pagetab {
  position: relative;
  display: inline-block;
  padding: 24px;
  font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 500;
  color: #130D23;
  white-space: nowrap; }
  .cw-pagetab, .cw-pagetab:hover, .cw-pagetab:focus {
    text-decoration: none; }
  .cw-pagetabs {
    position: absolute;
    width: 100%;
    background: #FFF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden; }
    .cw-pagetabs:before, .cw-pagetabs:after {
      content: '';
      position: absolute;
      height: 100%;
      width: 30px;
      top: 0;
      z-index: 1; }
    .cw-pagetabs:before {
      left: 0;
      background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%) 0 0 no-repeat; }
    .cw-pagetabs:after {
      right: 0;
      background: linear-gradient(to left, white 0%, rgba(255, 255, 255, 0) 100%) 0 0 no-repeat; }
    .cw-pagetabs.sticky {
      position: fixed;
      top: 0;
      z-index: 9999; }
    .cw-pagetabs__inwrap {
      display: flex;
      align-items: center;
      margin-right: -15px;
      margin-left: -10px; }
  .cw-pagetab:before, .cw-pagetab:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 46%;
    height: 2px;
    background: #FC5500;
    opacity: 0;
    transform-origin: bottom center;
    transition: transform 0.18s cubic-bezier(1, 0.43, 0, 0.83), opacity 0.12s ease-in; }
  .cw-pagetab:before {
    left: 5%;
    transform: translateX(-50px); }
  .cw-pagetab:after {
    right: 5%;
    transform: translateX(50px); }
  .cw-pagetab.active, .cw-pagetab:hover {
    color: #FC5500; }
    .cw-pagetab.active:before, .cw-pagetab.active:after, .cw-pagetab:hover:before, .cw-pagetab:hover:after {
      opacity: 1;
      transform: translateX(0);
      transition: transform 0.15s cubic-bezier(1, 0.43, 0, 0.83), opacity 0.2s ease-out; }
  @media (max-width: 767px) {
    .cw-pagetabs__inwrap {
      overflow: auto; } }
  @media (min-width: 768px) {
    .cw-pagetab {
      font-size: 14px;
      padding: 24px; }
      .cw-pagetab__inwrap {
        margin-right: 0; } }
  @media (min-width: 992px) {
    .cw-pagetab {
      font-size: 16px; } }

.cw-quote {
  margin-left: -15px;
  margin-right: -15px; }
  .cw-quote__wrap {
    display: flex;
    flex-flow: row wrap; }
  .cw-quote__authorprofile {
    width: 180px;
    margin-left: -30px; }
  .cw-quote__authorprofile + .cw-quote__authorinfo {
    margin-left: 12px;
    margin-top: 30px; }
    .cw-quote__authorprofile + .cw-quote__authorinfo .cw-quote__authorname {
      display: block;
      color: #130D23;
      font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-size: 13px;
      font-weight: 700;
      line-height: 20px;
      margin-bottom: 4px; }
    .cw-quote__authorprofile + .cw-quote__authorinfo .cw-quote__authordesignation {
      display: block;
      color: #130D23;
      font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-size: 12px; }
  .cw-quote__content {
    display: flex;
    margin-left: 30px;
    margin-top: -60px;
    max-width: 420px;
    padding: 20px 32px;
    background: #5110B1;
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    color: #fff;
    align-items: flex-start; }
    .cw-quote__content-inwrap {
      position: relative;
      width: 90%; }
    .cw-quote__content .cw-quote__authorinfo {
      margin-top: 20px; }
    .cw-quote__content .cw-quote__authorname,
    .cw-quote__content .cw-quote__authordesignation {
      display: inline-block;
      font-size: 11px;
      line-height: 18px;
      color: fade(#fff, 75%); }
  .cw-quote__icon {
    display: none; }
  .cw-quote__icon + .cw-quote__content-inwrap {
    margin-left: 0; }
  .cw-quote__desc {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: -0.2px; }
  @media (min-width: 768px) {
    .cw-quote {
      margin-right: 0;
      margin-left: 0; }
      .cw-quote__authorprofile {
        width: 240px; }
      .cw-quote__authorprofile + .cw-quote__authorinfo {
        margin-left: 30px;
        margin-top: 60px; }
        .cw-quote__authorprofile + .cw-quote__authorinfo .cw-quote__authorname {
          font-size: 32px;
          line-height: 36px;
          margin-bottom: 4px; }
        .cw-quote__authorprofile + .cw-quote__authorinfo .cw-quote__authordesignation {
          font-size: 20px; }
      .cw-quote__content {
        padding: 32px 48px;
        max-width: 660px;
        margin-left: auto;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        margin-top: calc(-150px / 2); }
        .cw-quote__content .cw-quote__authorname,
        .cw-quote__content .cw-quote__authordesignation {
          font-size: 14px;
          color: fade(#fff, 75%); }
        .cw-quote__icon + .cw-quote__content-inwrap {
          width: calc(100% - 100px); }
      .cw-quote__desc {
        font-size: 24px;
        line-height: 36px; }
      .cw-quote__icon {
        display: inline-flex; }
      .cw-quote__icon + .cw-quote__content-inwrap {
        margin-left: 24px; } }
  @media (min-width: 992px) {
    .cw-quote {
      margin-right: 0;
      margin-left: 0; }
      .cw-quote__authorprofile {
        width: 350px; }
      .cw-quote__authorprofile + .cw-quote__authorinfo {
        margin-left: 30px;
        margin-top: 80px; }
        .cw-quote__authorprofile + .cw-quote__authorinfo .cw-quote__authorname {
          font-size: 32px;
          line-height: 36px;
          margin-bottom: 4px; }
        .cw-quote__authorprofile + .cw-quote__authorinfo .cw-quote__authordesignation {
          font-size: 20px; }
      .cw-quote__content {
        padding: 32px 48px;
        max-width: 660px;
        margin-top: calc(-230px / 2); }
        .cw-quote__content .cw-quote__authorname,
        .cw-quote__content .cw-quote__authordesignation {
          font-size: 14px;
          color: fade(#fff, 75%); }
        .cw-quote__icon + .cw-quote__content-inwrap {
          width: calc(100% - 100px); }
      .cw-quote__desc {
        font-size: 24px;
        line-height: 36px; }
      .cw-quote__icon + .cw-quote__content-inwrap {
        margin-left: 24px; } }
  @media (min-width: 768px) {
    .cw-quote.longquote .cw-quote__content {
      padding: 40px 60px; }
    .cw-quote.longquote .cw-quote__desc {
      font-size: 20px;
      line-height: 28px; } }
  .cw-quote.align-img-right .cw-quote__content {
    order: 3;
    margin-right: auto; }
  @media (min-width: 768px) {
    .cw-quote.align-img-right .cw-quote__authorprofile {
      order: 3;
      margin-left: auto;
      margin-right: -8.333%; }
    .cw-quote.align-img-right .cw-quote__authorinfo {
      order: 2;
      margin-left: auto; }
    .cw-quote.align-img-right .cw-quote__content {
      margin-left: 0; } }
  @media (min-width: 992px) {
    .cw-quote.align-img-right .cw-quote__authorprofile {
      order: 3;
      margin-left: auto;
      margin-right: 0; }
    .cw-quote.align-img-right .cw-quote__authorinfo {
      order: 2;
      margin-left: auto; }
    .cw-quote.align-img-right .cw-quote__content {
      margin-left: 0; } }
  .cw-quote.variantB .cw-quote__authorprofile {
    width: 300px; }
  @media (min-width: 768px) {
    .cw-quote.variantB .cw-quote__authorprofile {
      width: 570px; }
    .cw-quote.variantB .cw-quote__content {
      margin-top: calc(-400px / 3); } }
  @media (min-width: 992px) {
    .cw-quote.variantB .cw-quote__authorprofile {
      width: 720px; }
    .cw-quote.variantB .cw-quote__content {
      margin-top: calc(-400px / 3); } }
  .cw-quote.variantC .cw-quote__authorprofile {
    width: 330px; }
  .cw-quote.variantC .cw-quote__content {
    width: 540px;
    margin-top: calc(-200px / 3); }
  @media (min-width: 768px) {
    .cw-quote.variantC .cw-quote__authorprofile {
      width: 500px;
      margin-right: 0;
      margin-left: 0; }
    .cw-quote.variantC .cw-quote__content {
      width: 540px;
      margin-top: calc(-400px / 3);
      margin-left: auto;
      margin-right: 0; } }
  @media (min-width: 992px) {
    .cw-quote.variantC .cw-quote__authorprofile {
      width: 500px;
      margin-right: 0;
      margin-left: auto; }
    .cw-quote.variantC .cw-quote__content {
      width: 540px;
      margin-top: calc(-400px / 3);
      margin-left: 0;
      margin-right: auto; } }

.cw-features {
  display: flex;
  flex-flow: column wrap; }

.cw-feature__item {
  flex: 1 1 auto;
  width: 95%;
  max-width: 95%;
  margin-bottom: 30px; }

.cw-feature {
  display: flex;
  flex-flow: row wrap; }

.cw-feature__icon {
  width: 20px;
  height: 20px;
  flex: 0 1 auto;
  margin-top: 5px; }

.cw-feature__content {
  flex-flow: column wrap;
  flex: 0 1 calc(100% - 36px); }

.cw-feature__icon + .cw-feature__content {
  padding-left: 16px; }

.cw-feature__name {
  font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #130d23;
  margin-bottom: 4px; }

.cw-feature__desc {
  color: #44435A;
  font-size: 14px;
  line-height: 21px; }

@media (min-width: 768px) {
  .cw-feature__item {
    width: 50%;
    max-width: 50%;
    margin-bottom: 60px; }
    .cw-feature__item:nth-child(even) {
      padding-left: 30px; }
    .cw-feature__item:nth-child(odd) {
      padding-right: 10px; }
  .cw-feature__icon {
    width: 40px;
    height: 40px; }
  .cw-feature__content {
    flex: 0 1 calc(100% - 40px); }
  .cw-feature__name {
    font-size: 18px;
    line-height: 24px; }
  .cw-feature__desc {
    font-size: 14px;
    line-height: 22px; }
  .cw-features {
    flex-flow: row wrap; }
  .cw-feature__icon + .cw-feature__content {
    padding-left: 30px; } }

.cw-gallery {
  margin-left: -30px;
  margin-right: -30px; }
  .cw-gallery__inwrap {
    display: flex;
    flex-flow: row wrap; }
  .cw-gallery__item {
    width: calc(100%/2);
    padding-bottom: 1px;
    padding-right: 1px; }
  .cw-gallery__imgwrap {
    position: relative; }
  @media (min-width: 768px) {
    .cw-gallery__item {
      width: calc(100%/3); } }
  .cw-gallery.variantA .cw-gallery__item:last-child {
    flex: 2 1 100%; }
  @media (min-width: 768px) {
    .cw-gallery.variantA .cw-gallery__item {
      width: calc(100%/2); }
      .cw-gallery.variantA .cw-gallery__item:last-child {
        flex: 2 1 calc(100%/2); } }
  @media (min-width: 992px) {
    .cw-gallery.variantA .cw-gallery__item {
      width: calc(100%/3); } }
  .cw-gallery.variantB .cw-gallery__item:first-child {
    flex: 2 1 100%; }
  @media (min-width: 768px) {
    .cw-gallery.variantB .cw-gallery__item:first-child {
      flex: 2 1 calc(100%/2); } }

.cw-article__title, .cw-article__heading, .cw-article__subheading {
  font-weight: 700;
  color: #130D23; }

.cw-article__media {
  width: 70px;
  margin-bottom: 16px; }

.cw-article__title {
  font-size: 14px;
  line-height: 16px; }

.cw-article__desc {
  color: #44435A;
  font-size: 11px;
  line-height: 17px; }

.cw-article__heading {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 12px; }

.cw-article__subheading {
  font-size: 18px;
  line-height: 24px; }

.cw-article__list {
  list-style: none;
  margin-top: 24px;
  padding-left: 1.2em; }
  .cw-article__list > li {
    font-size: 11px;
    line-height: 0; }
    .cw-article__list > li:before {
      content: "\2022";
      color: #5110B1;
      display: inline-block;
      width: 1em;
      font-size: 20px;
      margin-left: -1em; }
  .cw-article__list > li + li {
    margin-top: 28px; }

@media (min-width: 768px) {
  .cw-article__media {
    width: 90px;
    margin-bottom: 36px; }
  .cw-article__subheading {
    font-size: 20px;
    line-height: 32px; }
  .cw-article__heading {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 12px; }
  .cw-article__title {
    font-size: 40px;
    line-height: 46px; }
  .cw-article__desc {
    font-size: 18px;
    line-height: 28px; }
  .cw-article--align-center {
    text-align: center; }
  .cw-article__list {
    list-style: none;
    margin-top: 30px;
    padding-left: 1.2em; }
    .cw-article__list > li {
      font-size: 16px;
      line-height: 24px; }
      .cw-article__list > li:before {
        content: "\2022";
        color: #5110B1;
        display: inline-block;
        width: 1em;
        font-size: 20px;
        margin-left: -1em; }
    .cw-article__list > li + li {
      margin-top: 28px; } }

@media (min-width: 992px) {
  .cw-article__media {
    width: 120px;
    margin-bottom: 45px; }
  .cw-article__title {
    font-size: 40px;
    line-height: 46px; }
  .cw-article__desc {
    font-size: 18px;
    line-height: 28px; }
  .cw-article--align-center {
    text-align: center; } }

.cw-cta__inwrap {
  display: flex;
  flex-flow: column wrap;
  text-align: center; }

.cw-cta__title {
  font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.6px;
  color: #130D23; }

.cw-cta__footer {
  margin-top: 24px; }

.cw-cta__link {
  display: inline-block;
  color: #000;
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: -0.4px;
  vertical-align: middle; }
  .cw-cta__link, .cw-cta__link:hover {
    text-decoration: none; }
  .cw-cta__link:hover, .cw-cta__link:focus {
    color: #000; }
  .cw-cta__link-icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px; }

.cw-cta__btn {
  display: inline-block;
  border: 1px solid #FC5500;
  border-radius: 62px;
  padding: 12px 24px;
  font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 13px;
  font-weight: 700;
  transition: all 150ms ease-in; }
  .cw-cta__btn, .cw-cta__btn:hover, .cw-cta__btn:focus {
    color: #FC5500;
    text-decoration: none; }
  .cw-cta__btn:hover {
    background-color: #FC5500;
    color: #fff;
    transition: all 200ms ease-out; }

@media (min-width: 768px) {
  .cw-cta__title {
    font-size: 40px;
    line-height: 66px;
    letter-spacing: -1.4px; }
  .cw-cta__btn {
    padding: 14px 50px;
    font-size: 16px; } }

@media (min-width: 992px) {
  .cw-cta__title {
    font-size: 56px; } }

.cw-lead {
  margin-bottom: 24px; }
  .cw-lead__heading {
    font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: -0.2px;
    color: #130d23; }
  .cw-lead.normal .cw-lead__heading {
    font-weight: normal; }
  @media (min-width: 768px) {
    .cw-lead__heading {
      font-size: 20px;
      line-height: 30px; } }
  @media (min-width: 992px) {
    .cw-lead__heading {
      font-size: 24px;
      line-height: 36px; } }

.custom-cta {
  position: relative;
  display: block;
  perspective: 300px;
  padding: 10px 10px 16px; }
  .custom-cta, .custom-cta:hover, .custom-cta:focus, .custom-cta:active {
    color: #230D4D; }
  .custom-cta__wrap {
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    padding: 30px 24px;
    background-color: #fff;
    transition: all 0.2s ease-out; }
  .custom-cta:hover .custom-cta__wrap {
    transform: translateY(-8px);
    box-shadow: 0 6px 21px 0 rgba(0, 0, 0, 0.2); }
  .custom-cta__linkname {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.4px;
    color: #230D4D; }
  .custom-cta__desc {
    font-size: 12px;
    line-height: 18px;
    width: 80%;
    color: fade(#230D4D, 78%); }
  @media (min-width: 768px) {
    .custom-cta__wrap {
      padding: 30px 70px 24px 32px; }
    .custom-cta__linkname {
      font-size: 36px; }
    .custom-cta__desc {
      font-size: 14px;
      line-height: 24px;
      width: 100%; } }
  @media (min-width: 992px) {
    .custom-cta__wrap {
      background: #fff url("../images/careers/work-cta-bg.png") top right no-repeat;
      background-size: contain; }
    .custom-cta__desc {
      width: 60%; } }

.gallery-imgA, .gallery-imgB {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 64px 52px; }

.gallery-imgA {
  background: #5110B1; }
  .gallery-imgA span:first-child {
    display: block;
    font-size: 32px;
    line-height: 40px;
    font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 700;
    color: fade(#fff, 70%); }
  .gallery-imgA span:last-child {
    display: block;
    font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 84px;
    font-weight: 700;
    line-height: 90px;
    color: #fff; }

.gallery-imgB {
  color: #130D23; }
  .gallery-imgB .img-responsive {
    width: 50 !important; }
  .gallery-imgB .title {
    display: block;
    font-size: 32px;
    line-height: 40px;
    font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 700; }
  .gallery-imgB .desc {
    display: block;
    font-size: 14px; }
  @media (min-width: 992px) {
    .gallery-imgB .img-responsive {
      width: 120 !important; } }

.cw-card {
  background: #090707;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 3px 6px 10px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  padding: 48px 30px 18px 60px;
  display: block;
  max-width: 920px;
  margin: 20px auto 24px;
  text-align: left; }

.cw-card__title {
  font-weight: bold;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  max-width: 420px; }

.cw-card__title span {
  color: #ff9c03; }

.cw-card__figure {
  max-width: 640px;
  margin-left: auto;
  margin-top: -100px; }

.cw-card__cta {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: inline-block;
  padding: 12px 0px;
  margin-top: 10px; }

@media (max-width: 991px) {
  .cw-card {
    padding: 48px 24px;
    border-radius: 6px; }
  .cw-card__title {
    font-size: 22px;
    line-height: 26px; }
  .cw-card__figure {
    margin: 32px 0; }
  .cw-card__cta {
    font-size: 13px; } }
