body {
  font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@media (min-width: 576px) {
  .cw-md__Mt--xxs {
    margin-top: 40px;
  }
  .cw-md__Mt--l {
    margin-top: 175px;
  }
}
@media (min-width: 768px) {
  .cw-md__Mt--xxs {
    margin-top: 40px;
  }
  .cw-md__Mt--l {
    margin-top: 175px;
  }
}
.cw-section {
  padding: 0 10px;
  margin-bottom: 60px;
}
.cw-section--hero {
  background: #130D23;
}
@media (min-width: 768px) {
  .cw-section {
    padding: 0;
    margin-bottom: 100px;
  }
}
.cw-hero {
  padding: 140px 0 80px;
  color: #FFFFFF;
}
.cw-hero__title {
  font-weight: 600;
  font-size: 38px;
  letter-spacing: -0.8px;
  line-height: 40px;
}
.cw-hero__text {
  opacity: 0.7;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: -0.57px;
  line-height: 24px;
  margin: 0 auto;
}
.cw-hero__title + .cw-hero__content {
  margin-top: 20px;
}
@media (min-width: 768px) {
  .cw-hero {
    padding: 144px 0;
    text-align: center;
  }
  .cw-hero__title {
    font-size: 48px;
    letter-spacing: -0.8px;
    line-height: 60px;
  }
  .cw-hero__text {
    font-size: 28px;
    letter-spacing: -0.57px;
    line-height: 40px;
    max-width: 520px;
  }
  .cw-hero__title + .cw-hero__content {
    margin-top: 20px;
  }
}
@media (min-width: 992px) {
  .cw-hero__text {
    max-width: 100%;
  }
}
.cw-blk__title,
.cw-blk__subtitle {
  color: #02002F;
  font-weight: 600;
}
.cw-blk__title {
  letter-spacing: -0.47px;
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 12px;
}
.cw-blk__subtitle {
  letter-spacing: -0.73px;
  font-size: 26px;
  line-height: 32px;
}
.cw-blk__heading {
  color: #6336AC;
  font-weight: 600;
  letter-spacing: -0.59px;
  font-size: 22px;
}
.cw-blk__desc {
  color: #8C84A1;
  font-weight: normal;
  letter-spacing: -0.43px;
  font-size: 18px;
  line-height: 26px;
}
.cw-blk__desc--varB {
  color: #4A4A4A;
  font-weight: normal;
  letter-spacing: -0.5px;
  font-size: 18px;
  line-height: 26px;
}
.cw-blk__text {
  color: #787575;
  font-weight: normal;
  letter-spacing: -0.53px;
  font-size: 16px;
  line-height: 24px;
}
.cw-blk__text__varB {
  font-weight: 600;
  color: #696767;
  letter-spacing: -0.47px;
  font-size: 16px;
  line-height: 24px;
}
.cw-blk__content + .cw-blk__content {
  margin-top: 48px;
}
.cw-blk__heading + .cw-blk__text {
  margin-top: 20px;
}
.cw-blk__subtitle + .cw-blk__content {
  margin-top: 16px;
}
.cw-blk__text + .cw-blk__text {
  margin-top: 20px;
}
@media (min-width: 768px) {
  .cw-blk__title {
    font-size: 26px;
    line-height: 38px;
  }
  .cw-blk__subtitle {
    font-size: 36px;
    letter-spacing: -0.73px;
    line-height: 52px;
  }
  .cw-blk__heading {
    font-weight: 600;
    font-size: 24px;
    color: #6336AC;
    letter-spacing: -0.59px;
  }
  .cw-blk__desc {
    font-weight: normal;
    font-size: 20px;
    color: #8C84A1;
    letter-spacing: -0.43px;
    line-height: 30px;
  }
  .cw-blk__desc--varB {
    font-weight: normal;
    font-size: 24px;
    color: #4A4A4A;
    letter-spacing: -0.5px;
    line-height: 36px;
  }
  .cw-blk__text {
    font-weight: normal;
    font-size: 18px;
    color: #787575;
    letter-spacing: -0.53px;
    line-height: 29px;
  }
  .cw-blk__text__varB {
    font-weight: 600;
    font-size: 16px;
    color: #696767;
    letter-spacing: -0.47px;
    line-height: 23.92px;
  }
  .cw-blk__content + .cw-blk__content {
    margin-top: 48px;
  }
  .cw-blk__heading + .cw-blk__text {
    margin-top: 20px;
  }
  .cw-blk__subtitle + .cw-blk__content {
    margin-top: 16px;
  }
  .cw-blk__text + .cw-blk__text {
    margin-top: 20px;
  }
}
@media (min-width: 992px) {
  .cw-blk__title {
    font-size: 42px;
    line-height: 56px;
  }
}
.cw-metric {
  margin-top: 30px;
}
.cw-metric__title {
  font-weight: 600;
  color: #6D6C6D;
  letter-spacing: -0.67px;
  font-size: 28px;
}
.cw-metric__subtitle {
  color: #6D6C6D;
  letter-spacing: -0.67px;
  font-size: 16px;
  line-height: 24px;
}
.cw-metric__desc {
  color: #6D6C6D;
  letter-spacing: -0.67px;
  font-size: 16px;
  line-height: 24px;
}
@media (min-width: 992px) {
  .cw-metric__title {
    font-size: 36px;
  }
  .cw-metric__desc {
    font-size: 16px;
    line-height: 23px;
  }
  .cw-metric__subtitle {
    font-size: 20px;
    line-height: 30px;
  }
}
.cw-note {
  position: relative;
  padding-bottom: 10px;
}
.cw-note:before {
  content: '';
  width: 40%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  border: 1px solid rgba(151, 151, 151, 0.22);
}
@media (min-width: 768px) {
  .cw-note__desc {
    font-size: 14px;
    color: #696767;
    letter-spacing: -0.35px;
    line-height: 21px;
  }
}
.cw-feature {
  position: relative;
}
.cw-feature__thumb {
  position: absolute;
  top: 8px;
  left: -32px;
  width: 24px;
}
.cw-feature__title {
  font-weight: 600;
  font-size: 24px;
  color: #130D23;
  letter-spacing: -0.59px;
  line-height: 32px;
}
.cw-feature__text {
  font-weight: normal;
  font-size: 16px;
  color: #696767;
  letter-spacing: -0.47px;
  line-height: 23.92px;
}
.cw-feature__title + .cw-feature__content {
  margin-top: 28px;
}
.cw-feature + .cw-feature {
  margin-top: 40px;
}
@media (min-width: 768px) {
  .cw-feature {
    min-height: 240px;
  }
  .cw-feature__thumb {
    left: -39px;
    width: 24px;
  }
  .cw-feature__title {
    font-size: 20px;
    line-height: 30px;
  }
  .cw-feature__text {
    font-weight: normal;
    font-size: 16px;
    color: #696767;
    letter-spacing: -0.47px;
    line-height: 23.92px;
  }
  .cw-feature__title + .cw-feature__content {
    margin-top: 18px;
  }
}
@media (min-width: 992px) {
  .cw-feature__thumb {
    left: -51px;
    width: 36px;
  }
  .cw-feature__title {
    font-size: 26px;
    line-height: 32px;
  }
  .cw-feature__title + .cw-feature__content {
    margin-top: 28px;
  }
}
.cw-cta__header {
  color: #02002F;
  font-weight: 600;
  letter-spacing: -0.54px;
  font-size: 32px;
  line-height: 38px;
}
.cw-cta__text {
  opacity: 0.7;
  font-weight: normal;
  color: #02002F;
  letter-spacing: -0.43px;
  font-size: 20px;
  line-height: 28px;
}
.cw-cta__header + .cw-cta__content {
  margin-top: 16px;
}
.cw-cta__content .cw-cta__actions {
  margin-top: 42px;
}
@media (min-width: 768px) {
  .cw-cta__header {
    font-size: 48px;
    line-height: 58px;
  }
  .cw-cta__text {
    font-size: 24px;
    line-height: 36px;
  }
  .cw-cta__header + .cw-cta__content {
    margin-top: 16px;
  }
  .cw-cta__content .cw-cta__actions {
    margin-top: 42px;
  }
}
