cpm-hidden {
  display: none !important;
  visibility: hidden !important; }

.cpm-link {
  color: #000FF0;
  font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 500; }
  .cpm-link:hover, .cpm-linkfocus {
    color: #000FF0;
    text-decoration: none; }
  .cpm-link--icon:after {
    content: '';
    display: inline-block;
    width: 12px;
    height: 10px;
    margin-left: 8px;
    background: url("../images/home/jan-2019/arrow/arrow.svg") center/contain no-repeat; }

.cpm-pt--xs {
  padding-top: 30px; }

.cpm-pt--sm {
  padding-top: 60px; }

.cpm-pt--md {
  padding-top: 90px; }

.cpm-pt--lg {
  padding-top: 120px; }

.cpm-pt--xl {
  padding-top: 180px; }

.cpm-pb--xs {
  padding-bottom: 30px; }

.cpm-pb--sm {
  padding-bottom: 60px; }

.cpm-pb--md {
  padding-bottom: 90px; }

.cpm-pb--lg {
  padding-bottom: 120px; }

.cpm-pb--xl {
  padding-bottom: 180px; }

.cpm-mt--xs {
  margin-top: 30px; }

.cpm-mt--sm {
  margin-top: 60px; }

.cpm-mt--md {
  margin-top: 90px; }
  @media (max-width: 767px) {
    .cpm-mt--md {
      margin-top: 30px; } }

.cpm-mt--lg {
  margin-top: 120px; }

.cpm-mt--xl {
  margin-top: 180px; }

.cpm-mb--xs {
  margin-bottom: 30px; }

.cpm-mb--sm {
  margin-bottom: 60px; }

.cpm-mb--md {
  margin-bottom: 90px; }
  @media (max-width: 767px) {
    .cpm-mb--md {
      margin-bottom: 30px; } }

.cpm-mb--lg {
  margin-bottom: 120px; }

.cpm-mb--xl {
  margin-bottom: 180px; }

.cpm-grid__container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 1199px) {
    .cpm-grid__container {
      max-width: 100%; } }
  @media (min-width: 1200px) and (max-width: 1399px) {
    .cpm-grid__container {
      max-width: 1170px; } }
  @media screen and (min-width: 1400px) {
    .cpm-grid__container {
      max-width: 1300px; } }

.cpm-btn {
  color: #3A008C;
  font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 20px;
  font-weight: 500;
  border-radius: 4px;
  background-color: #F5EAFF;
  display: inline-block;
  height: 54px;
  line-height: 54px;
  padding-left: 24px;
  padding-right: 24px;
  transition: 0.3s ease;
  position: relative; }
  .cpm-btn:after {
    content: '';
    display: inline-block;
    width: 16px;
    height: 14px;
    margin-left: 8px;
    transition: 0.3s ease;
    background: url("../images/home/jan-2019/arrow/button-arrow-purple.svg") center/contain no-repeat; }
  .cpm-btn:hover, .cpm-btn:focus {
    color: #3A008C;
    transition: 0.3s ease;
    text-decoration: none;
    border-color: transparent;
    background: #efd9ff; }
    .cpm-btn:hover:before, .cpm-btn:focus:before {
      transform: translate(1px, 1px);
      width: 100%;
      height: 100%; }
    .cpm-btn:hover:after, .cpm-btn:focus:after {
      transform: translateX(4px); }
  .cpm-btn--ghost {
    background: transparent;
    border: 1px solid #CCCCD2;
    color: #000FF0; }
    .cpm-btn--ghost:after {
      background: url("../images/home/jan-2019/arrow/arrow.svg") center/contain no-repeat; }
    .cpm-btn--ghost:hover, .cpm-btn--ghost:focus {
      color: #000FF0;
      background: #ffffff;
      border: 1px solid #000FF0; }

.cpm-hero {
  font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  grid-column: 1 / -1;
  position: relative; }
  .cpm-hero__container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    border-radius: 4px;
    text-align: center;
    min-height: auto;
    grid-row-gap: 0;
    padding: 0 20px 30px 20px;
    border-width: 0;
    margin-top: -20px; }
    @media (min-width: 768px) {
      .cpm-hero__container {
        padding: 0 20px 70px 20px; } }
    @media (min-width: 992px) {
      .cpm-hero__container {
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;
        min-height: calc(100vh - 210px);
        padding: 60px 30px;
        border: 1px solid #E0E0E4;
        margin-top: 0; } }
    @media (min-width: 1200px) {
      .cpm-hero__container {
        padding: 60px 45px; } }
    @media (min-width: 1400px) {
      .cpm-hero__container {
        padding: 60px 90px; } }
  .cpm-hero__nav {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 99; }
  .cpm-hero__list {
    display: inline-flex;
    justify-content: center;
    background: white;
    margin-bottom: -20px;
    border-width: 0 !important;
    left: 0;
    right: 0; }
  .cpm-hero__item > a {
    color: #000FF0;
    font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 20px;
    letter-spacing: -0.2px;
    line-height: 24px;
    border-width: 0 !important;
    border-radius: 0 !important;
    position: relative;
    font-weight: 500; }
    @media screen and (max-width: 767px) {
      .cpm-hero__item > a {
        font-size: 14px; } }
    .cpm-hero__item > a:hover, .cpm-hero__item > a:focus {
      background: transparent !important; }
      .cpm-hero__item > a:hover:after, .cpm-hero__item > a:focus:after {
        content: '';
        width: 5px;
        height: 5px;
        display: inline-block;
        background: #000FF0;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0px;
        margin: auto;
        border-radius: 50%; }
  .cpm-hero__item.active > a {
    font-weight: 500;
    color: #00000A !important;
    position: relative; }
    .cpm-hero__item.active > a:after {
      content: '';
      width: 5px;
      height: 5px;
      display: inline-block;
      background: #000FF0;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0px;
      margin: auto;
      border-radius: 50%; }
  .cpm-hero__header {
    margin-bottom: 48px; }
    @media (max-width: 991px) {
      .cpm-hero__header {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto; } }
  .cpm-hero__title {
    color: #00000A;
    font-size: 44px;
    font-weight: bold;
    letter-spacing: -1.28px;
    line-height: 50px;
    margin-bottom: 12px; }
    @media (max-width: 1199px) {
      .cpm-hero__title {
        font-size: 40px;
        line-height: 44px; } }
    @media (max-width: 991px) {
      .cpm-hero__title {
        font-size: 36px;
        line-height: 44px; } }
    @media (max-width: 767px) {
      .cpm-hero__title {
        font-size: 30px;
        line-height: 36px; } }
  .cpm-hero__highlight {
    position: relative;
    display: inline-block; }
    .cpm-hero__highlight:after {
      content: '';
      background: #ffe6ab;
      width: 0%;
      height: 20px;
      display: block;
      position: absolute;
      z-index: -1;
      bottom: 5px;
      left: 50%;
      transition: .4s ease-out;
      transform: translate3d(-50%, 0, 0); }
      @media (min-width: 768px) and (max-width: 1199px) {
        .cpm-hero__highlight:after {
          height: 15px; } }
      @media (max-width: 767px) {
        .cpm-hero__highlight:after {
          height: 12px; } }
    .cpm-hero__highlight--active:after {
      width: 104%; }
  .cpm-hero__desc {
    font-size: 20px; }
    @media (max-width: 767px) {
      .cpm-hero__desc {
        font-size: 16px; } }
  @media (max-width: 991px) {
    .cpm-hero__figure {
      padding: 20px 0; } }
  @media (max-width: 991px) {
    .cpm-hero__figure img {
      width: 100%;
      max-width: 480px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .cpm-hero__figure img {
      margin-top: 20px; } }
  .cpm-hero--footer .cpm-hero__container {
    border: 0;
    min-height: auto;
    grid-template-columns: repeat(12, 1fr);
    padding: 0; }
  .cpm-hero--footer .cpm-hero__body {
    grid-column: 2 / 12; }
    @media (min-width: 768px) {
      .cpm-hero--footer .cpm-hero__body {
        grid-column: 3 / 11; } }
    @media (min-width: 1300px) {
      .cpm-hero--footer .cpm-hero__body {
        grid-column: 4 / 10; } }
  .cpm-hero--footer .cpm-hero__title {
    font-size: 24px;
    line-height: 32px; }
  @media (min-width: 768px) {
    .cpm-hero--footer .cpm-hero__actions {
      display: flex;
      justify-content: center; }
    .cpm-hero--footer .cpm-hero__action:not(:first-child) {
      margin-left: 12px; } }
  @media (max-width: 767px) {
    .cpm-hero--footer .cpm-hero__action:not(:first-child) {
      margin-top: 20px; } }

.cpm-features {
  grid-column: 1 / -1; }
  .cpm-features__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 5px; }
    @media (min-width: 768px) {
      .cpm-features__container {
        column-gap: 20px; } }
  .cpm-features__header {
    grid-column: 2 / 12;
    margin-bottom: 50px; }
    @media (min-width: 768px) and (max-width: 1200px) {
      .cpm-features__header {
        grid-column: 2 / 10;
        margin-bottom: 72px; } }
    @media (min-width: 1200px) {
      .cpm-features__header {
        grid-column: 2 / 9; } }
    @media (min-width: 1300px) {
      .cpm-features__header {
        grid-column: 2 / 8; } }
  .cpm-features__body {
    grid-column: 2 / 12;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .cpm-features__title {
    color: #00000A;
    font-size: 32px;
    font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: bold;
    letter-spacing: -0.6px;
    line-height: 42px; }
    @media (max-width: 767px) {
      .cpm-features__title {
        font-size: 24px;
        line-height: 32px; } }

.cpm-feature {
  flex: 1 1 100%;
  max-width: 450px; }
  @media (min-width: 768px) {
    .cpm-feature {
      flex: 1 1 50%; } }
  @media (min-width: 768px) and (max-width: 1199px) {
    .cpm-feature:nth-child(even) {
      padding-left: 40px; } }
  .cpm-feature:not(:last-child) {
    margin-bottom: 50px; }
  @media (max-width: 767px) {
    .cpm-feature:not(:last-child) {
      margin-bottom: 24px; } }

.cpm-feature__heading {
  color: #00000A;
  font-size: 20px;
  font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: bold;
  line-height: 29px;
  margin-top: 0; }
  .cpm-feature__heading--alt {
    font-weight: 500;
    font-size: 18px;
    margin-top: -12px; }
  @media (min-width: 768px) {
    .cpm-feature__heading {
      font-weight: bold; } }

.cpm-feature__desc {
  color: #242438;
  margin-bottom: 20px; }

.cpm-feature__action {
  margin-bottom: 24px;
  display: inline-block; }

.cpm-article__header {
  margin-bottom: 40px; }

.cpm-article__content {
  margin-bottom: 36px; }

.cpm-article__title {
  color: #00000A;
  font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -0.6px;
  line-height: 42px;
  margin-bottom: 8px;
  margin-top: 0; }
  @media (max-width: 767px) {
    .cpm-article__title {
      font-size: 24px;
      line-height: 30px; } }

.cpm-article__heading {
  color: #00000A;
  font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
  font-weight: bold;
  line-height: 21px;
  margin-bottom: 8px;
  margin-top: 5px; }

.cpm-article__list {
  margin: 0;
  padding: 0; }
  @media (max-width: 767px) {
    .cpm-article__list {
      padding-left: 24px; } }

.cpm-article__item {
  margin-bottom: 8px; }

.cpm-article__desc {
  font-size: 16px; }

.cpm-article__figure {
  margin-bottom: 8px; }

.cpm-article__dot {
  text-align: center; }

.cpm-article--center {
  text-align: center; }

.cpm-article--flex {
  display: flex; }
  .cpm-article--flex .cpm-article__desc {
    margin-left: 16px;
    flex: 1; }

.cpm-main {
  grid-column: 1 / -1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  color: #242438;
  line-height: 19px; }

.cpm-tab {
  border: 1px solid #EFEFF1;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 1px 3px 6px 0 rgba(0, 0, 0, 0.06);
  position: relative; }
  .cpm-tabs li {
    background-color: #F5EAFF; }
    .cpm-tabs li.active a, .cpm-tabs li.active a:hover, .cpm-tabs li.active a:focus {
      background-image: none;
      background-color: #ffffff;
      border: none;
      color: #000000; }
    .cpm-tabs li.active:before {
      content: "";
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: 50%;
      margin-left: -3px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: #000FF0; }
    .cpm-tabs li a, .cpm-tabs li a:hover, .cpm-tabs li a:focus {
      background-image: none;
      background-color: #ffffff;
      border-radius: 0;
      border: none;
      margin: 0;
      color: #000FF0;
      font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-size: 20px;
      line-height: 24px;
      letter-spacing: -0.2px; }
  .cpm-tabs__head .nav-tabs {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    width: 100%; }
  .cpm-tabs__desc {
    color: #242438;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    max-width: 480px;
    margin: auto;
    margin-bottom: 70px; }
  .cpm-tab li {
    background-color: #F5EAFF; }
    .cpm-tab li.active a, .cpm-tab li.active a:hover, .cpm-tab li.active a:focus {
      border-radius: 4px;
      border: 1px solid #00000a;
      box-shadow: 0 -2px 0 0 #00000a inset;
      color: #000000; }
    .cpm-tab li.active:before {
      display: none; }
    .cpm-tab li a, .cpm-tab li a:hover, .cpm-tab li a:focus {
      background-color: #F5EAFF;
      border-radius: 0;
      margin: 0;
      border: 1px solid transparent;
      color: #3A008C;
      font-weight: 500;
      font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-size: 18px;
      line-height: 21px; }
      @media only screen and (max-width: 767px) {
        .cpm-tab li a, .cpm-tab li a:hover, .cpm-tab li a:focus {
          padding: 6px;
          font-size: 15px; } }
  .cpm-tab__head {
    margin-top: -22px; }
    .cpm-tab__head .nav-tabs {
      border: none;
      display: flex;
      align-items: center;
      justify-content: center; }
  .cpm-tab__body {
    padding-top: 60px; }
    @media only screen and (max-width: 767px) {
      .cpm-tab__body .tab-content {
        padding-left: 15px;
        padding-right: 15px; } }

.cpm-plan__title {
  font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 20px;
  letter-spacing: -0.2px;
  line-height: 30px;
  max-width: 320px;
  margin-bottom: 12px; }

.cpm-plan__desc {
  margin-bottom: 8px; }

.cpm-plan__heading {
  font-size: 13px;
  line-height: 20px; }

.cpm-plan__pay {
  font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 28px;
  line-height: 28px;
  font-weight: bold; }
  @media only screen and (max-width: 767px) {
    .cpm-plan__pay {
      font-size: 20px; } }

.cpm-plan__total, .cpm-plan__subTotal {
  padding-top: 16px;
  position: relative; }
  .cpm-plan__total::before, .cpm-plan__subTotal::before {
    content: "";
    height: 1px;
    position: absolute;
    background-color: #eee;
    margin-top: -26px;
    width: 100%; }
    @media only screen and (min-width: 992px) {
      .cpm-plan__total::before, .cpm-plan__subTotal::before {
        width: 250px;
        left: 50%;
        margin-left: -100px; } }

.cpm-plan__display {
  max-width: 380px; }

@media only screen and (max-width: 767px) {
  .cpm-plan__aside {
    margin-top: 24px; } }

.cpm-sliders__container {
  min-height: 100px;
  margin-top: 60px;
  overflow: hidden; }
  @media only screen and (max-width: 991px) {
    .cpm-sliders__container {
      text-align: center; } }

.cpm-flex__twoclmn {
  display: flex;
  align-items: center; }
  .cpm-flex__twoclmn > div {
    min-width: 70px; }
    @media only screen and (min-width: 992px) {
      .cpm-flex__twoclmn > div {
        min-width: 100px; } }
    .cpm-flex__twoclmn > div:last-child {
      margin-left: 20px; }
  .cpm-flex__twoclmn--spacebw {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px; }
    .cpm-flex__twoclmn--spacebw div:last-child {
      font-size: 16px;
      font-weight: 500; }
    @media only screen and (min-width: 992px) {
      .cpm-flex__twoclmn--spacebw {
        width: 80%; } }

.cpm-breakdown {
  margin-top: 60px;
  border-top: 1px solid #eee; }
  .cpm-breakdown__footer {
    padding: 30px 0; }
    @media (max-width: 991px) {
      .cpm-breakdown__footer {
        text-align: center; } }

.mTopXS {
  margin-top: 8px; }

.mTopMD {
  margin-top: 36px; }

.topZero {
  top: 0; }

.colorLink {
  color: #000FF0; }
  .colorLink small {
    font-size: 13px;
    line-height: 15px;
    color: #242438; }
  .colorLink strong {
    color: #000000; }
