.l-main__banner {
  background-color: #130D23;
  padding: 0;
}
.l-main__banner-xs {
  padding-bottom: 200px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .l-main__banner-xs {
    padding-bottom: 100px;
  }
}
@media (max-width: 767px) {
  .l-main__banner-xs {
    padding-bottom: 60px;
  }
}
.l-main__row-bg {
  overflow: hidden;
  position: relative;
  max-width: 2820px;
  margin: 0 auto;
  padding-bottom: 6%;
}
.l-main__row-lg:not(:first-child) {
  margin-top: 60px;
}
@media (min-width: 768px) {
  .l-main__row-lg:not(:first-child) {
    margin-top: 150px;
  }
}
@media (min-width: 1200px) {
  .l-main__row-lg:not(:first-child) {
    margin-top: 180px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .l-main__row-myxs {
    margin-top: 70px !important;
    margin-bottom: 70px;
  }
}
.cb-hero__header {
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .cb-hero__header {
    margin-bottom: 60px;
  }
}
.cb-hero__title {
  color: #FFFFFF;
  font-size: 26px;
  line-height: 36px;
  font-weight: bold;
  margin-bottom: 18px;
}
@media (min-width: 768px) {
  .cb-hero__title {
    font-size: 42px;
    line-height: 54px;
    margin-bottom: 24px;
  }
}
.cb-hero__heading {
  color: #130D23;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  margin-bottom: 15px;
  margin-top: 0;
}
@media (min-width: 768px) {
  .cb-hero__heading {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 15px;
  }
}
.cb-hero__subheading {
  color: #130D23;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .cb-hero__subheading {
    font-size: 21px;
    line-height: 30px;
  }
}
@media (max-width: 767px) {
  .cb-hero__subheading--xs {
    font-size: 20px;
    line-height: 27px;
  }
}
.cb-hero__subtitle {
  color: #FFFFFF;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .cb-hero__subtitle {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 24px;
  }
}
.cb-hero__desc {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  line-height: 21px;
  max-width: 540px;
  margin-top: 0;
  margin-bottom: 18px;
}
@media (min-width: 768px) {
  .cb-hero__desc {
    font-size: 16px;
    line-height: 24px;
    margin: 0 auto 18px;
  }
}
.cb-hero__list {
  max-width: 360px;
}
@media (max-width: 767px) {
  .cb-hero__list {
    padding-left: 20px;
  }
}
.cb-hero__list--num {
  counter-reset: my-counter;
  max-width: 450px;
}
.cb-hero__list--num .cb-hero__item:before {
  background: none;
  content: counter(my-counter);
  counter-increment: my-counter;
  font-size: 16px;
  font-weight: bold;
  color: #7864FF;
}
.cb-hero__item {
  position: relative;
  color: #44435A;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 15px;
  list-style: none;
}
.cb-hero__item:before {
  content: '';
  position: absolute;
  left: -24px;
  width: 12px;
  height: 12px;
  top: 0;
  background: url(../images/recurring-payments/cb-arrow.svg) no-repeat;
  background-size: contain;
}
.cb-hero__arrows {
  width: 35px;
  position: relative;
  height: 35px;
  margin: 50px auto 0;
  cursor: pointer;
}
@media (max-width: 767px) {
  .cb-hero--flex {
    padding: 120px 15px 100px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cb-hero--flex {
    text-align: center;
    padding-top: 150px;
    padding-bottom: 150px;
  }
}
@media (min-width: 992px) {
  .cb-hero--flex {
    padding: 180px 0 120px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .cb-hero--invert {
    padding-left: 4px;
    padding-right: 4px;
  }
}
.cb-hero--invert .cb-hero__title,
.cb-hero--invert .cb-hero__subtitle {
  color: #130D23;
}
.cb-hero--invert .cb-hero__desc {
  color: #44435A;
}
@media (max-width: 767px) {
  .cb-hero--cta {
    background: rgba(0, 0, 0, 0.05);
    margin-left: -15px;
    margin-right: -15px;
    text-align: center;
    padding: 29px 15px;
  }
}
.cb-hero--mt-md {
  margin-top: 0;
}
@media (min-width: 992px) and (max-width: 1599px) {
  .cb-hero--mt-md {
    margin-top: -250px;
  }
}
.cb-hero--mt-sm {
  margin-top: 20px;
}
@media (min-width: 768px) {
  .cb-hero--mt-sm {
    margin-top: 100px;
  }
}
.cb-main-img {
  position: relative;
  top: -80px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .cb-main-img {
    top: 100px;
  }
}
@media (min-width: 1200px) {
  .cb-main-img {
    top: 120px;
  }
}
@media (min-width: 1440px) {
  .cb-main-img {
    top: 200px;
  }
}
.cb-card {
  border: 0.5px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 30px 24px;
  text-align: center;
}
@media (min-width: 768px) {
  .cb-card {
    padding: 42px 33px;
  }
}
@media (max-width: 767px) {
  .cb-card {
    margin-bottom: 21px;
  }
}
.cb-card__title {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}
.cb-card__desc {
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  line-height: 18px;
  text-align: center;
}
@media (min-width: 768px) {
  .cb-card__desc {
    font-size: 14px;
    line-height: 21px;
  }
}
.cb-note--recurring > a {
  text-decoration: none;
}
@media (min-width: 768px) {
  .cb-note--recurring {
    margin-top: 240px;
  }
}
@media (min-width: 1200px) {
  .cb-note--recurring {
    margin-top: 240px;
    padding: 24px 28px;
    border-radius: 2px;
    transition: 0.3s ease;
  }
  .cb-note--recurring:hover,
  .cb-note--recurring:focus {
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.12), 0 14px 24px 0 rgba(0, 0, 0, 0.12);
  }
}
@media (max-width: 767px) {
  .cb-note--recurring {
    text-align: center;
    padding: 24px;
    margin: 70px -15px 0;
    background: rgba(0, 0, 0, 0.04);
  }
}
.cb-timeline {
  position: relative;
  margin-top: 40px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .cb-timeline {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}
@media (max-width: 767px) {
  .cb-timeline {
    display: flex;
    overflow: scroll;
    margin-right: -15px;
    margin-left: -15px;
    padding: 15px;
  }
}
.cb-timeline__item {
  position: relative;
  transition: 0.3s ease-out;
}
@media (min-width: 768px) {
  .cb-timeline__item:hover .cb-timeline__content,
  .cb-timeline__item:focus .cb-timeline__content {
    margin-left: 20px;
    margin-right: auto;
  }
  .cb-timeline__item:hover .cb-timeline__content:after,
  .cb-timeline__item:focus .cb-timeline__content:after {
    opacity: 0;
  }
  .cb-timeline__item:hover .cb-timeline__content--right,
  .cb-timeline__item:focus .cb-timeline__content--right {
    margin-right: 20px;
    margin-left: auto;
  }
  .cb-timeline__item:hover .cb-timeline__icon,
  .cb-timeline__item:focus .cb-timeline__icon {
    transform: scale(1.2);
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.1), 0 14px 24px 0 rgba(0, 0, 0, 0.1);
  }
}
@media (max-width: 767px) {
  .cb-timeline__item {
    min-width: 300px;
    max-width: 300px;
    margin-right: 15px;
  }
  .cb-timeline__item:first-child {
    margin-left: -15px;
  }
}
@media (min-width: 768px) {
  .cb-timeline__item + .cb-timeline__item {
    margin-top: -24px;
  }
}
@media (min-width: 768px) {
  .cb-timeline__item:not(:last-child) .cb-timeline__icon:after {
    content: '';
    width: 1px;
    height: 60px;
    display: block;
    margin: 30px auto;
    transition: 0.2s ease;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.15) 50%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.15) 50%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.15) 50%, rgba(0, 0, 0, 0) 100%);
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cb-timeline__item:not(:last-child) .cb-timeline__icon:after {
    height: 80px;
  }
}
.cb-timeline__icon {
  display: none;
  transition: 0.3s ease-out;
}
@media (min-width: 768px) {
  .cb-timeline__icon {
    display: block;
    margin-left: -26px;
    left: 50%;
    top: -30px;
    position: absolute;
    width: 62px;
    height: 62px;
    padding: 14px;
    text-align: center;
    background: #fff;
    border-radius: 50%;
    z-index: 1;
  }
}
.cb-timeline__content {
  background: #fff;
  box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.18);
  padding: 24px 35px;
  position: relative;
  border-radius: 2px;
  transition: 0.3s ease;
}
@media (max-width: 991px) {
  .cb-timeline__content {
    padding: 24px;
  }
}
@media (min-width: 768px) {
  .cb-timeline__content {
    width: 40%;
  }
}
@media (min-width: 768px) {
  .cb-timeline__content:after {
    content: '';
    position: absolute;
    top: 0;
    right: -17px;
    border: 18px solid transparent;
    border-top-color: #ffffff;
    -webkit-filter: drop-shadow(-6px 0px 2px rgba(0, 0, 0, 0.08));
    filter: drop-shadow(6px 0px 2px rgba(0, 0, 0, 0.08));
  }
}
.cb-timeline__content--right {
  margin-left: auto;
  margin-right: 0;
}
.cb-timeline__content--right:after {
  left: -17px;
  right: auto;
  -webkit-filter: drop-shadow(-6px 0px 2px rgba(0, 0, 0, 0.08));
  filter: drop-shadow(-6px 0px 2px rgba(0, 0, 0, 0.08));
}
.cb-timeline__title {
  color: #510fb1;
  font-weight: bold;
  font-size: 18px;
}
.cb-timeline__desc {
  color: #44435A;
  font-size: 14px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .cb-timeline__desc {
    max-width: 280px;
  }
}
.ca-nav {
  max-width: 300px;
}
.ca-nav__item > a {
  color: #9F9CA6;
  font-size: 14px;
  line-height: 16px;
  padding: 12px 24px !important;
}
.ca-nav__item > a:hover,
.ca-nav__item > a:focus {
  color: #44435A;
  background: transparent !important;
}
.ca-nav__item.active > a {
  color: #44435A;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  border-radius: 80px;
  background-color: #FFFFFF;
  box-shadow: 2px 8px 12px 0 rgba(0, 0, 0, 0.09), 0 1px 8px 0 rgba(0, 0, 0, 0.16);
}
.cb-arrow {
  opacity: 0;
  position: absolute;
  top: 50%;
}
.cb-arrow:before,
.cb-arrow:after {
  background: #fff;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
}
.cb-arrow:before {
  transform: rotate(45deg) translateX(-4px);
  transform-origin: top left;
}
.cb-arrow:after {
  transform: rotate(-45deg) translateX(4px);
  transform-origin: top right;
}
.cb-arrow--first {
  animation: arrow-movement 2s ease-in-out infinite;
}
.cb-arrow--second {
  animation: arrow-movement 2s 1s ease-in-out infinite;
}
@keyframes arrow-movement {
  0% {
    opacity: 0;
    top: -15%;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
