cr-hidden {
  display: none !important;
  visibility: hidden !important; }

a, a:hover, a:focus, a:active {
  text-decoration: none;
  outline: none; }

.cr-link {
  color: #000FF0;
  font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 500; }
  .cr-link:hover, .cr-linkfocus {
    color: #000FF0;
    text-decoration: none; }
  .cr-link--icon:after {
    content: '';
    display: inline-block;
    width: 12px;
    height: 10px;
    margin-left: 8px;
    background: url("../images/home/jan-2019/arrow/arrow.svg") center/contain no-repeat; }

section {
  margin: 60px 0; }
  section:first-child {
    margin: 0; }
  @media (min-width: 768px) {
    section {
      margin: 100px 0; } }
  @media (min-width: 992) {
    section {
      margin: 120px 0; } }

.cr-hero--bg {
  background-color: #010017;
  padding: 180px 0 280px 0; }
  @media (max-width: 767px) {
    .cr-hero--bg {
      padding: 40px 0;
      margin-top: 60px;
      margin-bottom: 40px; } }

.cr-hero__header {
  max-width: 520px; }

.cr-hero__title {
  color: #ffffff;
  font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: bold;
  letter-spacing: -1.33px;
  font-size: 56px;
  line-height: 56px;
  margin-bottom: 10px; }
  @media (max-width: 991px) {
    .cr-hero__title {
      font-size: 46px;
      line-height: 56px; } }
  @media (max-width: 767px) {
    .cr-hero__title {
      font-size: 34px;
      line-height: 42px; } }

.cr-hero__desc {
  color: #ffffff;
  font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 20px;
  line-height: 30px; }

.cr-hero__card {
  position: relative; }
  @media (max-width: 767px) {
    .cr-hero__cards {
      display: flex;
      overflow-x: scroll;
      margin-bottom: 80px; } }
  @media (max-width: 767px) {
    .cr-hero__card {
      margin: 16px 0;
      display: block;
      border: 1px solid #00000A;
      border-radius: 3px;
      padding: 16px 40px 16px 16px;
      min-width: 280px;
      margin-left: 16px;
      margin-right: 16px; }
      .cr-hero__card:first-child {
        margin-left: 0; } }
  @media (min-width: 768px) {
    .cr-hero__card {
      padding: 20px 100px 20px 40px;
      border-bottom: 1px solid #00000A; }
      .cr-hero__card:nth-child(odd) {
        border-right: 1px solid #00000A; } }
  @media (min-width: 992px) {
    .cr-hero__card {
      padding: 20px 100px; } }
  .cr-hero__card:hover, .cr-hero__card:focus {
    background-color: #E2E9F9; }
    .cr-hero__card:hover *, .cr-hero__card:focus * {
      color: #000FF0; }
    .cr-hero__card:hover .cr-hero__card-icon, .cr-hero__card:focus .cr-hero__card-icon {
      border-color: #000FF0;
      color: #000FF0;
      filter: grayscale(0); }
  @media (min-width: 768px) {
    .cr-hero__cards {
      display: grid;
      grid-template-columns: 1fr 1fr;
      transform: translateY(-50%);
      background-color: #ffffff;
      border: 1px solid #00000A;
      border-bottom: none; } }
  .cr-hero__card-title {
    color: #00000A;
    font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 24px;
    font-weight: bold;
    letter-spacing: -0.38px;
    line-height: 28px;
    margin-bottom: 4px; }
  .cr-hero__card-desc {
    color: #00000A;
    font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    line-height: 24px; }
  .cr-hero__card-icon {
    height: 29px;
    width: 29px;
    border: 1px solid #00000A;
    border-radius: 50%;
    position: absolute;
    right: 30px;
    top: 20px;
    background: url("../images/resources/icons/arrow-top.svg") center center no-repeat;
    filter: grayscale(1); }
    @media (max-width: 767px) {
      .cr-hero__card-icon {
        right: 16px;
        top: 16px; } }

.cr-card {
  border: 1px solid #E2E9F9;
  display: grid;
  border-radius: 2px;
  margin-right: 15px;
  margin-left: 15px;
  max-width: 200px;
  min-width: 200px;
  position: relative; }
  .cr-cards {
    margin: 40px 0;
    display: flex;
    overflow-x: scroll;
    margin-bottom: 0;
    padding-bottom: 20px; }
  .cr-card:nth-child(even) .cr-card__label {
    background-color: #E8DBFC; }
    .cr-card:nth-child(even) .cr-card__label--icon {
      background-color: transparent; }
  .cr-card:hover {
    box-shadow: 0 1px 4px 0 rgba(226, 233, 249, 0.5), 0 4px 14px -1px rgba(226, 233, 249, 0.5); }
  .cr-card__title {
    color: #00000A;
    font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: bold;
    letter-spacing: -0.5px;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 8px; }
  .cr-card__desc {
    color: #666678;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    letter-spacing: -0.38px;
    font-size: 12px;
    line-height: 18px; }
  .cr-card__label {
    color: #00000A;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 10px;
    font-weight: 500;
    letter-spacing: -0.31px;
    line-height: 12px;
    padding: 4px 8px;
    border-radius: 1px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 20px;
    background-color: #FFE8B2;
    margin-left: -28px; }
    .cr-card__label--icon {
      position: absolute;
      width: 24px;
      height: 24px;
      left: 0;
      margin-left: -12px;
      background: transparent url("../images/resources/icons/play-icon.svg") center center no-repeat; }
  .cr-card__logo {
    display: inline-block; }
    .cr-card__logos {
      list-style: none;
      padding: 0;
      margin: 0; }
    .cr-card__logo img {
      width: 20px;
      height: 20px;
      border-radius: 50%; }
  .cr-card__timeline {
    color: #666678;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 12px;
    letter-spacing: -0.38px;
    line-height: 18px; }
  .cr-card__category {
    color: #00000A;
    font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 10px;
    line-height: 11px; }
  .cr-card__footer {
    align-self: flex-end; }
  .cr-card--none {
    border: none;
    display: block; }
    .cr-card--none:hover {
      box-shadow: none; }

.cr-media__header {
  max-width: 520px; }

.cr-media__title {
  color: #00000A;
  font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: bold;
  letter-spacing: -0.56px;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 8px; }
  @media (max-width: 991px) {
    .cr-media__title {
      font-size: 32px;
      line-height: 38px; } }
  @media (max-width: 767px) {
    .cr-media__title {
      font-size: 24px;
      line-height: 30px; } }

.cr-media__desc {
  color: #00000A;
  font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 24px; }

.cr-media__action {
  color: #000FF0;
  font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -0.31px;
  line-height: 23px;
  display: block;
  padding: 24px;
  padding-left: 0;
  transition: .3s;
  margin-top: 20px; }
  .cr-media__action--icon {
    height: 29px;
    width: 29px;
    border: 1px solid #000FF0;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    background: url("../images/resources/icons/arrow-top.svg") center center no-repeat; }
  .cr-media__action:hover {
    background-color: #E2E9F9;
    color: #000FF0;
    cursor: pointer;
    padding-left: 24px; }

.cr-media--guides {
  margin-top: 0; }
  .cr-media--guides .cr-card {
    padding: 20px; }
  .cr-media--guides .cr-card__footer {
    margin-top: 80px; }
    .cr-media--guides .cr-card__footer .cr-link {
      transform: scale(0.75);
      display: block;
      text-align: right;
      margin-right: -20px; }

.cr-media--webinars .cr-card {
  padding: 20px 20px 20px 30px;
  max-width: 258px;
  min-width: 258px; }
  .cr-media--webinars .cr-card__footer {
    margin-top: 16px; }
  .cr-media--webinars .cr-card__desc {
    display: none; }

.cr-media--blogs .cr-card {
  padding: 0;
  max-width: 258px;
  min-width: 258px; }
  .cr-media--blogs .cr-card__body {
    padding: 0 12px; }
  .cr-media--blogs .cr-card__footer {
    margin-top: 16px;
    padding: 12px;
    padding-top: 0; }
  .cr-media--blogs .cr-card__header {
    margin-bottom: 16px; }
  .cr-media--blogs .cr-card__desc {
    margin-bottom: 24px; }
  .cr-media--blogs .cr-card:first-child {
    margin-left: 0;
    padding: 0; }

.cr-media--blogs .cr-media__desc {
  margin-bottom: 24px; }

.cr-media--tools .cr-card {
  padding: 24px;
  max-width: 258px;
  min-width: 258px; }
  .cr-media--tools .cr-card:first-child {
    margin-left: 0;
    padding: 0; }
  .cr-media--tools .cr-card__footer {
    margin-top: 40px; }
  .cr-media--tools .cr-card__title {
    font-size: 20px;
    line-height: 30px; }
  .cr-media--tools .cr-card__desc {
    font-size: 16px;
    line-height: 24px; }

.cr-testimonial__title {
  color: #00000A;
  font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: bold;
  letter-spacing: -0.56px;
  font-size: 36px;
  line-height: 42px; }
  @media (max-width: 991px) {
    .cr-testimonial__title {
      font-size: 32px;
      line-height: 38px; } }
  @media (max-width: 767px) {
    .cr-testimonial__title {
      font-size: 24px;
      line-height: 30px; } }

.cr-testimonial__label {
  color: #00000A;
  font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
  letter-spacing: -0.3px;
  line-height: 30px; }

.cr-customer {
  margin-bottom: 20px; }
  @media (max-width: 991px) {
    .cr-customer:not(:last-child) {
      margin-bottom: 40px; } }
  @media (max-width: 767px) {
    .cr-customers {
      margin-top: 40px; } }
  @media (min-width: 992px) {
    .cr-customers {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 30px;
      grid-row-gap: 40px; } }
  .cr-customer__logo {
    margin-bottom: 10px; }
  .cr-customer__desc {
    color: #00000A;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px; }

.cr-grid__column--two {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 30px;
  justify-content: space-between;
  align-items: center; }

.common-hs-form form {
  display: grid;
  position: relative;
  grid-template-columns: 1fr auto;
  align-items: center;
  justify-content: space-between;
  border-radius: 2px;
  position: relative;
  max-width: 520px; }
  @media (max-width: 767px) {
    .common-hs-form form {
      max-width: 420px; } }
  .common-hs-form form [id^="label-email"] {
    display: none; }
  .common-hs-form form .hs-error-msgs {
    color: #E71324;
    list-style-type: none;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 14px;
    margin-top: 8px; }
    .common-hs-form form .hs-error-msgs .hs-error-msg {
      margin-bottom: 0;
      font-weight: normal; }
  .common-hs-form form .hs-form-field {
    position: relative;
    z-index: 8; }
  .common-hs-form form .hs_error_rollup {
    display: none; }
  .common-hs-form form input, .common-hs-form form input:hover, .common-hs-form form input:active, .common-hs-form form input:focus {
    border: 1px solid #DDE3EC;
    outline: none;
    box-shadow: none;
    background: #ffffff;
    padding: 10px;
    margin: 0;
    font-size: 12px;
    line-height: 14px;
    width: 100%;
    border-radius: 2px; }
  .common-hs-form form input[type="submit"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0 2px 2px 0;
    background-color: #ffffff;
    position: relative;
    padding: 11px 20px;
    background: url("../images/home/jan-2019/arrow/arrow.svg") center center no-repeat;
    border: none;
    border-left: 1px solid #DDE3EC;
    color: transparent;
    overflow: hidden;
    max-width: 42px; }
  .common-hs-form form .hs-submit {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 10; }

.common-hs-form .submitted-message {
  color: #00000A;
  font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 24px; }
