a[href="#"],
a[href=""] {
  background: red;
  display: block;
  width: 200px; }

.cg-link {
  color: #000FF0;
  font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 500;
  display: inline-block;
  line-height: 20px; }
  @media (max-width: 767px) {
    .cg-link {
      max-width: 300px; } }
  .cg-link:hover, .cg-link:focus {
    color: #000FF0;
    text-decoration: none;
    opacity: .7; }
  .cg-link--icon:after {
    content: '';
    display: inline-block;
    width: 12px;
    height: 10px;
    margin-left: 8px;
    background: url("../images/home/jan-2019/arrow/arrow.svg") center/contain no-repeat; }

.cg-btn {
  color: #ffffff;
  font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
  font-weight: 500;
  border-radius: 4px;
  background-color: #FF7846;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  transition: 0.3s ease;
  position: relative; }
  @media (max-width: 767px) {
    .cg-btn {
      display: block;
      width: 100%;
      white-space: nowrap;
      text-align: center;
      max-width: 320px;
      margin-left: auto;
      margin-right: auto; } }
  .cg-btn:after {
    content: '';
    display: inline-block;
    width: 14px;
    height: 12px;
    margin-left: 8px;
    transition: 0.3s ease;
    background: url("../images/home/jan-2019/arrow/button-arrow.svg") center/contain no-repeat; }
  .cg-btn:hover, .cg-btn:focus {
    color: #ffffff;
    transition: 0.3s ease;
    text-decoration: none;
    border-color: transparent; }
    .cg-btn:hover:after, .cg-btn:focus:after {
      transform: translateX(4px); }

.cg-hero {
  background-color: #FFF7E6;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  color: #173069;
  font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin-bottom: 80px; }
  @media (min-width: 768px) {
    .cg-hero {
      background-image: url("../images/resources/guides/subscription-pricing-trial-strategy/pricing-guide-graphics.svg");
      margin-bottom: 120px; }
      .cg-hero--onboarding {
        background-image: url("../images/resources/guides/subscription-management-tool-startup/onboarding_banner.svg");
        background-position: bottom; }
      .cg-hero--acquisation {
        background-image: url("../images/resources/guides/selfserve-saas-acquisition-strategies/acquisation-banner.svg");
        background-position: bottom; }
      .cg-hero--psd {
        background-image: url("../images/resources/guides/psd-2-sca-for-saas/psd-2-guide-hero.svg");
        background-position: bottom; } }
  .cg-hero--onboarding {
    background-color: #e1e9f6; }
  .cg-hero--acquisation {
    background-color: #fce7e5; }
  .cg-hero--psd {
    background-color: #e1ebf7; }
  @media (min-width: 992px) {
    .cg-hero {
      margin-bottom: 0px; } }
  @media (min-width: 768px) {
    .cg-hero__layer--one, .cg-hero__layer--two {
      position: absolute;
      width: 100%;
      height: 100%;
      bottom: 0;
      left: 0;
      right: 0;
      background-repeat: no-repeat;
      margin-bottom: -20%;
      background-position: bottom; }
    .cg-hero__layer--one {
      background-image: url("../images/resources/guides/self-service-saas-revenue-growth/layer-one.svg"); }
    .cg-hero__layer--two {
      background-image: url("../images/resources/guides/self-service-saas-revenue-growth/layer-two.svg"); } }
  @media (min-width: 1200px) {
    .cg-hero__layer--one, .cg-hero__layer--two {
      margin-bottom: -250px;
      background-size: cover;
      background-position: initial;
      transform: scale(1.05); } }
  .cg-hero__container {
    padding: 120px 24px 60px;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: repeat(12, 1fr); }
    @media (min-width: 768px) {
      .cg-hero__container {
        min-height: 600px;
        padding-bottom: 0;
        padding-top: 100px; } }
    @media (min-width: 992px) {
      .cg-hero__container {
        min-height: 100vh; } }
  .cg-hero__content {
    grid-column: 1/12;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media (min-width: 768px) {
      .cg-hero__content {
        grid-column: 2/12;
        text-align: center; } }
  .cg-hero__label {
    font-size: 18px;
    font-weight: 500;
    color: #90794C; }
    @media (min-width: 768px) {
      .cg-hero__label {
        font-size: 24px; } }
  .cg-hero__title {
    font-size: 32px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 38px;
    margin-top: 18px;
    margin-bottom: 16px; }
    @media (min-width: 768px) {
      .cg-hero__title {
        font-size: 42px;
        line-height: 50px;
        letter-spacing: -1.4px; } }
  .cg-hero__actions {
    grid-column: 1/13;
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }
  .cg-hero__action {
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    padding: 36px 32px;
    display: inline-block;
    color: #90794C; }
    .cg-hero__action:hover, .cg-hero__action:focus {
      color: #90794C;
      text-decoration: none; }
  .cg-hero__actiona {
    cursor: pointer; }
    .cg-hero__actiona:after {
      content: '';
      height: 30px;
      width: 1px;
      display: block;
      background: #173069;
      left: 0;
      right: 0;
      margin: 9px auto 0;
      bottom: 0; }

.cg-article .tooltip {
  margin-top: 10px;
  opacity: 1; }
  .cg-article .tooltip-inner {
    max-width: 220px;
    padding: 15px;
    background-color: #2C2A4F;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 0.8);
    font-size: 11px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.2px; }

.cg-article__header {
  margin-bottom: 32px; }

.cg-article__title {
  color: #00000A;
  font-size: 32px;
  font-weight: bold;
  line-height: 42px; }
  .cg-article__title--alt {
    line-height: 36px;
    font-size: 24px; }
  @media (max-width: 767px) {
    .cg-article__title {
      font-size: 28px;
      line-height: 36px; } }

.cg-article__heading {
  color: #242438;
  font-size: 24px;
  font-weight: bold;
  line-height: 36px; }

.cg-article__desc {
  color: #242438;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 30px; }
  @media (min-width: 768px) {
    .cg-article__desc {
      font-size: 18px;
      line-height: 32px; } }
  .cg-article__desc + .cg-article__list {
    margin-top: -6px; }

.cg-article__fl:first-letter {
  font-size: 80px;
  font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: bold;
  float: left;
  margin-right: 4px;
  margin-top: 8px; }

.cg-article__blockquote {
  font-size: 20px;
  margin: 48px 0;
  padding-left: 30px; }
  @media (min-width: 768px) {
    .cg-article__blockquote {
      margin: 48px;
      font-size: 24px;
      padding-left: 40px; } }
  .cg-article__blockquote-author {
    color: #00000A;
    font-weight: bold;
    font-size: 18px;
    margin-top: 30px; }

.cg-article__list {
  max-width: 620px;
  margin-bottom: 42px; }

.cg-article__item {
  font-size: 16px;
  margin-bottom: 18px;
  line-height: 28px; }
  @media (min-width: 768px) {
    .cg-article__item {
      font-size: 18px;
      line-height: 32px; } }

.cg-article__panel {
  margin-top: 80px; }
  .cg-article__panel:not(:last-child) {
    margin-bottom: 100px; }

.cg-article__table {
  margin-top: 50px;
  margin-bottom: 50px; }

.cg-tooltip {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.3);
  cursor: pointer; }

.cg-affix {
  padding: 60px 0 0; }
  .cg-affixs {
    margin-top: 50px; }
    @media (min-width: 768px) {
      .cg-affixs {
        margin-top: 0px; } }
  @media (min-width: 768px) {
    .cg-affix__header {
      margin-bottom: 10px; } }
  @media (min-width: 992px) {
    .cg-affix__header {
      margin-bottom: 10px; } }
  @media (min-width: 992px) {
    .cg-affix__body {
      width: 90%; } }
  .cg-affix__content {
    position: relative;
    padding-top: 150px; }
  .cg-affix__content:not(:first-child) {
    padding-top: 150px; }
  @media (max-width: 767px) {
    .cg-affix__content:not(:last-child) {
      padding-top: 60px;
      padding-bottom: 40px; }
      .cg-affix__content:not(:last-child):after {
        content: '';
        width: 140px;
        height: 1px;
        background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0) 100%);
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto; } }
  .cg-affix__title {
    color: #00000A;
    font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.3px;
    line-height: 32px; }
  .cg-affix__item {
    position: relative;
    white-space: nowrap; }
    .cg-affix__item:before {
      content: '';
      box-sizing: border-box;
      height: 8px;
      width: 8px;
      border-style: solid;
      border-color: #000FF0;
      border-width: 0px 2px 2px 0px;
      transform: rotate(-50deg);
      display: inline-block;
      margin-right: 10px;
      position: relative;
      top: -1px;
      display: none; }
    .cg-affix__item > a {
      display: inline-block !important;
      padding: 10px 0 !important;
      color: #232337bd;
      font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-size: 16px;
      font-weight: 500;
      letter-spacing: -0.2px;
      line-height: 18px;
      cursor: pointer; }
      .cg-affix__item > a:hover, .cg-affix__item > a:focus {
        text-decoration: none;
        background-color: transparent !important; }
    .cg-affix__item.active > a {
      color: #0021E6;
      font-weight: bold; }
    .cg-affix__item.active .cg-affix__sublist {
      display: block; }
  .cg-affix__sublist {
    list-style: none;
    display: none; }
  .cg-affix__subitem {
    margin-bottom: 4px; }
    .cg-affix__subitem > a {
      color: #2b2b3fc2;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      display: inline-block; }
    .cg-affix__subitem.active > a {
      color: #000FF0;
      font-weight: bold; }

.cg-panel {
  border: 1px solid #FF7846;
  background-color: #FFEBE4;
  border-radius: 4px;
  padding: 36px 18px 32px;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  position: relative; }
  @media (min-width: 768px) {
    .cg-panel {
      padding: 48px 40px 32px;
      font-size: 18px;
      line-height: 30px; } }
  .cg-panel + .cg-panel {
    margin-top: 64px; }
  .cg-panel__header {
    display: inline-block;
    position: absolute;
    top: -20px;
    background: #FF7846;
    padding: 4px 18px;
    border-radius: 4px;
    color: #ffffff;
    font-weight: bold;
    left: 20px;
    font-size: 16px; }
  .cg-panel--alt {
    border-color: #3270FF;
    background-color: #F4F7FC; }
    .cg-panel--alt .cg-panel__header {
      background: #3270FF; }
  .cg-panel--secondary {
    border-color: #242438 transparent #242438;
    border-radius: 0;
    border-width: 2px;
    background-color: #ffffff; }
    .cg-panel--secondary .cg-panel__header {
      background: #242438;
      top: -38px; }
      @media (max-width: 767px) {
        .cg-panel--secondary .cg-panel__header {
          top: -34px; } }

.cg-racks__header {
  margin-bottom: 16px; }

.cg-racks__title {
  font-size: 18px;
  font-weight: bold; }

.cg-racks__footer {
  text-align: right; }

.cg-racks__action {
  font-weight: bold;
  font-size: 14px;
  text-align: right;
  margin-top: 24px;
  padding: 10px;
  display: inline-block;
  cursor: pointer; }

@media (max-width: 991px) and (min-width: 768px) {
  .cg-racks__content {
    margin-top: 40px; } }

.cg-rack {
  font-size: 18px;
  line-height: 26px;
  padding: 20px 0;
  border-bottom: 1px solid #0000001f;
  display: block; }

.cg-rack--label {
  display: block;
  color: #000;
  margin-bottom: 3px;
  font-weight: 500; }

.cg-table {
  width: 100%;
  border: 1px solid #dadada; }
  .cg-table__head {
    background: #404040;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    padding: 8px 15px; }
  .cg-table__col {
    border: 1px solid #dadada;
    font-size: 14px;
    font-weight: 500;
    padding: 9px 15px; }

.cg-medias {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px; }
  @media (max-width: 767px) {
    .cg-medias {
      grid-template-columns: 1fr;
      grid-gap: 12px; } }
  .cg-medias--alt {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 18px; }
    @media (max-width: 767px) {
      .cg-medias--alt {
        grid-template-columns: repeat(2, 1fr); } }
    .cg-medias--alt .cg-media {
      padding: 24px 8px 20px;
      text-align: center; }
      .cg-medias--alt .cg-media__desc {
        color: #000FF0;
        font-weight: 500;
        line-height: 16px; }
      .cg-medias--alt .cg-media__figure {
        max-width: 60px;
        margin: auto; }

.cg-media {
  padding: 32px 24px 36px 24px;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0 3px 0 0 rgba(90, 122, 190, 0.12);
  border: 1px solid rgba(90, 122, 190, 0.2);
  display: block;
  transition: .2s ease;
  position: relative; }
  @media (max-width: 767px) {
    .cg-media {
      padding: 32px 20px 24px 20px; } }

.cg-media:hover, .cg-media:focus {
  text-decoration: none;
  box-shadow: 0 1px 1px 0 rgba(90, 122, 190, 0.1), 0 10px 20px 0 rgba(90, 122, 190, 0.2); }

.cg-media__header {
  display: flex;
  align-items: flex-end;
  margin-bottom: 12px; }

.cg-media__figure {
  margin-top: 0;
  margin-right: 16px; }
  .cg-media__figure > img {
    min-width: 24px; }

.cg-media__title {
  color: #00000A;
  font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  margin: 0;
  position: relative; }
  .cg-media__title:after {
    content: '';
    display: inline-block;
    width: 14px;
    height: 10px;
    background: url(../images/home/jan-2019/arrow/arrow.svg) center/contain no-repeat;
    transform: translateX(-10px);
    transition: .2s ease;
    position: absolute;
    right: -30px;
    bottom: 3px; }

.cg-media__desc {
  color: #242438;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 0; }

.cg-card {
  margin-top: 180px;
  margin-bottom: 120px; }
  @media (max-width: 991px) {
    .cg-card {
      margin-top: 90px;
      margin-bottom: 60px; } }
  .cg-card__title {
    font-size: 42px;
    font-weight: bold;
    letter-spacing: -1.4px;
    line-height: 50px; }
    @media (max-width: 991px) {
      .cg-card__title {
        font-size: 32px;
        line-height: 42px;
        letter-spacing: -1px; } }
  .cg-card__desc {
    color: #242438;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 30px; }
  .cg-card__figure {
    color: #000FF0;
    font-size: 14px; }
    .cg-card__figure:hover, .cg-card__figure:focus {
      text-decoration: none;
      outline: none;
      color: #000FF0; }
    @media (max-width: 991px) {
      .cg-card__figure {
        margin-bottom: 24px; } }
    .cg-card__figure img {
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 0 1px 1px 0 rgba(90, 122, 190, 0.1), 0 10px 20px 0 rgba(90, 122, 190, 0.2); }
    .cg-card__figure--label {
      margin-top: 24px;
      font-weight: bold;
      text-align: center; }
  @media (min-width: 768px) {
    .cg-card--flex {
      display: flex;
      align-items: center; } }

.cg-footer {
  margin-top: 180px;
  margin-bottom: 50px; }
  @media (min-width: 992px) {
    .cg-footer {
      margin-bottom: 150px; } }

.cg-collapse {
  margin-bottom: 60px; }
  .cg-collapse__content {
    max-height: 400px;
    overflow: hidden; }
    .cg-collapse__content-active {
      max-height: none; }
  .cg-collapse__footer {
    cursor: pointer;
    margin: 24px;
    color: #00000A; }

/*Overwrite*/
.cp-hero__desc {
  color: #00000a;
  font-size: 18px;
  line-height: 28px; }

.cg-hero__actions .cg-hero__action {
  padding: 0px;
  margin: 12px 8px; }
  .cg-hero__actions .cg-hero__action .cg-btn {
    color: #fff;
    font-family: basis-grotesque,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 18px;
    font-weight: 500;
    border-radius: 4px;
    background-color: #193165;
    -webkit-box-shadow: 0 2px 10px 0 rgba(0, 4, 48, 0.08), 0 8px 8px 0 rgba(0, 4, 48, 0.12), 0 12px 21px 0 rgba(0, 4, 48, 0.24);
    box-shadow: 0 2px 10px 0 rgba(0, 4, 48, 0.08), 0 8px 8px 0 rgba(0, 4, 48, 0.12), 0 12px 21px 0 rgba(0, 4, 48, 0.24);
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    width: auto; }
  .cg-hero__actions .cg-hero__action .cg-btn--ghost {
    color: #193165;
    background: 0 0;
    -webkit-box-shadow: 0 0 0 1px #193165 inset;
    box-shadow: 0 0 0 1px #193165 inset; }
    .cg-hero__actions .cg-hero__action .cg-btn--ghost::after {
      background: url(../images/home/jan-2019/arrow/button-arrow-db.svg) center/contain no-repeat; }

.cg-article .cg-article__header .cg-article__title {
  font-size: 24px; }

.cg-article .cg-article__content {
  margin-bottom: 30px; }
  .cg-article .cg-article__content .cg-article__question {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    letter-spacing: -0.3px;
    line-height: 36px;
    font-weight: bold;
    font-size: 18px; }
  .cg-article .cg-article__content .cg-article__desc {
    color: #232326;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    letter-spacing: -0.3px;
    line-height: 30px; }
  .cg-article .cg-article__content .cg-article__order li {
    list-style-type: decimal; }

.cg-affix__item > a {
  color: #0021E6;
  font-weight: normal; }

@media (max-width: 1090px) {
  .cg-affix__content {
    padding-top: 0px; }
  .cg-hero {
    margin-bottom: 60px; } }

@media (max-width: 568px) {
  .cg-hero__actions {
    display: block; }
    .cg-hero__actions .cg-hero__action {
      width: 100%; }
      .cg-hero__actions .cg-hero__action a {
        width: 100% !important; }
  .cg-footer__actions {
    display: block !important; }
    .cg-footer__actions .cg-footer__action {
      margin-bottom: 20px !important; } }

/*Overwrite*/
.cg-footer__actions {
  display: flex;
  justify-content: center;
  align-items: center; }
  .cg-footer__actions .cg-footer__action {
    margin: 0px 8px; }
  .cg-footer__actions .action_one a {
    background-color: #3a008c;
    box-shadow: 0 2px 10px 0 rgba(0, 4, 48, 0.08), 0 8px 8px 0 rgba(0, 4, 48, 0.12), 0 12px 21px 0 rgba(0, 4, 48, 0.24);
    border-radius: 4px; }
  .cg-footer__actions .action_two a {
    -webkit-box-shadow: 0 0 0 1px #3a008c inset;
    box-shadow: 0 0 0 1px #3a008c inset;
    color: #3a008c;
    background: 0 0; }
    .cg-footer__actions .action_two a::after {
      background: url("../images/home/jan-2019/arrow/button-arrow-purple.svg") center/contain no-repeat; }

.cp-panel {
  margin-bottom: 100px; }
  .cp-panel__container {
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.06);
    padding: 12px 24px;
    border-radius: 4px;
    text-align: center;
    color: #242438;
    transition: .3s ease;
    display: block; }
    .cp-panel__container:hover, .cp-panel__container:focus {
      box-shadow: 0 1px 1px 0 rgba(90, 122, 190, 0.1), 0 10px 20px 0 rgba(90, 122, 190, 0.2);
      text-decoration: none;
      color: #242438; }
    @media (min-width: 768px) {
      .cp-panel__container {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px; } }
  @media (max-width: 767px) {
    .cp-panel__icon {
      max-width: 40px;
      margin: 0 auto 14px; } }
  .cp-panel__icon > img {
    margin: 12px auto 20px; }
    @media (min-width: 768px) {
      .cp-panel__icon > img {
        margin: 0;
        padding-right: 12px; } }
  .cp-panel__icon--alt {
    margin: 0 auto 14px; }
    @media (min-width: 768px) {
      .cp-panel__icon--alt {
        margin: -20px 0px -20px -40px;
        padding-right: 10px; } }
    .cp-panel__icon--alt > img {
      min-width: 40px;
      margin: 12px auto 20px; }
      @media (min-width: 768px) {
        .cp-panel__icon--alt > img {
          min-width: 70px;
          margin: 0;
          padding-right: 12px; } }
