/*********************
VARIABLES
*********************/
/*********************
BREAKPOINTS
*********************/
html {
  font-size: 8px; }
  @media (min-width: 992px) {
    html {
      font-size: 10px; } }

body {
  position: relative;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: normal;
  color: #202B5A;
  margin: 0 auto;
  background: #f5f5f6; }
  @media (min-width: 768px) {
    body {
      background-color: #ffffff; } }

.full-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; }
  .full-screen > * {
    flex: 1; }

*[class^=icon] {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor; }

.icon-rw-logo, .icon-rs-restart {
  fill: #2359FF; }

a, a:hover, a:focus {
  text-decoration: none;
  color: #2359FF;
  outline: none; }

ul {
  margin-bottom: 0; }

.text-bold {
  font-weight: 600 !important; }

.text-royal-blue {
  color: #2359FF; }

img {
  max-width: 100% !important; }

.fixed-width {
  max-width: 1440px !important;
  margin-left: auto;
  margin-right: auto; }

.hbspt-form .hs-form-iframe {
  max-width: 100%; }

.rmd-header {
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 10px 20px 10px #f5f5f6; }
  @media (min-width: 768px) {
    .rmd-header {
      box-shadow: 0px 10px 20px 10px #ffffff; } }
  .rmd-header--fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11; }
  .rmd-header__wrapper {
    max-width: 1440px !important;
    margin: 0 auto; }
  .rmd-header__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    margin: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08); }
    .rmd-header__container.flexEnd {
      justify-content: center; }
      .rmd-header__container.flexEnd .rmd-header__item.hidden-xs {
        display: block !important; }
    @media (min-width: 768px) {
      .rmd-header__container {
        justify-content: space-between;
        border-color: transparent;
        padding: 20px 15px; }
        .rmd-header__container.flexEnd {
          justify-content: flex-end; } }
    @media (min-width: 992px) {
      .rmd-header__container {
        padding: 32px 70px; } }

.rmd-footer {
  position: relative;
  width: 100%;
  z-index: 10;
  background-color: #ffffff;
  border-top: 1px solid rgba(0, 0, 0, 0.08); }
  .rmd-footer--fixed {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 10; }
  .rmd-footer__wrapper {
    max-width: 1440px !important;
    margin: 0 auto; }
  .rmd-footer__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
    margin: 0 auto; }
    .rmd-footer__container:before, .rmd-footer__container:after {
      display: none; }
    @media (min-width: 768px) {
      .rmd-footer__container {
        padding: 15px;
        justify-content: space-between; } }
    @media (min-width: 992px) {
      .rmd-footer__container {
        padding: 20px 70px; } }

.rmd-logo {
  display: flex;
  justify-content: initial;
  align-items: center;
  cursor: pointer; }
  .rmd-logo .icon-rw-logo {
    fill: #666678;
    width: 24px;
    height: 24px; }
    @media (min-width: 768px) {
      .rmd-logo .icon-rw-logo {
        width: 34px;
        height: 34px; } }
  .rmd-logo__text {
    font-size: 18px;
    font-weight: 500;
    color: #202B5A;
    line-height: 21px;
    letter-spacing: -0.7px;
    margin-left: 10px; }

.rs-linker {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .rs-linker__addtn-label {
    font-size: 13px;
    font-weight: 400;
    color: #9D9FAA;
    line-height: 24px;
    margin-left: 8px; }
  .rs-linker__name {
    font-size: 1.3rem;
    font-weight: 400;
    color: #2359FF;
    line-height: 2.4rem;
    padding-left: 2px; }
  .rs-linker .icon-rs-logo {
    width: 36px;
    height: 36px; }
  .rs-linker a:after {
    content: "\2192";
    padding-left: 5px;
    opacity: 0;
    transition: opacity 0.5s linear; }
  .rs-linker a:hover:after {
    opacity: 1; }

.rs-cta__restart {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.16), 0 0 1px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  border-radius: 25px;
  padding: 6px 20px;
  cursor: pointer; }

.rs-cta__name {
  font-size: 16px;
  font-weight: 400;
  color: #2359FF;
  line-height: 19px;
  padding-left: 4px; }

.cb-linker .chargebee-logo-black {
  width: 108px;
  height: 40px; }

.text-with-link {
  font-size: 1.3rem;
  font-weight: 400;
  color: #9D9FAA;
  line-height: 2.4rem; }
  .text-with-link a:after {
    content: "\2192";
    padding-left: 5px;
    opacity: 0;
    transition: opacity 0.5s linear; }
  .text-with-link a:hover:after {
    opacity: 1; }

section {
  width: 100%;
  margin: 0 auto;
  padding: 35px 0; }

.rmd-btn {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  line-height: 20px;
  width: 100%;
  max-width: 350px;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  text-align: center;
  padding: 18px 24px;
  border: none;
  border-radius: 100px;
  outline: none !important;
  box-shadow: 0px 0px 2px 0px #0000001a, 0px 2px 2px 0px #0003;
  transform: perspective(1px) translateZ(0);
  transition: box-shadow 0.2s ease-out, transform 0.2s ease-out;
  transform-origin: center center; }
  @media (max-width: 767px) {
    .rmd-btn {
      font-sixe: 2rem;
      font-weight: 700; } }
  .rmd-btn-block {
    width: 100%;
    max-width: unset; }
  .rmd-btn__container {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none; }
  .rmd-btn:disabled {
    box-shadow: none;
    transition: none;
    transform: none;
    pointer-events: none;
    opacity: 1;
    cursor: default; }
  .rmd-btn .icon-rw-barrow {
    width: 18px;
    height: 14px;
    flex: 0 0 auto; }
  .icon-rw-barrow + .rmd-btn__text {
    margin-left: 12px; }
  .rmd-btn:hover, .rmd-btn:focus, .rmd-btn:active {
    color: #ffffff;
    border-color: transparent;
    box-shadow: 0 0 14px 0 #0000001a, 0 14px 24px 0 #0000001a;
    transform: perspective(1px) translate3d(0, -4px, 0); }

.rmd-primary-btn {
  background-color: #2359FF; }

@media (min-width: 768px) and (max-width: 991px) {
  .rmd-launch-page {
    display: flex;
    justify-content: center;
    align-items: center; } }

@media (min-width: 992px) {
  .rmd-launch-page__content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto; } }

.rmd-launch-page__title {
  margin-bottom: 24px; }
  @media (min-width: 1200px) {
    .rmd-launch-page__title {
      font-size: 48px;
      font-weight: 600;
      color: #000028;
      line-height: 54px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .rmd-launch-page__title {
      font-size: 40px;
      font-weight: 600;
      color: #000028;
      line-height: 48px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .rmd-launch-page__title {
      font-size: 34px;
      font-weight: 600;
      color: #000028;
      line-height: 40px;
      text-align: center; } }
  @media (max-width: 767px) {
    .rmd-launch-page__title {
      font-size: 30px;
      font-weight: 600;
      color: #000028;
      line-height: 36px;
      text-align: center; } }

.rmd-launch-page__hint-block {
  position: relative; }
  .rmd-launch-page__hint-block .icon-rw-rarrow--up {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: -45px; }

@media (min-width: 992px) {
  .rmd-launch-page__left, .rmd-launch-page__right {
    margin-left: 50px;
    flex: 1; } }

@media (max-width: 991px) {
  .rmd-launch-page__left {
    text-align: center; } }

.rmd-launch-page__hint-text {
  font-size: 16px;
  font-weight: 400;
  color: #19193D;
  line-height: 24px;
  text-align: center;
  padding: 18px 10px; }
  @media (max-width: 767px) {
    .rmd-launch-page__hint-text {
      margin-bottom: 35px; } }
  @media (min-width: 768px) {
    .rmd-launch-page__hint-text {
      text-align: left;
      padding: 18px 60px 0px 0px; } }

.rmd-launch-page__carousel-block {
  position: relative;
  padding: 12px 0px; }
  @media (min-width: 992px) {
    .rmd-launch-page__carousel-block {
      margin-right: 50px; } }
  .rmd-launch-page__carousel-block .icon-rw-logo {
    display: none;
    position: absolute;
    top: 50%;
    width: 36px;
    height: 36px;
    padding: 8.75px;
    border-radius: 50%;
    z-index: 1;
    background-color: #E2E9F9;
    transform: translate(-15%, -50%); }
    @media (min-width: 768px) {
      .rmd-launch-page__carousel-block .icon-rw-logo {
        display: block; } }

.rmd-carousel {
  position: relative;
  height: 330px;
  overflow: hidden;
  text-align: left; }
  .rmd-carousel__container {
    height: inherit;
    overflow: hidden; }
    @media (min-width: 768px) {
      .rmd-carousel__container {
        padding: 0px 12px; } }
  .rmd-carousel ul {
    list-style: none;
    height: 400px;
    padding: 0; }
  .rmd-carousel::before {
    content: "\00a0";
    position: absolute;
    width: 110%;
    height: 110%;
    margin: -5%;
    background: linear-gradient(to bottom, white 0%, rgba(255, 255, 255, 0) 45%, rgba(255, 255, 255, 0) 55%, white 100%) !important; }
  .rmd-carousel__item {
    width: 100%;
    padding: 16px 24px 24px 30px;
    margin-bottom: 16px;
    border-radius: 6px;
    min-height: 100px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1), 1px 4px 10px 0 rgba(0, 0, 0, 0.08); }
    .rmd-carousel__item:last-child {
      margin-bottom: 0px; }
    .rmd-carousel__item-label {
      font-size: 20px;
      font-weight: 600;
      color: #19193D;
      line-height: 28px;
      letter-spacing: -0.022rem;
      padding-bottom: 8px; }
    .rmd-carousel__item-sublabel {
      font-size: 16px;
      font-weight: 400;
      color: #666678;
      line-height: 20px; }

.rmd-pb-footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  margin: 0 auto; }
  .rmd-pb-footer__percentage-display {
    font-size: 4rem;
    font-weight: 600;
    color: inherit;
    line-height: 3rem;
    text-align: right;
    opacity: 0.14; }
    @media (min-width: 992px) {
      .rmd-pb-footer__percentage-display {
        font-size: 8.0rem;
        line-height: 6.0rem; } }

.rmd-help-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 400;
  color: #666678;
  line-height: 2.4rem;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace; }
  .rmd-help-icons > div {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .rmd-help-icons > div:nth-child(1) {
      padding-right: 24px; }
  .rmd-help-icons .icon-rw-udarrow, .rmd-help-icons .icon-rw-earrow {
    width: 25px;
    height: 25px;
    padding-right: 10px; }

.rmd-question .icon-rw-logo {
  display: none;
  fill: #666678;
  position: absolute;
  right: 100%;
  width: 32px;
  height: 32px;
  margin-right: 20px;
  z-index: 1; }
  @media (min-width: 768px) {
    .rmd-question .icon-rw-logo {
      display: block; } }

.rmd-question__label {
  font-size: 24px;
  font-weight: 600;
  color: #00001E;
  line-height: 34px; }

.rmd-question__options {
  padding: 26px 0px 0px; }
  .rmd-question__options li {
    font-size: 16px;
    font-weight: 400;
    color: #00001E;
    line-height: 19px;
    list-style: none; }
    .rmd-question__options li .rmd-question__option {
      display: table;
      padding: 10px 24px 10px 16px;
      border: 1px solid #F4F4F4;
      border-radius: 100px;
      margin-top: 12px;
      background-color: #ffffff;
      cursor: pointer;
      transition: 0.1s all linear; }
      .rmd-question__options li .rmd-question__option:hover, .rmd-question__options li .rmd-question__option:focus, .rmd-question__options li .rmd-question__option.focus {
        color: #ffffff;
        border: 1px solid #2359FF;
        background: #2359FF; }
        .rmd-question__options li .rmd-question__option:hover .icon-rw-tick, .rmd-question__options li .rmd-question__option:focus .icon-rw-tick, .rmd-question__options li .rmd-question__option.focus .icon-rw-tick {
          fill: #ffffff; }
      .rmd-question__options li .rmd-question__option > * {
        display: table-cell;
        vertical-align: middle; }
    .rmd-question__options li .icon-rw-tick {
      fill: #CDD5E8;
      margin-right: 16px; }

.rmd-question__block .icon-rw-logo {
  height: 48px;
  width: 48px;
  border: 1px solid #666678;
  border-radius: 8px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.16), 0 0 1px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  padding: 10px; }

.rmd-question-page__container {
  min-height: 350px;
  position: relative; }

.rmd-question-page__item {
  position: absolute;
  bottom: 0;
  width: 100%;
  animation: animateQuestion 0.4s linear; }

.rmd-question-page-footer {
  border: none; }
  @media (min-width: 992px) {
    .rmd-question-page-footer .rmd-footer__container {
      padding-right: 10px;
      padding-bottom: 40px; } }

.rmd-attended-question {
  margin-bottom: 40px; }
  .rmd-attended-question__block {
    position: relative;
    padding: 26px 32px 32px;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1), 1px 4px 10px 0 rgba(0, 0, 0, 0.08); }
    .rmd-attended-question__block::before {
      content: "";
      background: #ffffff;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      opacity: 0.5;
      border-radius: 12px; }
  .rmd-attended-question__label {
    font-size: 1.6rem;
    font-weight: 400;
    color: #00001E;
    line-height: 2.4rem;
    letter-spacing: -0.03rem;
    padding-bottom: 10px; }
  .rmd-attended-question__answer {
    font-size: 1.6rem;
    font-weight: 400;
    color: #666678;
    line-height: 1.9rem; }
  .rmd-attended-question.old .rmd-reanswer-link {
    display: none; }

.rmd-reanswer-link {
  position: absolute;
  left: 50%;
  white-space: nowrap;
  vertical-align: top;
  text-align: center;
  padding: 8px 16px;
  border-radius: 18px;
  background-color: #FFE8B2;
  cursor: pointer; }
  @media (max-width: 767px) {
    .rmd-reanswer-link {
      margin-top: 15px;
      margin-bottom: -15px;
      transform: translateX(-50%); } }
  @media (min-width: 768px) {
    .rmd-reanswer-link {
      display: inline;
      top: 50%;
      left: 95%;
      transform: translateY(-50%); } }
  .rmd-reanswer-link .icon-rw-carrow {
    display: none;
    width: 18px;
    height: 20px;
    vertical-align: top;
    margin-right: 5px; }
    @media (min-width: 768px) {
      .rmd-reanswer-link .icon-rw-carrow {
        display: inline-block; } }
  .rmd-reanswer-link__text {
    font-size: 1.3rem;
    font-weight: 400;
    color: #19193D;
    line-height: 1.5;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: top;
    transition: all .5s ease; }
    @media (min-width: 768px) {
      .rmd-reanswer-link__text {
        text-indent: -999px; } }
  .rmd-reanswer-link:hover {
    box-shadow: 1px 1px 7px 0px #f7ebce;
    transition: all 0.5s ease; }
    .rmd-reanswer-link:hover .rmd-reanswer-link__text {
      text-indent: 0; }

.rmd-thanks-fr-answring {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  animation: animateQuestion 0.4s linear; }
  @media (min-width: 768px) {
    .rmd-thanks-fr-answring {
      width: 75%;
      left: 50%;
      transform: translateX(-50%); } }
  .rmd-thanks-fr-answring__text {
    font-size: 16px;
    font-weight: 400;
    color: #19193D;
    line-height: 24px;
    padding: 30px 0px 24px 0px; }
    @media (min-width: 768px) {
      .rmd-thanks-fr-answring__text {
        padding-top: 40px; } }

#progress {
  position: fixed;
  width: 100%;
  height: 2px;
  z-index: 100; }
  #progress #progress-bar {
    width: 0;
    height: 100%;
    background: #2359FF;
    transition: width 0.3s ease-out; }
  @media (min-width: 768px) {
    #progress {
      bottom: 0;
      height: 6px;
      background: #ffffff; } }

.rmd-solution-page__header {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .rmd-solution-page__header .rmd-logo {
    cursor: default; }
  .rmd-solution-page__header .icon-rw-logo {
    fill: #2359FF; }
  .rmd-solution-page__header .rmd-logo__text {
    color: #2359FF; }

.rmd-solution-page__title {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 40px; }
  @media (min-width: 1200px) {
    .rmd-solution-page__title {
      font-size: 60px;
      font-weight: 600;
      color: #00001E;
      line-height: 66px;
      letter-spacing: -1.75px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .rmd-solution-page__title {
      font-size: 50px;
      font-weight: 600;
      color: #00001E;
      line-height: 58px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .rmd-solution-page__title {
      font-size: 34px;
      font-weight: 600;
      color: #00001E;
      line-height: 40px; } }
  @media (max-width: 767px) {
    .rmd-solution-page__title {
      font-size: 30px;
      font-weight: 600;
      color: #00001E;
      line-height: 36px; } }
  @media (min-width: 768px) {
    .rmd-solution-page__title {
      text-align: left;
      margin-bottom: 85px; } }

.rmd-nav-block ul {
  list-style: none;
  position: fixed;
  padding: 0;
  margin-right: 15px;
  max-width: 300px; }
  .rmd-nav-block ul li {
    position: relative; }

.rmd-nav-block .rmd-cta__restart {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  color: #2359FF;
  line-height: 19px;
  cursor: pointer; }

.rmd-nav-block .rmd-ctas {
  padding: 32px 24px; }
  @media (min-width: 768px) and (max-width: 991px) {
    .rmd-nav-block .rmd-ctas {
      padding: 16px; } }
  .rmd-nav-block .rmd-ctas svg {
    margin-right: 8px; }
  .rmd-nav-block .rmd-ctas .rmd-cta__restart:after {
    content: "\2192";
    padding-left: 5px;
    opacity: 0;
    transition: opacity 0.5s linear; }
  .rmd-nav-block .rmd-ctas:hover {
    background: #F4F7FC; }
    .rmd-nav-block .rmd-ctas:hover .rmd-cta__restart::after {
      opacity: 1; }

.rmd-nav-block .rmd-affix__block {
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1), 1px 4px 10px 0 rgba(0, 0, 0, 0.08);
  border-radius: 6px; }

.rmd-nav-block .rmd-affix__title {
  font-size: 16px;
  font-weight: bold;
  color: #19193D;
  line-height: 22px; }

.rmd-nav-block .rmd-affix__desc {
  font-size: 14px;
  font-weight: 400;
  color: #19193D;
  line-height: 20px;
  margin-top: 12px;
  margin-bottom: 30px; }

.rmd-nav-block .rmd-affix__icon {
  width: 42px;
  height: 48px;
  background: url(../images/revenuemd/icon-handbook.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.rmd-nav-block .rmd-affix__content {
  padding: 32px 24px;
  border-bottom: 1px solid #E2E9F9; }
  @media (min-width: 768px) and (max-width: 991px) {
    .rmd-nav-block .rmd-affix__content {
      padding: 16px; } }
  .rmd-nav-block .rmd-affix__content:hover {
    background: #F4F7FC; }
    .rmd-nav-block .rmd-affix__content:hover a::after {
      opacity: 1; }

.rmd-nav-block .rmd-affix__link {
  font-size: 16px;
  font-weight: bold;
  color: #2359FF;
  line-height: 19px; }
  .rmd-nav-block .rmd-affix__links a:after {
    content: "\2192";
    padding-left: 5px;
    opacity: 0;
    transition: all 0.5s linear;
    transform: rotate(90deg);
    display: inline-block;
    vertical-align: text-bottom; }

.rmd-problem-summary {
  padding: 20px;
  border: 1px solid #FFB400;
  border-radius: 8px;
  background-color: #FFF7E6; }
  @media (min-width: 768px) {
    .rmd-problem-summary {
      width: 80%;
      padding: 24px 32px; } }
  .rmd-problem-summary__heading {
    font-size: 18px;
    font-weight: 600;
    color: #00001E;
    line-height: 21px;
    margin-bottom: 12px; }
  .rmd-problem-summary__content {
    font-size: 18px;
    font-weight: 400;
    color: #00001E;
    line-height: 21px; }
  .rmd-problem-summary__list {
    padding: 0;
    list-style: none; }
    .rmd-problem-summary__list li {
      font-size: 16px;
      font-weight: 400;
      color: #00001E;
      line-height: 19px;
      position: relative;
      padding-left: 1.1225em;
      margin-bottom: 8px; }
      .rmd-problem-summary__list li:last-child {
        margin-bottom: 0; }
      .rmd-problem-summary__list li::before {
        content: "\2022";
        position: absolute;
        top: 0;
        left: 0;
        font-size: 1em;
        color: #FFB400; }

.rmd-note {
  padding: 20px;
  border: 1px solid #2359FF;
  border-radius: 8px;
  background-color: #f1f6fd;
  margin-bottom: 40px; }
  @media (min-width: 768px) {
    .rmd-note {
      width: 80%;
      padding: 24px 32px; } }
  .rmd-note__heading {
    font-size: 18px;
    font-weight: 600;
    color: #00001E;
    line-height: 21px;
    margin-bottom: 12px; }
  .rmd-note__content {
    font-size: 18px;
    font-weight: 400;
    color: #00001E;
    line-height: 21px; }
  .rmd-note__list {
    padding: 0;
    list-style: none; }
    .rmd-note__list li {
      font-size: 16px;
      font-weight: 400;
      color: #00001E;
      line-height: 19px;
      position: relative;
      padding-left: 1.1225em;
      margin-bottom: 8px; }
      .rmd-note__list li:last-child {
        margin-bottom: 0; }
      .rmd-note__list li::before {
        content: "\2022";
        position: absolute;
        top: 0;
        left: 0;
        font-size: 1em;
        color: #2359FF; }

.rmd-metrics-header {
  font-size: 24px;
  font-weight: 600;
  color: #00001E;
  line-height: 32px;
  margin-bottom: 20px; }
  @media (min-width: 768px) {
    .rmd-metrics-header {
      margin-bottom: 32px; } }

.rmd-metrics__title {
  font-size: 16px;
  font-weight: 600;
  color: #00001E;
  line-height: 24px; }
  .rmd-metrics__title::before {
    content: "\2022";
    margin-right: 8px; }

.rmd-metrics__text {
  font-size: 1.8rem;
  font-weight: 400;
  color: #00001E;
  line-height: 2.7rem; }

.rmd-metrics__list {
  padding: 0;
  list-style: none; }

.rmd-metrics__heading {
  font-size: 16px;
  font-weight: 600;
  color: #00001E;
  line-height: 24px;
  margin-bottom: 16px; }

.rmd-solution {
  margin-top: 25px; }
  @media (min-width: 768px) {
    .rmd-solution {
      margin-top: 60px; } }
  .rmd-solution__list {
    list-style: none;
    padding: 0;
    margin-bottom: 40px; }
    @media (min-width: 768px) {
      .rmd-solution__list {
        margin-bottom: 60px; } }
    .rmd-solution__list li {
      margin-bottom: 30px; }
      @media (min-width: 768px) {
        .rmd-solution__list li {
          margin-bottom: 48px; } }
      .rmd-solution__list li:last-child {
        margin-bottom: 0; }
  .rmd-solution__cause {
    font-size: 16px;
    font-weight: 600;
    color: #00001E;
    line-height: 24px; }
  .rmd-solution__block {
    position: relative; }
  .rmd-solution .rmd-solution__title {
    font-size: 1.1rem;
    font-weight: 500;
    color: #50B83C;
    line-height: 1.3rem;
    display: inline-block;
    padding: 3px 12px;
    margin-bottom: 20px;
    border: 1px solid #50B83C;
    border-radius: 100px;
    text-transform: uppercase; }
    @media (min-width: 768px) {
      .rmd-solution .rmd-solution__title {
        margin-bottom: 30px; } }
  .rmd-solution__text {
    font-size: 16px;
    font-weight: 400;
    color: #00001ec7;
    line-height: 24px;
    margin-top: 12px; }

.rmd-track {
  margin-top: 8px; }
  .rmd-track__list {
    list-style: none;
    padding: 0;
    margin-bottom: 40px; }
    .rmd-track__list li {
      margin-bottom: 36px; }
      .rmd-track__list li:last-child {
        margin-bottom: 0; }
  .rmd-track__block {
    position: relative; }
  .rmd-track .rmd-track__title {
    font-size: 1.1rem;
    font-weight: 500;
    color: #ED6347;
    line-height: 1.3rem;
    display: inline-block;
    padding: 3px 12px;
    margin-bottom: 20px;
    border: 1px solid #ED6347;
    border-radius: 100px;
    text-transform: uppercase; }
    @media (min-width: 768px) {
      .rmd-track .rmd-track__title {
        margin-bottom: 30px; } }
  .rmd-track__text {
    font-size: 1.6rem;
    font-weight: 400;
    color: #00001E;
    line-height: 2.4rem;
    margin-bottom: 24px; }
  .rmd-track__image {
    max-width: 100%; }

.rmd-form {
  margin-top: 100px;
  background: #f1f6fd; }
  @media (min-width: 768px) {
    .rmd-form {
      margin-top: 200px; } }
  .rmd-form__container {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    border-radius: 10px; }
    @media (min-width: 768px) {
      .rmd-form__container {
        text-align: left;
        padding-left: 0;
        padding-top: 60px;
        padding-bottom: 30px; } }
    @media (min-width: 992px) {
      .rmd-form__container {
        padding-top: 80px;
        padding-bottom: 30px; } }
  .rmd-form__block {
    text-align: left;
    max-width: 400px;
    margin: 0; }
  .rmd-form__label {
    font-size: 2.8rem;
    font-weight: 600;
    color: #19193D;
    line-height: 3.5rem;
    margin-bottom: 15px; }
  .rmd-form__sublabel {
    font-size: 1.8rem;
    font-weight: 400;
    color: #666678;
    line-height: 2.8rem;
    margin-bottom: 30px; }
  .rmd-form .form-group {
    margin-bottom: 35px; }
    .rmd-form .form-group .input-group {
      max-width: 400px;
      width: 100%; }
      .rmd-form .form-group .input-group .form-control {
        height: 42px;
        border-color: #2359FF;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px; }
        .rmd-form .form-group .input-group .form-control::placeholder {
          color: #9D9FAA;
          font-style: italic; }
      .rmd-form .form-group .input-group-addon {
        width: 50px;
        color: #ffffff;
        border-color: #2359FF;
        background: #2359FF;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        cursor: pointer; }
        .rmd-form .form-group .input-group-addon:hover, .rmd-form .form-group .input-group-addon:focus {
          outline: 0;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }
  .rmd-form .checkbox label {
    font-size: 1.4rem;
    font-weight: 400;
    color: inherit;
    line-height: 2rem;
    position: relative;
    padding-left: 30px; }
  .rmd-form .checkbox input[type=checkbox] {
    display: inline-block;
    position: absolute;
    top: -5px;
    -webkit-appearance: none;
    padding: 9px;
    border: 1px solid #cacece;
    border-radius: 3px;
    margin-left: -30px;
    background: #fff;
    outline: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05); }
    .rmd-form .checkbox input[type=checkbox]:checked {
      background-color: #e9ecee;
      border: 1px solid #adb8c0;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
      color: #99a1a7; }
      .rmd-form .checkbox input[type=checkbox]:checked::after {
        content: '\2714';
        font-size: 14px;
        position: absolute;
        top: -2px;
        left: 2px;
        color: #99a1a7; }
  .rmd-form .checkbox__help-text {
    font-size: 1rem;
    font-weight: 400;
    color: inherit;
    line-height: 1rem; }

.rmd-failure-msg {
  max-width: 300px;
  font-size: 1.5rem;
  text-align: center;
  margin: 0 auto; }

.icon-handbook {
  position: absolute;
  top: 0;
  left: 50%;
  width: 90px;
  height: 90px;
  background: url(../images/revenuemd/icon-handbook.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transform: translate(-50%, -50%); }
  @media (min-width: 768px) {
    .icon-handbook {
      width: 100px;
      height: 120px;
      left: 0;
      transform: translate(0, -50%); } }

.rmd-error-msg {
  display: inline-block;
  position: absolute;
  color: red;
  font-size: 1.2rem;
  margin-top: 8px; }

#snackbar {
  position: fixed;
  min-width: 300px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  padding: 16px;
  z-index: 50;
  left: 50%;
  bottom: -50px;
  border-radius: 2px;
  border-top: 4px solid transparent;
  opacity: 0;
  transform: translateX(-50%);
  background-color: #333333d9; }
  #snackbar[data-status='success'] {
    border-top-color: green; }
  #snackbar[data-status='failure'] {
    border-top-color: red; }
  #snackbar a {
    color: #ffffff;
    font-style: italic;
    text-decoration: underline; }

.rmd-spinner {
  width: 2.5rem;
  height: 2rem;
  background: url(../images/revenuemd/spinner.svg) center no-repeat; }

@keyframes animateNavListSM {
  from {
    left: -15px;
    opacity: 0; }
  to {
    left: 15px;
    opacity: 1; } }

@keyframes animateNavListMD {
  from {
    left: 0;
    opacity: 0; }
  to {
    left: 30px;
    opacity: 1; } }

@keyframes animateQuestion {
  from {
    bottom: -200px;
    opacity: 0; }
  to {
    bottom: 0;
    opacity: 1; } }

/*********************
track images size configuration
*********************/
.Cancellation_MRR, .Expansion_MRR, .Free_to_Paid_MRR, .Gross_MRR_Churn, .LTV_to_CAC_Ratio, .Upgrade_MRR {
  max-width: 190px !important; }

.Average_Rev_Per_Subscription, .Churn_break_down, .MRR_Retention_Cohort, .New_MRR_Acquisition_Channel, .Paid_Subscription_Lifetime, .Plan_Movement_Report, .Signups_by_Acquisition_Channel, .Subscription_Breakdown, .Subscription_Retntn_Cohort {
  max-width: 100%; }
  @media (min-width: 768px) {
    .Average_Rev_Per_Subscription, .Churn_break_down, .MRR_Retention_Cohort, .New_MRR_Acquisition_Channel, .Paid_Subscription_Lifetime, .Plan_Movement_Report, .Signups_by_Acquisition_Channel, .Subscription_Breakdown, .Subscription_Retntn_Cohort {
      max-width: 465px !important; } }

/* Video CSS Start */
.cc-popup-section {
  position: absolute;
  z-index: 9999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: center;
  display: flex; }

/* Video CSS End */
.cc-popup-container {
  width: 100%;
  max-width: 420px;
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.12); }

@media (max-width: 767px) {
  .cc-popup-container {
    height: 100%;
    border-radius: 0;
    padding-top: 80px; } }
