// =============================================================================
// Page level variables
// =============================================================================


//=============================================================================
//  Variables
//=============================================================================
// -----------------------------------------------------------------------------
// Fonts
// -----------------------------------------------------------------------------
$ff_primary : basis-grotesque,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$ff_sfpro: "SF Pro Text", -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;

//------------------------------------------------------------------------------
//  font-size
//------------------------------------------------------------------------------
$fw_base    : normal;
$fw_medium  : 500;
$fw_bold    : bold;


//------------------------------------------------------------------------------
//  font-size
//------------------------------------------------------------------------------
$fs_xs      : 14px;
$fs_st      : 16px;
$fs_sm      : 18px;
$fs_md      : 24px;
$fs_lg      : 32px;
$fs_gg      : 36px;
$fs_xl      : 40px;
$fs_hero    : 48px;


// -----------------------------------------------------------------------------
// Color
// -----------------------------------------------------------------------------
$clr_white      : #ffffff;
$clr_black      : #000000;
$clr_link       : #000FF0;
$clr_primary    : #193165;
$clr_base       : #242438;
$clr_base_dark  : #00000A;
$clr_brand      :#fa6400;

// =============================================================================
// Page level Selectors
// =============================================================================
$prefix            : ".so";



//------------------------------------------------------------------------------
//  Media query
//------------------------------------------------------------------------------

$mobile: 568px;
$tablet: 991px;

@mixin mobile  {
    @media (max-width: #{$mobile}) {
        @content; 
    } 
}


@mixin icon-base64($color) {
	$clr-rgb: "rgb(" + red($color) + "%2C" + green($color) + "%2C" + blue($color) + ")";
	background-image: url('data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0A%09%3Cpath%20d%3D%22M13.025%201l-2.847%202.828%206.176%206.176h-16.354v3.992h16.354l-6.176%206.176%202.847%202.828%2010.975-11z%22%20fill%3D%22#{$clr-rgb}%22%2F%3E%0A%3C%2Fsvg%3E');
}


//=============================================================================
//  Main Styles
//=============================================================================
html {
    scroll-behavior: smooth;
}  
body{
    font-family: $ff_primary;
} 
a:hover, a:focus, a:active {
    text-decoration: none;
    outline: 0;
} 


//=============================================================================
//  Hero Section
//=============================================================================
#{$prefix}{
    &-main{
        background-image: url(../images/compare-competitors/sassoptics/banne-elements.svg);
        background-size: contain;
        background-position: bottom;
        background-repeat: no-repeat;
        background-color: #502da8; 
        .container{
            padding-top: 160px; 
            .row{
                margin-bottom: 100px;
            }
        }
    }
    &-header{
        .heading{
            font-size: $fs_hero ;
            font-weight: $fw_bold ;
            color: $clr_white;
            line-height: 60px;
        }
        .desc{
            margin: 40px 0;
            font-size: $fs_sm;
            color: $clr_white;
        }
    }
    &-actions{
      .action{
          .btn{
             border:1px solid $clr_white;
             width: 192px;
             display: inline-block;
             text-align: center;
             padding: 10px;
             color: $clr_white; 
             font-size:$fs_st;
             margin-right: 15px;
             font-weight:$fw_medium ;
             &:last-child{
                 margin-right: 0; 
             }
             &:after{
                content: '';
                display: inline-block;
                width: 16px;
                height: 14px;
                margin-left: 8px;
                transition: 0.3s ease;
                @include icon-base64($clr_white);
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                position: relative;
                top: 3px;
            }
            &:hover,
            &:focus{
                transition: 0.3s ease;
                text-decoration: none;
                border:1px solid $clr_white;

                &:before{
                    transform: translate(1px, 1px);
                    width: 100%;
                    height: 100%;
                }
                &:after{
                    transform: translateX(4px);
                }
            }
          }
          .down-scroll{
              &::after{
                @include icon-base64(#502ea8); 
              }
          }
          .up-scroll{
              &::after{
                @include icon-base64($clr_white); 
              }
          }
      }
    }
    &-right{ 
        img{
            max-width: 475px;
        }
    }
    &-loveus{
      margin: 80px 0;
      .cj-slider__content{
        text-align: center;
        margin-top: 15px;
        font-size: 14px;
        font-family: $ff_sfpro; 
      }
      .cj-slider__figure{ 
        position: relative;
        overflow: hidden;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        max-width: 650px;
        margin: 0 auto 16px;
      }
    }
    &-subscription{
        margin: 160px 0;
        .so-heading{
            color: #101010;
            font-size:$fs_gg;
            font-weight: $fw_bold; 
            margin-bottom: 40px;
            text-align: center;
        }
        .container{
            max-width: 900px; 
        }
    }
    &-ratings{
        background-color: #F4F4F4;  
        padding: 60px 0;
        .so-rating-parent{ 
            display: flex;
            width: 80%;
            margin: 0 auto;
            position: relative ;
            .so-rating {
                flex: 0 0 20%;
                position: relative;
                text-align: center;
                strong{
                    color: #5500CB;
                   font-family:$ff_sfpro;
                   font-style: italic; 
                   font-size: 46px; 
                   font-weight: 200;
                }
                b{
                    color: #00000A;
                    font-weight: $fw_bold;
                    font-size: $fs_st; 
                }
                &::after{
                    content: ''; 
                    border-right: 1px solid #BEBEBE;
                    position: absolute;
                    top: 0px;
                    right: 0;
                    height: 100%;
                }
                &:last-child::after{
                    border-right: none;
                }
                &:last-child{
                    b{color: #5500CB;} 
                }
            }
            &::before{
                content: '';
                position: absolute;
                right: 0px;
                background: url(../images/compare-competitors/sassoptics/stars.svg) no-repeat; 
                display: inline-block;
                right: -28px;
                top: 0px;
                width: 154px;
                height: 176px;  
                transform: rotate(180deg);
            }
            &::after{
                content: '';
                position: absolute;
                right: -40px; 
                background: url(../images/compare-competitors/sassoptics/momentum-leader.svg) no-repeat;  
                display: inline-block;
                right: -40px;
                top: -133px;
                width: 177px;
                height: 237px; 
            }
        }
    }
    &-advantage{
        padding: 100px 0;
        .container{
            max-width: 1000px;
            h4{
                color: #4300A3;
                font-size:$fs_md;
                font-weight: $fw_bold;
                margin-bottom: 50px;
            }
            .item{
              padding-left: 50px;
              margin-bottom: 40px;
                .first::before{
                    content: '';
                    background: url(../images/compare-competitors/sassoptics/business-briefcase-cash.svg) no-repeat;
                    display: inline-block;
                    width: 24px;
                    height: 24px;
                    vertical-align: bottom; 
                    position: absolute;
                    left: 20px;
                }
                .second::before{ 
                    content: '';
                    background: url(../images/compare-competitors/sassoptics/safe.svg) no-repeat;
                    display: inline-block;
                    width: 24px;
                    height: 24px;
                    vertical-align: bottom;
                    position: absolute;
                    left: 20px;
                }
                .third::before{
                    content: '';
                    background: url(../images/compare-competitors/sassoptics/operator-male.svg) no-repeat; 
                    display: inline-block;
                    width: 24px;
                    height: 24px;
                    vertical-align: bottom;
                    position: absolute;
                    left: 20px;
                }
                .item-heading{
                    color: #101019;
                    font-weight: $fw_bold;
                    font-size: $fs_sm;  
                    margin-bottom: 10px;
                }
                .item-para{
                    color: $clr_black;
                    font-family: $ff_sfpro;
                    font-size: $fs_st;
                    margin-bottom: 0px;
                }
            }
        }
    }
    &-revenue{
        background-color: #F9F9F9;
        padding: 100px 0;
        @include mobile{
            padding: 50px 0;
        }
        .container{
            max-width: 1000px;
        }
        .so-revenue-parent{
            .header{
                color: #232323;
                font-weight: $fw_bold;
                font-size: $fs_md; 
                margin-bottom: 20px;
                margin-top: 20px;
            }
            .desc{
                font-family: 'IBM Plex Sans', sans-serif;  
                color: #000000; 
                line-height: 24px;
                font-size: $fs_st; 
                max-width: 341px;
            }
        }
    }
    &-badge{
        background-color: #F9F9F9;
        padding: 100px 0 150px 0; 
        @include mobile{
            padding-top: 50px;
            padding-bottom: 0;
        }
    }
    &-saasoptics{
        padding: 100px 0;
        @include mobile{
            padding: 50px 0;
        }
        .parent{
            .left{ 
                h4{
                    margin-bottom: 30px;  
                    color: #161516;
                    font-size: 36px;
                    font-weight: bold; 
                    @include mobile{
                        font-size: 28px;
                    }
                }
            }
            .right{
                .so-testimonial{ 
                    background: #FFFFFF;
                    box-shadow: 4px 4px 34px rgba(0, 0, 0, 0.25);
                    padding: 50px; 
                    border-radius: 10px;
                    .list{
                        &::after{
                           
                        }
                    } 
                    &::before{
                        content: '';
                        background: url(../images/resources/guides/chargebee-report/quotemark.svg) no-repeat;
                        position: absolute;
                        top: 0;
                        width: 47px;
                        height: 38px;
                        display: inline-block;
                        background-size: contain;
                        right: 57px;                     
                    }
                }
                .slick-dots{
                    text-align: center;
                    left: 0; 
                    bottom: 25px; 
                }
            }
        }
    }
} /*Prefix*/  

.abm-customer__logo{
  width: 140px;  
  margin-left: auto;
}
.abm-customer__profile{
    width: 230px;   
}
/*Customer List*/

.abm-customer__review {
    background-image: none !important;
}
.abm-customer__header {
    margin-top: 30px !important; 
	margin-bottom: 30px !important; 
	position: relative;
	overflow: hidden;
}

.abm-customer__profile {
	display: grid;
	grid-template-columns: auto 1fr auto;
	grid-column-gap: 10px;
	align-items: end;
}

.abm-customer__profile:after {
    content: "";
	position: absolute;
    width: 76%;
    right: 0; 
	bottom: 10px;
	height: 1px;
	border-bottom: 1px solid #C4C4C4; 
	z-index: -1;
}

.abm-customer__desc {
    margin-bottom: 30px;
    font-family: $ff_sfpro;
    color: $clr_black;
    font-size: $fs_st; 
}

.abm-customer__logo img {
	margin-left: auto;
	margin-right: 0;
	margin-bottom: 60px;
	max-width: 180px;
}

@media (min-width: 768px) {
	.abm-customer__logo img {
		max-width: 280px;
	}
}

@media (min-width: 992px) {
	.abm-customer__logo img {
		margin-bottom: 0;
	}
}

.abm-customer__name {
    margin-bottom: 30px !important;
    font-size: $fs_xs;
    font-family: $ff_sfpro;
    color: $clr_black;
}

.abm-customer__img {
	border-radius: 50%;
	width: 60px;
	height: 60px;
	border: 1px solid #00000A;
}

@media (min-width: 768px) {
	.abm-customer__img {
		width: 98px !important; 
		height: 98px;
	}
} 
/*Customer List*/


//------------------------------------------------------------------------------
//  Start HS Form
//------------------------------------------------------------------------------

.fr-form{
    margin-top: 48px;

    @media (max-width: 767px) {
      margin-top: 30px;
    }

    form{
        margin-bottom: 40px;
        border-radius: 0; 

        @media (min-width: 768px) {
            display: -ms-grid;
            display: grid;
            border: 2px solid #502CA8; 
            position: relative;
            -ms-grid-columns: 1fr auto;
            grid-template-columns: 1fr auto;
            align-items: center;
            justify-content: space-between;
            max-width: 520px;

            div,input{
                height: 100%;
            }
        }

         @media (max-width: 767px) {
              max-width: 420px;
              position: relative;
         }

        [id^="label-email"]{
            display: none;
        }
        .hs-error-msgs{
            color: #E71324;
            list-style-type: none;
            font-weight: normal;
            margin: 0;
            padding: 0;
            text-align: left;
            font-size: 14px;
            margin-top: 8px;
            @media (min-width: 768px) {
                position: absolute;
                margin-top: 60px;
                left: 0;
                top: 0;
            }
            .hs-error-msg{
                margin-bottom: 0;
            }
        }
        .hs-form-field{
            position: relative;
            z-index: 8;
        }
        .hs_error_rollup{
            display: none;
        }
        input{
            &,&:hover,&:active,&:focus{
                outline: none;
                @media (min-width: 768px) {
                    border: none;
                    box-shadow: none;
                    background: $clr_white;
                    padding: 16px;
                    margin: 0;
                    font-size: 20px;
                    line-height: 22px;
                    width: 100%;
                    border-radius: 0 !important;
                }
            }
            &[type="submit"]{
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                background-color: #502CA8; 
                color: $clr_white;
                padding-left: 24px;
                padding-right: 44px;
                position: relative;
                border-radius: 0 !important;

                @media (max-width: 767px) {
                   border-width: 0 !important;
                   color: transparent;
                    max-width: 40px;
                    padding: 8px 26px;
                }
            }
            @media (max-width: 767px) {
                padding: 8px;

                &[type="email"]{
                    border: 2px solid $clr_black;
                    width: 100%;
                }
            }
        }
        .hs-submit{

            @media (max-width: 767px) {
                position: absolute;
                top: 2px;
                right: 2px;
                z-index: 10;
            }


            .actions{
                position: relative;

                &:after{
                    content: '';
                    transition: .3s ease;
                    background: url(../images/home/jan-2019/arrow/button-arrow.svg) no-repeat;
                    position: absolute;
                    top: 0;
                    background-size: 16px 14px;
                    background-position: center;
                    right: 0;
                    width: 16px;
                    height: 100%;
                    margin-right: 20px;

                    @media (max-width: 767px) {
                        height: 18px;
                        margin-right: 0;
                        top: 12px;
                        right: 14px;
                    }
                }
                &:hover{
                    &:after{
                        margin-right: 16px;
                    }
                }
            }
        }
    }
    &:not(.fr-form__theme--red){
        form{
            @media (max-width: 991px) {
                margin: 0 auto 40px;
            }

        }
    }
    &.fr-form__theme--red{
        form{
            @media (max-width: 767px) {
                input[type="email"]{
                    border: 2px solid blue;
                }
            }
            @media (min-width: 768px) {
                border: 2px solid red;
                background-color: $clr_white;
                margin-left: 0;
                grid-gap: 0;
            }
        }
    }
}
@media (max-width: 767px) {
   .fr-hs-form{
      margin-left: 0 !important;
  }
  .abm-customer__profile {
    display: block; 
  }
 .abm-customer__img {
    width: auto !important;
    margin-bottom: 15px;
  }
}

//------------------------------------------------------------------------------
// End HS Form
//------------------------------------------------------------------------------



//------------------------------------------------------------------------------
//  End G2 slider 
//------------------------------------------------------------------------------
.cp-article {
    .container{
        .cp-cols{
            .cp-article__header{
                margin-bottom: 60px;
                .cp-article__title{
                font-size: $fs_lg;
                font-weight: bold;
                max-width: 600px;
                text-align: center;
                margin: 0 auto;
                line-height: 42px;
                color: #4300A3; 
                @include mobile(){
                    font-size: 28px; 
                }
                }
            }
            .cp-article__content{
                width: 55%;
                margin: 0 auto;
                .sb-slider{
                    .sb-slider__container{
                        .sb-slider__content{
                            .sb-slider__slide{
                                .col{
                                    .slide-content{
                                        display: flex;
                                        align-items: center;
                                        @include mobile{
                                            display: block;
                                            text-align: center;
                                            margin-top: 100px;
                                        }
                                        .slide-content__left{
                                            img{
                                                width: 206px; 
                                                margin: 0 auto;
                                                position: relative;  
                                                right: -30px;
                                                top: 15px;
                                                @include mobile{
                                                   width: 100%; 
                                                   right: 0;
                                                }
                                            }
                                        }
                                        .slide-content__right{
                                            padding-left: 40px; 
                                            @include mobile{
                                                padding-left: 0;
                                            }
                                            h3{
                                                font-size: $fs_md;
                                                font-weight: $fw_bold;
                                                color: rgb(0, 0, 10);
                                                margin-bottom: 12px; 
                                            }
                                            p{
                                                letter-spacing: -0.13px;
                                                color: rgb(0, 0, 10);
                                                font-family: $ff_sfpro; 
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.slick-slide div{
    width: 100% !important; 
    height: auto !important;
    margin: 0 auto;
}
.sb-slider__container{
    &::before{
        content: ''; 
        background: url(../images/resources/guides/chargebee-report/bg-shape.svg); 
        position: absolute;
        width: 214px;
        height: 300px; 
        background-repeat: no-repeat;
    }
    &::after{
        content: ''; 
        background: url(../images/resources/guides/chargebee-report/bg-shape.svg); 
        position: absolute;
        width: 90px; 
        height: 300px; 
        background-repeat: no-repeat;
        top: 144px;
    }
}
ul.slick-dots {
    bottom: -70px;
    left: 38px;
    display: inline-block !important;
    text-align: left;
    @include mobile{
        text-align: center;
        left: 0;
    }
}


.sb-slider .slick-arrow { 
    width: 40px;
    height: 52px; 
    background: url(../images/resources/guides/chargebee-report/arrows.svg) center/contain no-repeat;
 }
    .sb-slider .slick-arrow:before {
      display: none;
     }
    .sb-slider .slick-arrow:hover, .sb-slider .slick-arrow:focus {
      background: url(../images/resources/guides/chargebee-report/arrows.svg) center/contain no-repeat;
     }
  .sb-slider .slick-prev {
    transform: rotate(180deg);
    left: -116px; }
    .slick-next{
        right: -100px !important;
        top: 60% !important;  
    }
  
  .sb-slider .slick-dots li {
    margin: 0; }
    .sb-slider .slick-dots li button:before {
      color: #E2E9F9;
      opacity: 1;   
      font-size: 12px;
    
    }
      @media (max-width: 767px) {
        .sb-slider .slick-dots li button:before {
          font-size: 9px; } }
    .sb-slider .slick-dots li.slick-active button:before {
      color: #440077; }  
      @media (max-width: 568px) {
        .sb-slider .slick-arrow:hover, .sb-slider .slick-arrow:focus {
            background: url(../images/campaigns/saas-subscription-billing/icon/arrow.svg) center/contain no-repeat; 
           }
        .sb-slider .slick-arrow {
            width: 30px;
            height: 24px;
            background: url(../images/campaigns/saas-subscription-billing/icon/arrow.svg) center/contain no-repeat; 
        }
        .sb-slider .slick-prev{ 
            left: -43px !important;
            top: 52%; 
        } 
        .slick-next{
            right: -36px !important;
            top: 55% !important;
        }
        .so-saasoptics .parent .right .so-testimonial{
            padding: 40px; 
        }
        .so-right img{
            text-align: center; 
            width: 100%;
        }
        .cp-article--alt.so-badge{
            margin-top: 0 !important; 
        }
    }

//------------------------------------------------------------------------------
//  End G2 slider 
//------------------------------------------------------------------------------  


//------------------------------------------------------------------------------
//  Tab Design
//------------------------------------------------------------------------------  
#{$prefix}-tab{ 
    [cb-vtab-item-bg] {
        border-bottom: 1px solid #000000;
        z-index: 1;
        display: block;
        position: absolute;
        height: 100%;
        transition: .25s;
    }
    &__{
        &item{
            span{
                color:rgba(25, 25, 35, 0.55);
                font-size: 16px;
                padding: 6px 8px;
                opacity: .5;
                display: block;
                cursor: pointer;
                padding: 10px 20px;
                @media (min-width: 768px) {
                    font-size: 22px;
                }
                @media (min-width: 992px) {
                    font-size: 16px; 
                    color: rgba(21, 21, 34, 0.55);
                }
                @media (min-width: 1200px) {
                    padding: 10px 15px;
                    font-family: $ff_sfpro; 
                }
            }
            &[cb-vtab-item-selected]{
                span{
                    opacity: 1;
                    color: #120EF0; 
                    text-shadow: 0 0 .65px #333, 0 0 .65px #333;
                }
            }
            &s{
                display: grid;
                position: relative;
                z-index: 2;
                grid-template-columns: repeat(4,1fr);
                text-align: center;
            }
        }
        &select{
            background-color: #8929e0;
            border-radius: 50px;
            box-shadow: 0 1px 4px -1px rgba(0,0,0,.06), 0 4px 14px -1px rgba(0,0,0,.18);
            border-width: 0;
            text-align: left;
            color: $clr_white;
            position: relative;
            &:after {
                content: '';
                width: 10px;
                height: 10px;
                border: 6px solid transparent;
                border-top-color: $clr_white;
                display: inline-block;
                position: absolute;
                right: 20px;
                top: 20px;
            }
            select{
                font-size: 18px;
                &,&:focus{
                    -webkit-appearance: none;
                    border: 0;
                    background: 0 0;
                    font-weight: 500;
                    padding: 10px 24px 10px 18px;
                    width: 100%;
                    outline: none;
                }
            }
            @media (max-width: 991px) {
                margin-bottom: 30px;
            }
        }
        &aside{
            margin-bottom: 30px;
            border-bottom: none;
            position: relative;
            @media (min-width: 992px) {
                margin-bottom: 36px;
                display: inline-block;
                border-bottom: 1px solid #E5E4E4; 
            }
        }
        &content{
            [cb-vtab-content]{
                .so-tab__features{
                    li{
                        flex: 0 0 49%;
                        color: $clr_black;
                        font-size: $fs_xs;
                        font-weight: $fw_bold;
                        margin-bottom: 10px; 
                        font-family: $ff_sfpro; 
                    }
                    li:after{
                        content: '';
                        background: url(../images/compare-competitors/sassoptics/check-circle.svg); 
                        display: inline-block;
                        width: 11px;
                        height: 11px;
                        background-size: contain; 
                        position: relative;
                        left: 5px;
                    }
                }
                @media (min-width: 992px) {
                    .so-tab__parent{
                        display: flex;
                        .so-tab__left{
                            flex: 0 0 430px;
                            .so-tab__header{
                             h2{color: #101010;font-size: $fs_md; font-weight:$fw_bold} 
                            }
                            .so-tab__descs{
                                margin: 30px 0;
                                p{
                                    color: $clr_black;
                                }
                            }
                            .so-tab__features{
                                list-style-type: none;
                                padding-left: 0;
                                display: flex;
                                flex-wrap: wrap;
                                justify-content: space-between;
                            }
                        }
                        .so-tab__right{
                            flex: auto;
                             margin-left: 40px;
                        }
                    }
                }
            }
        }
    }
    &__{
        &title{
            color: rgb(3, 61, 72);
            font-size: 16px;
            margin-bottom: 30px;
            @media (min-width: 992px) {
                
            }
        }
        &desc{
            color: rgb(3, 61, 72);
            font-size: 16px;
            line-height: 24px;
            font-family: $ff_primary; 
            ul{
                li{
                    margin-bottom: 16px;
                }
            }
            @media (min-width: 992px) {
                
            }
        }
    }
}    
//------------------------------------------------------------------------------
//  Tab Design
//------------------------------------------------------------------------------




//------------------------------------------------------------------------------
//  Slick Slider
//------------------------------------------------------------------------------
.slick-slide {
	margin: 0px 15px;
	display: none;
	height: 100%;
	min-height: 1px;
	img {
		width: 100%;
		display: block;
	}
	&.slick-loading {
		img {
			display: none;
		}
	}
	&.dragging {
		img {
			pointer-events: none;
		}
	}
	.swidth {  
		width: 133px !important;
        height: 50px !important;  
        margin: auto;
	}
}
.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	user-select: none;
    touch-action: pan-y;
}

.slick-slider .slick-slide > div{
    background-image: url(../images/customers/logos/logos-sprite.png);
    background-repeat: no-repeat;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
    .slick-slider .slick-slide > div {
        background-image: url(../images/customers/logos/logos-sprite-2x.png);
        background-size: 1078px 50px;
        -webkit-background-size: 1078px 50px;   
    }
}

.slick-list {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
	&:focus {
		outline: none;
	}
	&.dragging {
		cursor: pointer;
		cursor: hand;
	}
}
.slick-slider .slick-track, .slick-slider .slick-list {
	transform: translate3d(0, 0, 0);
}
.slick-track {
	position: relative;
	top: 0;
	left: 0;
	display: block;
	&:before {
		display: table;
		content: '';
	}
	&:after {
		display: table;
		content: '';
		clear: both;
	}
}
.slick-loading {
	.slick-track {
		visibility: hidden;
	}
	.slick-slide {
		visibility: hidden;
	}
}
[dir='rtl'] {
	.slick-slide {
		float: right;
	}
}
.slick-initialized {
	.slick-slide {
		display: inline-block;
		vertical-align: middle;
	}
}
.slick-vertical {
	.slick-slide {
		display: block;
		height: auto;
		border: none;
	}
}
.slick-arrow {
	&.slick-hidden {
		display: none;
	}
}

.doodle_bg {
    background-position: 0 0;
}
.envoy_bg {
    background-position: -135px 0;
}
.freedom_bg {
    background-position: -270px 0;
}
.freshworks_bg {
    background-position: -405px 0;
}
.knewton_bg {
    background-position: -540px 0;
}
.okta_bg {
    background-position: -675px 0;
}
.percona_bg {
    background-position: -810px 0;
}
.study_bg {
    background-position: -945px 0;
}
//------------------------------------------------------------------------------
//  Slick Slider
//------------------------------------------------------------------------------


.cp-article .container .cp-cols .cp-article__content:before {content: '';background-color: #fff;width: 83%;height: 365px;position: absolute;left: 8%;bottom: -50px;display: none;} 
.so-testimonial .slick-dots li button:before{
    width: 15px;
    height: 16px; 
    background-color: #C4C4C4;
    border-radius: 50%;
    font-size: 0;
}
.so-testimonial .slick-dots li.slick-active button:before{
    width: 15px;
    height: 16px; 
    background-color: #502CA8;
    border-radius: 50%;
}
.abm-customer__body {
    margin-top: 20px !important;
}
.up-scroll{
    background-color: #6450F0 !important;  
    box-shadow: 0 2px 10px 0 rgba(0, 4, 48, 0.08), 0 12px 21px 0 rgba(0, 4, 48, 0.24) !important;
    border: none !important; 
    color: #ffffff;
}
@media only screen and (max-width: 991px) {
    .so-actions .action {
        display: flex;
        justify-content: center;
    } 
    .so-subscription {
        margin-top: 50px;
    }
    .so-tab__left .so-tab__header h2 {
        color: #101010;
        font-size: 24px;
        font-weight: bold; 
        margin-bottom: 15px;
    }
    .so-tab__left .so-tab__descs p {
        font-size: 18px;
    }
    .so-tab__features {
        padding-left: 0px;
        list-style-type: none;
        margin-top: 20px;
        margin-bottom: 30px;
    } 
    .so-tab__left .so-tab__header h2 br {
        display: none;
    }
    .so-tab__features{
        display: flex;
        flex-wrap: wrap;
    }
    .so-ratings .container {
        width: 90%;
    }
    .so-saasoptics .parent .left {
        text-align: center;
        margin-bottom: 50px;
    }
    .abm-customer__profile:after{
        width: 100%; 
    }
    .so-right img{
        max-width: inherit;
        width: 100%; 
    }
    .so-right{
        margin-top: 25px; 
    }
    .so-tab__right img { 
        margin: 0 auto;
    }
    .so-tab__features {
        display: block;
    }
    .so-tab__features li {
        display: inline-block;
        margin-right: 25px;
    } 
}

@media only screen and (max-width: 768px) {
    .so-ratings .so-rating-parent::before{ 
        display: none;
    }
    .so-subscription .container {
        width: 80%;
        max-width: inherit;
    }
    .so-ratings .so-rating-parent{
        width: 100%;
        flex-wrap: wrap; 
        flex: 1; 
    }
    .so-rating:last-child {
        flex: 1 !important; 
        background-color:#4732b4 !important;
    }
    .so-ratings .so-rating-parent .so-rating{
        flex: 0 0 33.3%; 
        background-color: #e0dcf8;   
        padding: 20px;
    }
    .so-ratings .so-rating-parent::after{
        right: 27px;
        top: 154px;  
    }
    .so-ratings .so-rating-parent .so-rating:last-child b{
        color: $clr_white;
    }
    .sm-change{
        color: $clr_white !important; 
    }
    .so-ratings .so-rating-parent .so-rating::after{
        display: none;
    }
}

@media only screen and (max-width: 568px) {
    .so-right {
        margin-top: 30px;
    }
    .so-heading br {
        font-size: 18px !important;
    }
    .so-tab__features {
        display: block;
    }
    .so-ratings .so-rating-parent .so-rating{
        padding: 10px 0;
    }
    .so-ratings .so-rating-parent .so-rating strong {
        font-size: 32px;
    }
    .so-ratings .so-rating-parent .so-rating b {
        font-size: 14px;
    }
    .so-ratings .so-rating-parent::after{
        display: none;
    }
    .so-actions .action{
        display: block;
    }
    .so-actions .action .btn {
        width: 100%;
        margin-bottom: 15px;
    }
    .so-header .heading {
        font-size: 36px;
        line-height: 48px;
    }
    .so-subscription .container{
        width: 90%; 
    }
    h2.so-heading br { 
        display: none;
    }
    .so-main .container {
        padding-top: 116px;
    }
    .so-subscription .so-heading{
        font-size: 28px; 
    }
    .so-header .desc{
        margin: 20px 0;
    }
    .so-tab__left .so-tab__header h2{
        font-size: 20px;
    }
    .so-subscription{
        margin-bottom: 50px;
    }
    .so-advantage{
        padding: 50px 0;
    }
    .sb-slider__container::after {
        display: none;
    }    
    .sb-slider__container:before {
        background-size: cover;
        width: 100%;
        left: 0;
        right: 0;
    }
    .sb-slider__container::before {
        background-size: cover;
        width: 100%;
        left: 0;
        right: 0;
    }
    .cp-article .container .cp-cols .cp-article__content{
        width: 85%; 
    }
    .so-tab__features{
        display: flex !important;
    }
    .so-tab__content [cb-vtab-content] .so-tab__features li {
        flex: 0 0 100%;
    } 
}




  /*Desktop Tap*/
  .so-tab-top{
    position: sticky;
    top: 0; 
    .so-tab__ul{
        display: flex; 
        list-style-type: none;
        align-items: center;
        padding-left: 0;
        justify-content: center;
        border-bottom: 1px solid #e5e4e4;
        background-color: #fff;
        li{
            position: relative;
            a{
                font-size: 16px;
                color: #333333;
                padding: 10px 20px;
                display: block;
                cursor: pointer;
            }
            .active{
                opacity: 1;
                color: #120ef0;
                text-shadow: 0 0 0.65px #333, 0 0 0.65px #333;
                border-bottom: 1px solid transparent; 
                &::after{
                    content: '';
                    position: absolute;
                    left: 0px;
                    border-bottom: 1px solid #000;  
                    bottom: 0;
                    width: 100%;
                }
            }
        }
    }
  }
  .so-tab-bottom{
      .so-tab__parent{
          display: flex;
          .so-tab__left{
            -webkit-box-flex: 0;
            -ms-flex: 0 0 430px;
            flex: 0 0 430px;
            padding-top: 70px;
            .so-tab__header{
                h2{
                    color: #101010;
                    font-size: 24px;
                    font-weight: 700;
                }
            }
            .so-tab__descs{
                margin: 30px 0;
                p{
                    color: $clr_black;
                }
            }
            .so-tab__features{
                list-style-type: none;
                padding-left: 0;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
                li{
                    -webkit-box-flex: 0;
                    -ms-flex: 0 0 49%;
                    flex: 0 0 49%;
                    color: #000;
                    font-size: 14px;
                    font-weight: 700;
                    margin-bottom: 10px;
                    font-family: $ff_sfpro; 
                    &::after{
                        content: '';
                        background: url(../images/compare-competitors/sassoptics/check-circle.svg);
                        display: inline-block;
                        width: 11px;
                        height: 11px;
                        background-size: contain;
                        position: relative;
                        left: 5px;
                        z-index: -1;
                    }
                }
            }
        } /*left*/ 
          .so-tab__right{
            -webkit-box-flex: 1;
            -ms-flex: auto;
            flex: auto;
            margin-left: 40px; 
            padding-top: 50px;   
          }
      }
  }
  .so-tab-bottom div {
    margin-bottom: 20px;
  } 
   /*Desktop Tap*/