.ct-row {
  padding: 50px 0;
  color: #00000A;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.5; }
  .ct-row--hidden {
    max-height: 1020px;
    overflow-y: hidden;
    margin-bottom: 150px;
    position: relative; }
    .ct-row--hidden:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 170px;
      bottom: 0px;
      background: white;
      background: linear-gradient(0deg, #ffffffdb 0%, rgba(255, 255, 255, 0.46) 100%); }
  .ct-row--visible {
    max-height: 100%;
    overflow: visible; }
  .ct-row__btn {
    border-radius: 21.43px;
    background-color: #FFFFFF;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.12), 0 5px 16px 0 rgba(5, 5, 5, 0.12);
    color: #000FF0;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    cursor: pointer;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
    bottom: 40px;
    max-width: 289px;
    padding: 12px 24px;
    transition: .3s ease-out; }
    .ct-row__btn:hover, .ct-row__btn:focus {
      box-shadow: none;
      color: #ffffff;
      background: #000FF0; }
  .ct-row:first-child {
    padding-top: 100px; }
  @media (max-width: 1319px) {
    .ct-row .ct-hero__bg {
      min-height: 531px; } }
  @media (max-width: 1090px) {
    .ct-row .ct-hero__bg {
      background-position: right; }
    .ct-row .ct-moment-grid .ct-moment-grid__heading {
      top: 38px;
      left: 85px; } }
  @media (min-width: 768px) {
    .ct-row {
      padding: 70px 0; }
      .ct-row:first-child {
        padding-top: 120px; } }
  @media (max-width: 767px) {
    .ct-row .ct-hero__bg {
      background-image: none;
      min-height: auto; }
    .ct-row .ct-hero__container {
      margin-top: 0px; }
    .ct-row .ct-row {
      padding: 25px 0; }
    .ct-row .ct-medias .ct-media {
      flex: 0 0 100%; }
    .ct-row .cw-another__parent .cw-another__body .cw-another-lists .cw-another-list {
      flex: 0 0 100%; }
    .ct-row .cw-another__parent .cw-another__body .cw-another-lists {
      width: 90%; }
    .ct-row .ca-main .ca-main__body {
      display: block; }
    .ct-row .ca-main .ca-main__body .ca-main__left {
      margin-bottom: 10px; } }
  @media (min-width: 1441px) {
    .ct-row {
      padding: 70px 0; } }
  @media (min-width: 992px) {
    .ct-row:first-child {
      padding-top: 180px; } }

a, a:hover, a:active, a:focus {
  text-decoration: none;
  outline: none; }

.ct-link {
  color: #000FF0;
  font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 500; }
  .ct-link--icon:after {
    content: '';
    display: inline-block;
    width: 12px;
    height: 10px;
    margin-left: 8px;
    background: url("../images/home/jan-2019/arrow/arrow.svg") center/contain no-repeat; }

@media (min-width: 991px) {
  .ct-aicd {
    display: flex;
    align-items: center; } }

.ct-btn {
  color: #fff;
  font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 20px;
  font-weight: 500;
  border-radius: 4px;
  background-color: #6200EA;
  display: inline-block;
  height: 54px;
  line-height: 54px;
  padding-left: 24px;
  padding-right: 24px;
  transition: 0.3s ease;
  position: relative;
  white-space: nowrap;
  cursor: pointer; }
  .ct-btn:after {
    content: '';
    display: inline-block;
    width: 16px;
    height: 14px;
    margin-left: 8px;
    transition: 0.3s ease;
    background: url("../images/home/jan-2019/arrow/button-arrow.svg") center/contain no-repeat; }
  .ct-btn:hover, .ct-btn:focus {
    color: #fff;
    transition: 0.3s ease;
    text-decoration: none;
    border-color: transparent;
    background: #6200EA; }
    .ct-btn:hover:before, .ct-btn:focus:before {
      transform: translate(1px, 1px);
      width: 100%;
      height: 100%; }
    .ct-btn:hover:after, .ct-btn:focus:after {
      transform: translateX(4px); }
  .ct-btn--ghost {
    color: #000FF0;
    background: transparent;
    box-shadow: 0px 0px 0px 1px #000FF0 inset;
    font-size: 18px; }
    .ct-btn--ghost:after {
      background: url("../images/home/jan-2019/arrow/arrow.svg") center/contain no-repeat; }
    .ct-btn--ghost:hover, .ct-btn--ghost:focus {
      background: transparent;
      color: #000FF0; }

@media (min-width: 768px) {
  .ct-hero__flex {
    display: flex; } }

.ct-hero__container {
  margin-top: 54px; }

.ct-hero__header {
  margin-bottom: 40px; }

.ct-hero__tall {
  height: 100%; }

@media (max-width: 767px) {
  .ct-hero__affix {
    margin-top: 40px; } }

@media (min-width: 768px) {
  .ct-hero__affix {
    top: 40px;
    position: sticky; } }

.ct-hero__label {
  margin-bottom: 12px;
  display: inline-flex;
  align-items: center; }

.ct-hero__figure {
  margin-top: 24px; }

.ct-hero__title {
  color: #00000A;
  font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 32px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 40px; }
  @media (min-width: 992px) {
    .ct-hero__title {
      font-size: 32px;
      line-height: 42px; } }

.ct-hero__heading {
  opacity: 0.86;
  color: #00000A;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 24px; }

.ct-hero__highlight {
  background: linear-gradient(-5deg, transparent 40%, #FEE5AB 40%, #FEE5AB 59%, transparent 59%);
  padding: 0 4px;
  margin: 0 -4px;
  background-size: 100% 100%; }

.ct-media__head, .ct-media__header {
  margin-bottom: 24px; }

.ct-media__label {
  margin-bottom: 8px;
  color: #5511D3;
  font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 500;
  line-height: 18px; }

.ct-media__title {
  color: #00000A;
  font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 28px;
  letter-spacing: -0.6px;
  line-height: 38px; }
  @media (min-width: 992px) {
    .ct-media__title {
      font-size: 32px;
      line-height: 40px; } }

.ct-media__heading {
  color: #00000A;
  font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -0.3px;
  line-height: 32px; }

.ct-media__highlight {
  background: linear-gradient(-2deg, transparent 40%, #FEE5AB 40%, #FEE5AB 59%, transparent 59%);
  padding: 0 4px;
  margin: 0 -4px;
  background-size: 100% 100%; }

.ct-media__desc {
  color: #242438;
  line-height: 24px; }

.ct-media__card {
  border: 1px solid #EFEFF1;
  border-radius: 10px;
  background-color: #FFFFFF;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.09);
  padding: 50px 30px 0; }
  @media (min-width: 768px) {
    .ct-media__card {
      padding: 80px 60px 0; } }

.ct-media__content {
  padding-bottom: 60px; }

.ct-media__list {
  list-style: none; }
  .ct-media__lists {
    margin-left: 35px; }
  @media (min-width: 992px) {
    .ct-media__list {
      padding-left: 0; } }

.ct-media__item {
  margin-bottom: 15px;
  position: relative; }
  .ct-media__item:before {
    content: '';
    background-image: url("../images/pricing/icon/icon-status.svg");
    background-position: top right;
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    left: -36px;
    top: 4px; }

.ct-panel {
  text-align: center; }
  .ct-panel__title {
    color: #00000A;
    font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 32px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 40px;
    margin-bottom: 16px; }
    @media (min-width: 1200px) {
      .ct-panel__title {
        font-size: 40px;
        line-height: 50px; } }
  .ct-panel__desc {
    opacity: 0.72;
    color: #00000A;
    font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 20px;
    letter-spacing: -0.3px;
    line-height: 30px; }
    @media (min-width: 768px) {
      .ct-panel__desc {
        font-size: 24px;
        line-height: 32px; } }
  .ct-panel__figure {
    margin-top: 48px;
    margin-bottom: 48px; }
    .ct-panel__figure > img {
      margin: auto; }
  @media (min-width: 768px) {
    .ct-panel__actions {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 24px; } }
  @media (min-width: 768px) {
    .ct-panel__action + .ct-panel__action {
      margin-left: 24px; } }
  @media (max-width: 767px) {
    .ct-panel__action + .ct-panel__action {
      margin-top: 12px; } }

.ct-hero__bg {
  width: 100%;
  background-image: url("../images/sprint/graph-trending-billing-software-banner.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right bottom;
  min-height: 630px; }

.ct-medias {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between; }
  .ct-medias .ct-media {
    flex: 0 0 35%;
    margin-bottom: 45px; }

.ct-medias__links a {
  color: #000FF0;
  font-size: 18px; }
  .ct-medias__links a::after {
    content: '';
    display: inline-block;
    width: 12px;
    height: 10px;
    margin-left: 8px;
    background: url(../images/home/jan-2019/arrow/arrow.svg) center/contain no-repeat; }

.ct-moment-grid {
  background-image: url("../images/sprint/graph-trending-billing-software.svg");
  height: 520px;
  background-size: contain;
  background-repeat: no-repeat; }
  .ct-moment-grid .ct-moment-grid__heading {
    position: absolute;
    top: 95px;
    left: 160px; }
    .ct-moment-grid .ct-moment-grid__heading .ct-moment-grid__head {
      font-size: 40px;
      font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      line-height: 50px;
      font-weight: bold; }

.ca-main {
  background-color: #F3F3F5;
  padding: 36px 56px;
  border-radius: 8px; }
  .ca-main .ca-main__header {
    position: absolute;
    top: -27px;
    left: 68px;
    width: 43px;
    height: 56px; }
  .ca-main .ca-main__body {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center; }
    .ca-main .ca-main__body .ca-main__left {
      flex: 0 0 53%; }
      .ca-main .ca-main__body .ca-main__left .ca-main__heading {
        font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 32px;
        line-height: 34px;
        margin-bottom: 15px; }
      .ca-main .ca-main__body .ca-main__left p {
        color: #242438;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 0; }
    .ca-main .ca-main__body .ct-main__right {
      flex: 0 0 25%; }
      .ca-main .ca-main__body .ct-main__right .ct-main__link .ct-btn {
        width: 207px;
        height: 49px;
        line-height: 49px;
        font-size: 18px; }

.mt-0 {
  margin-top: 0; }

.mb-15 {
  margin-bottom: 15px; }

.cw-another__parent .cw-another__header .cw-another__heading {
  font-size: 32px;
  line-height: 42px;
  font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold; }

.cw-another__parent .cw-another__body .cw-another-lists {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  margin: 0 auto; }
  .cw-another__parent .cw-another__body .cw-another-lists .cw-another-list {
    flex: 0 0 48%;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.16);
    padding: 35px 20px;
    border-radius: 6px;
    margin-bottom: 30px;
    text-align: center; }
    .cw-another__parent .cw-another__body .cw-another-lists .cw-another-list::before {
      content: "";
      background-image: url("../images/sprint/icons/link-arrow.svg");
      display: inline-block;
      width: 16px;
      height: 16px;
      vertical-align: middle;
      margin-right: 10px; }
    .cw-another__parent .cw-another__body .cw-another-lists .cw-another-list span {
      color: #000FF0; }

/*Product Ratings*/
.g-rating__lines {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .g-rating__lines:first-child {
    margin-bottom: 15px; }

.g-rating__line {
  width: 260px;
  background-color: #E4E4E4;
  border-radius: 4px;
  margin: 0px 15px;
  height: 8px;
  position: relative;
  z-index: 0; }
  .g-rating__line:before {
    content: '';
    background-color: #5DAD12;
    position: absolute;
    display: inline-block;
    z-index: 999;
    height: 8px;
    border-radius: 4px;
    width: 93%; }

.g-rating__containers {
  margin: 0 auto; }

.g-rating__container {
  transition: all .2s ease-in-out;
  margin: 0 auto;
  max-width: 670px; }
  .g-rating__container:hover {
    box-shadow: 0 1px 1px 0 rgba(90, 122, 190, 0.1), 0 10px 20px 0 rgba(90, 122, 190, 0.2);
    background-color: #fff;
    border-radius: 6px;
    transform: scale(1.1); }
    .g-rating__container:hover .g-rating__containerwidth {
      border-bottom: 1px solid transparent;
      cursor: pointer; }
  .g-rating__container:nth-child(+n + 2) .g-rating__right .g-ratings .g-rating__lines .g-rating__line:before {
    background-color: #A7ABB2; }
  .g-rating__container .g-rating__containerwidth {
    border-bottom: 1px solid #D7DBE7;
    max-width: 594px;
    height: 110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .g-rating__container .g-rating__containerwidth .g-ratings__hover {
      display: none; }
    .g-rating__container .g-rating__containerwidth:hover .g-ratings__hover {
      display: block; }
    .g-rating__container .g-rating__containerwidth:hover .g-ratings {
      display: none; }
    .g-rating__container .g-rating__containerwidth .g-rating__left img {
      width: 130px;
      height: 40px; }

.g-rating__lines b {
  width: 70px;
  font-weight: bold;
  font-size: 14px; }

.g-ratings__hover .g-rating__lists {
  margin: 0px;
  padding: 0px; }
  .g-ratings__hover .g-rating__lists li {
    list-style-type: none; }
    .g-ratings__hover .g-rating__lists li b {
      font-size: 16px;
      font-weight: bold;
      margin-right: 15px; }

.ct-row--hidden {
  max-height: 506px; }

/*Product Ratings*/
.slick-slider {
  overflow: hidden;
  position: relative;
  display: block;
  box-sizing: border-box; }
  .slick-slider:after, .slick-slider:before {
    content: "";
    width: 100%;
    height: 50px;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 9; }
  .slick-slider:before {
    background: linear-gradient(360deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.87) 59.12%, #FFFFFF 100%);
    top: -2px; }
  .slick-slider:after {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.87) 59.12%, #FFFFFF 100%);
    bottom: -2px; }

.slider-card {
  overflow: hidden; }

.cc-card {
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 0 6px 16px 0 rgba(37, 11, 43, 0.15);
  padding: 32px; }
  @media (max-width: 767px) {
    .cc-card {
      padding: 24px;
      min-width: 300px;
      margin-right: 24px; } }
  .cc-cards {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 32px; }
    @media (max-width: 767px) {
      .cc-cards {
        margin: 0 -30px;
        display: flex;
        overflow-x: auto;
        margin-top: 30px;
        padding-left: 15px; } }
  .cc-card--shadow {
    margin: 0 16px;
    min-width: auto; }
  @media (min-width: 992px) {
    .cc-card__content {
      min-height: 240px;
      display: grid;
      align-items: stretch;
      grid-column: auto; } }
  .cc-card__header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    grid-gap: 24px 32px;
    margin-top: 24px; }
    @media (max-width: 767px) {
      .cc-card__header {
        grid-gap: 16px; } }
  .cc-card__label {
    text-align: right; }
    .cc-card__label--author {
      font-size: 20px;
      font-family: "SFMono-Regular", monospace, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-weight: 500; }
    .cc-card__label--position {
      color: #666678; }
  .cc-card__desc {
    color: #666678;
    font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 12px; }
  .cc-card__logo {
    width: 32px;
    height: 32px;
    justify-self: flex-end;
    background-position: center !important;
    background-size: cover !important; }
    .cc-card__logo--gtwo {
      background: url("../images/compare-competitors/stripe/g2-logo-new-color.webp") no-repeat; }
    .cc-card__logo--fb {
      background: url("../images/compare-competitors/stripe/facebook.svg") no-repeat; }
    .cc-card__logo--tw {
      background: url("../images/compare-competitors/stripe/twitter.svg") no-repeat; }
    .cc-card__logo--reddit {
      background: url("../images/compare-competitors/stripe/reddit.svg") no-repeat; }
  @media (min-width: 768px) {
    .cc-card__grid {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-gap: 24px; } }

/*Rating size*/
.r-zuora .g-rating__lines .g-rating__line::before {
  width: 70%; }

.r-intacct__one::before {
  width: 78%; }

.r-intacct__two::before {
  width: 77%; }

.two-checkout__one::before {
  width: 77%; }

.two-checkout__two::before {
  width: 74%; }

.r-Paddle__one::before {
  width: 77%; }

.r-Paddle__two::before {
  width: 62%; }

.r-SaaSOptics__one::before {
  width: 77%; }

.r-SaaSOptics__two::before {
  width: 77%; }

.r-fusebill__one::before {
  width: 83%; }

.r-fusebill__two::before {
  width: 81%; }

.r-stripe__one::before {
  width: 83%; }

.r-stripe__two::before {
  width: 90%; }

.r-chargify__one::before {
  width: 85%; }

.r-chargify__rwo::before {
  width: 85%; }

.r-recurly__one::before {
  width: 70%; }

.r-recurly__two::before {
  width: 82%; }

@media (max-width: 767px) {
  .g-ratings__hover {
    display: block !important; }
  .g-rating__container {
    flex: 0 0 100%;
    width: auto;
    border-radius: 6px;
    background-color: #ffffff;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 1px 1px 0 rgba(90, 122, 190, 0.1), 0 10px 20px 0 rgba(90, 122, 190, 0.2);
    border-radius: 6px; }
  .g-rating__containers {
    display: flex;
    overflow-y: scroll; }
  .g-rating__container .g-rating__containerwidth {
    display: block;
    height: auto;
    border-bottom: none;
    width: 95%; }
  .g-rating__left {
    margin-bottom: 10px; }
  .g-ratings {
    margin-bottom: 15px; }
  .g-rating__container:hover {
    transform: none; }
  .g-ratings {
    display: block !important; }
  .ct-moment-grid {
    background-position: center left; } }

/*Rating size*/
/*Product Ratings*/
