[class*="se-mT__"]:after {
  content: '';
  display: table;
  clear: both; }

.we-customers {
  text-align: center; }
  .we-customers__top {
    margin-bottom: 12px; }
    @media (min-width: 768px) {
      .we-customers__top {
        margin-bottom: 24px; } }
  .we-customers__label {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    position: relative;
    color: #666678;
    letter-spacing: -0.17px;
    text-align: center;
    font-size: 12px; }
    @media (min-width: 768px) {
      .we-customers__label {
        font-size: 16px; } }
    .we-customers__label:before, .we-customers__label:after {
      display: none;
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto 0;
      width: 88px;
      background: #666678;
      height: 1px; }
    .we-customers__label:before {
      left: -106px; }
    .we-customers__label:after {
      right: -106px; }
  .we-customers__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap; }

@media (min-width: 992px) {
  .we-customer + .we-customer {
    margin-left: 78px; } }

@media (max-width: 575px) {
  .we-customer {
    margin-left: calc(78px / 4);
    margin-right: calc(78px / 4); } }

@media (min-width: 768px) {
  .we-customer {
    margin-left: calc(50px / 2);
    margin-right: calc(50px / 2); } }

@media (min-width: 992px) {
  .we-customer {
    margin-left: 0;
    margin-right: 0; } }

.we-customer__thumb {
  max-width: 56px;
  margin-bottom: 20px; }
  @media (min-width: 768px) {
    .we-customer__thumb {
      max-width: 100px;
      margin-bottom: 28px; } }
  @media (min-width: 992px) {
    .we-customer__thumb {
      max-width: 158px; } }
  @media (max-width: 575px) {
    .we-customer__thumb {
      max-width: 100px; } }

@media (min-width: 768px) {
  .we-customer__img {
    max-height: 28px; } }

@media (min-width: 992px) {
  .we-customer__img {
    max-height: 32px; } }

.se-mT__xxs {
  margin-top: 40px !important; }

.se-mT__xs {
  margin-top: 60px !important; }

.se-mT__s {
  margin-top: 80px !important; }

.se-mT__m {
  margin-top: 33.33333px !important; }
  @media (min-width: 768px) {
    .se-mT__m {
      margin-top: 50px !important; } }
  @media (min-width: 992px) {
    .se-mT__m {
      margin-top: 100px !important; } }

.se-mT__l {
  margin-top: 53.33333px !important; }
  @media (min-width: 768px) {
    .se-mT__l {
      margin-top: 80px !important; } }
  @media (min-width: 992px) {
    .se-mT__l {
      margin-top: 160px !important; } }

.se-mB__xxs {
  margin-bottom: 40px !important; }

.se-mB__xs {
  margin-bottom: 60px !important; }

.se-mB__s {
  margin-bottom: 80px !important; }

.se-mB__m {
  margin-bottom: 33.33333px !important; }
  @media (min-width: 768px) {
    .se-mB__m {
      margin-bottom: 50px !important; } }
  @media (min-width: 992px) {
    .se-mB__m {
      margin-bottom: 100px !important; } }

.se-mB__l {
  margin-bottom: 53.33333px !important; }
  @media (min-width: 768px) {
    .se-mB__l {
      margin-bottom: 80px !important; } }
  @media (min-width: 992px) {
    .se-mB__l {
      margin-bottom: 160px !important; } }

.se-link {
  display: inline-block;
  color: #6200EA;
  font-weight: 500; }
  .se-link:hover, .se-link:focus {
    color: #4d00b7; }

.se-btn {
  font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  position: relative;
  display: inline-block;
  font-weight: 600;
  color: #FFFFFF;
  background: #6200EA;
  border-radius: 6px;
  box-shadow: 0 4px 0 0 #3A008C;
  padding: 12px 24px;
  text-decoration: none;
  overflow: hidden; }
  @media (max-width: 575px) {
    .se-btn {
      width: 100%;
      letter-spacing: -.5px;
      max-width: 260px;
      padding: 16px 24px;
      box-shadow: 0 8px 0 0 #3A008C; } }
  .se-btn:hover, .se-btn:focus {
    text-decoration: none;
    color: #fff; }
  .se-btn:focus, .se-btn:active {
    box-shadow: 0 4px 0 0 #3A008C;
    transform: translateY(2px); }
  @media (min-width: 768px) {
    .se-btn {
      font-size: 20px;
      box-shadow: 0 7px 0 0 #3A008C; } }
  .se-btn--arrow > span {
    display: inline-block;
    transition: all .3s ease-in-out; }
  .se-btn--arrow:after {
    content: "";
    margin-left: 8px;
    display: inline-block;
    transform: translateX(0);
    transition: all .3s ease-in-out;
    width: 16px;
    height: 16px;
    background-image: url(../images/subscription-commerce/arrow-right.svg);
    vertical-align: middle;
    background-repeat: no-repeat; }
  .se-btn--arrow:hover:after, .se-btn--arrow:active:after, .se-btn--arrow:focus:after {
    transform: translateX(4px); }
  .se-btn--ghost {
    background: none;
    border: 1px solid #6200EA;
    font-weight: 600;
    color: #6200EA;
    letter-spacing: -0.75px; }
    @media (min-width: 768px) {
      .se-btn--ghost {
        font-size: 20px;
        padding: 18px 32px; } }

.se-section {
  margin-bottom: 80px; }
  .se-section:after {
    content: '';
    display: table;
    clear: both; }
  @media (min-width: 992px) {
    .se-section {
      margin-bottom: 160px; } }
  .se-section--hero {
    background-color: #00001E; }

.se-heroarticle {
  text-align: center; }
  .se-heroarticle__content {
    margin-top: 16px; }
    @media (min-width: 992px) {
      .se-heroarticle__content {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto; } }
  .se-heroarticle__footer {
    margin-top: 45px; }
  .se-heroarticle__title {
    font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #FFFFFF;
    font-weight: bold;
    letter-spacing: -1.54px;
    font-size: 24px;
    line-height: 30px; }
    @media (min-width: 768px) {
      .se-heroarticle__title {
        font-size: 36px;
        line-height: 46px; } }
    @media (min-width: 992px) {
      .se-heroarticle__title {
        font-size: 48px;
        line-height: 58px; } }
  .se-heroarticle__desc {
    font-family: "SF Pro Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    line-height: 20px; }
    @media (min-width: 768px) {
      .se-heroarticle__desc {
        font-size: 16px;
        line-height: 24px;
        max-width: 530px;
        margin-left: auto;
        margin-right: auto; } }
    @media (min-width: 992px) {
      .se-heroarticle__desc {
        font-size: 16px;
        line-height: 24px;
        max-width: auto; } }

.se-sectionarticle__content {
  margin-top: 8px; }
  @media (min-width: 992px) {
    .se-sectionarticle__content {
      max-width: 500px; } }

.se-sectionarticle__title {
  font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #1D0046;
  letter-spacing: -0.99px;
  font-size: 22px;
  line-height: 32px; }
  @media (min-width: 768px) {
    .se-sectionarticle__title {
      font-size: 28px;
      line-height: 36px; } }
  @media (min-width: 992px) {
    .se-sectionarticle__title {
      font-size: 32px;
      line-height: 40px; } }

.se-sectionarticle__desc {
  color: rgba(0, 0, 30, 0.8);
  font-family: "SF Pro Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px; }
  @media (min-width: 768px) {
    .se-sectionarticle__desc {
      font-size: 16px;
      line-height: 24px; } }
  @media (min-width: 992px) {
    .se-sectionarticle__desc {
      font-size: 16px;
      line-height: 24px; } }

.se-article__header {
  margin-bottom: 16px; }

.se-article__content {
  margin-bottom: 16px; }

.se-article__title {
  font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #1D0046;
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  letter-spacing: -0.28px; }
  @media (min-width: 768px) {
    .se-article__title {
      font-size: 26px;
      line-height: 30px; } }
  @media (min-width: 992px) {
    .se-article__title {
      font-size: 32px;
      line-height: 40px; } }

.se-article__desc {
  font-family: "SF Pro Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #00001E;
  font-size: 16px;
  line-height: 24px;
  text-shadow: 0 2px 5px 0 rgba(144, 144, 144, 0.5); }

.se-article__link {
  color: #6C00F4;
  font-family: "SF Pro Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px; }

.se-features__heading {
  font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #1D0046;
  letter-spacing: -0.99px;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 30px; }
  @media (min-width: 768px) {
    .se-features__heading {
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 36px; } }

.se-features__subheading {
  font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #1D0046;
  font-weight: bold;
  letter-spacing: -0.25px;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 20px; }
  @media (min-width: 768px) {
    .se-features__subheading {
      font-size: 20px;
      line-height: 30px; } }
  @media (min-width: 992px) {
    .se-features__subheading {
      font-size: 20px;
      line-height: 30px; } }

.se-features__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }

.se-feature {
  margin-bottom: 36px; }
  @media (min-width: 768px) {
    .se-feature {
      margin-bottom: 36px; } }

.se-feature__content {
  display: flex;
  flex-flow: column nowrap; }

.se-feature__title {
  font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #1D0046;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 8px; }
  @media (min-width: 992px) {
    .se-feature__title {
      font-size: 16px;
      line-height: 18px; } }

.se-feature__desc {
  font-family: "SF Pro Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgba(0, 0, 30, 0.8);
  font-size: 16px;
  line-height: 24px; }
  @media (min-width: 992px) {
    .se-feature__desc {
      font-size: 16px;
      line-height: 24px; } }

.se-label {
  border: 1px solid #1D0046;
  color: #1D0046;
  padding: 12px 30px;
  letter-spacing: -0.4px;
  display: block;
  margin: auto;
  border-radius: 6px;
  max-width: 800px;
  text-align: center; }
  @media (min-width: 992px) {
    .se-label {
      line-height: 42px; } }
  .se-label__link {
    color: #6C00F4;
    font-weight: 500px; }
  .se-label__text {
    margin-bottom: 0; }
  .se-label:hover, .se-label:focus, .se-label:active {
    text-decoration: none;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.12), 0 14px 24px 0 rgba(0, 0, 0, 0.12); }

.se-tabs__nav {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 0 16px;
  border-bottom: 2px solid rgba(29, 0, 70, 0.35); }
  @media (max-width: 767px) {
    .se-tabs__nav {
      overflow-x: auto;
      overflow-y: hidden; } }
  @media (max-width: 575px) {
    .se-tabs__nav {
      justify-content: left; } }

@media (min-width: 768px) {
  .se-tabs__content {
    min-height: 330px; } }

@media (min-width: 992px) {
  .se-tabs__content {
    min-height: 490px; } }

.se-tab {
  padding-top: 40px; }
  .se-tab__item + .se-tab__item {
    margin-left: 46px;
    margin-bottom: 0; }
  .se-tab__item.active .se-tab__link {
    font-weight: bold;
    color: #1D0046; }
    .se-tab__item.active .se-tab__link:before {
      display: block; }
  .se-tab__link {
    position: relative;
    display: inline-block;
    color: #1D0046;
    font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    line-height: 20px !important;
    text-align: center;
    padding: 0 0 12px !important;
    text-decoration: none;
    margin-right: 0 !important;
    border: 0 !important;
    border-radius: 0 !important; }
    @media (min-width: 992px) {
      .se-tab__link {
        font-size: 18px;
        line-height: 24px !important; } }
    .se-tab__link:before {
      content: '';
      position: absolute;
      left: -5px;
      right: 0;
      bottom: -2px;
      height: 5px;
      width: calc(100% + 10px);
      background-color: #B0A6BE;
      display: none; }
    .se-tab__link:hover, .se-tab__link:focus {
      display: block;
      text-decoration: none;
      background: none !important; }

.se-logo {
  position: relative; }
  .se-logos {
    display: flex;
    flex-flow: column nowrap; }
    @media (max-width: 767px) {
      .se-logos {
        justify-content: space-around; } }
    .se-logos__top {
      margin-bottom: 8px; }
    @media (max-width: 575px) {
      .se-logos__bottom {
        text-align: center; } }
    .se-logos__inner {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;
      margin-bottom: 16px; }
      @media (max-width: 767px) {
        .se-logos__inner {
          justify-content: center; } }
    .se-logos__label {
      color: rgba(29, 0, 70, 0.8);
      font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-size: 16px;
      letter-spacing: -0.65px;
      line-height: 18px;
      text-align: center;
      font-weight: bold; }
  .se-logo:not(:last-child) {
    margin-right: 15px; }
    @media (min-width: 768px) {
      .se-logo:not(:last-child) {
        margin-right: 24px; } }
  @media (max-width: 767px) {
    .se-logo__img {
      max-width: 80px; } }
  @media (max-width: 991px) {
    .se-logo:last-child {
      margin-top: 20px !important; } }
  @media (min-width: 992px) {
    .se-logo:first-child:before, .se-logo:last-child:after {
      content: '';
      position: absolute;
      top: -16px;
      width: 48px;
      max-width: 80px;
      height: 48px;
      z-index: 1; }
    .se-logo:first-child:before {
      background: linear-gradient(to right, #fff 0%, rgba(255, 255, 255, 0) 100%);
      left: 0; }
    .se-logo:last-child:after {
      background: linear-gradient(to left, #fff 0%, rgba(255, 255, 255, 0) 100%);
      right: 0; } }

.se-cta--as-button {
  display: flex;
  max-width: 580px;
  margin: 20px auto 32px;
  padding: 16px 24px;
  background-color: #fff;
  border: 1px solid #DCDBF6;
  border-radius: 300px;
  text-decoration: none;
  transition: all 0.16s ease-in;
  flex-flow: row wrap; }
  @media (max-width: 767px) {
    .se-cta--as-button {
      padding: 8px 12px;
      align-items: center;
      justify-content: center; } }
  @media (min-width: 768px) {
    .se-cta--as-button {
      flex-flow: row nowrap; } }
  .se-cta--as-button:hover, .se-cta--as-button:focus {
    text-decoration: none;
    border-color: #fff;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.12), 0 14px 24px 0 rgba(0, 0, 0, 0.12);
    transform: translateY(-3px);
    transition: all 0.24s ease-out; }
  @media (max-width: 767px) {
    .se-cta--as-button .se-cta__header {
      margin-bottom: 5px; } }
  @media (min-width: 768px) {
    .se-cta--as-button .se-cta__header {
      margin-right: 16px; } }
  @media (max-width: 767px) {
    .se-cta--as-button .se-cta__label {
      font-size: 12px;
      text-align: center; } }
  .se-cta--as-button .se-cta__thumb {
    max-width: 54px; }

.se-cta__footer {
  display: flex;
  margin-top: 36px; }

.se-cta__label {
  font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  color: #1D0046; }

@media (min-width: 768px) {
  .se-cta__thumb {
    max-width: 60px;
    max-height: 26px; } }

.se-cta__title {
  color: #1D0046;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.08px; }

.se-cta__actions {
  display: flex;
  align-items: center;
  margin: auto;
  font-weight: bold; }
  @media (max-width: 767px) {
    .se-cta__actions {
      flex-flow: column wrap;
      justify-content: center; } }

@media (max-width: 767px) {
  .se-cta__anchor + .se-cta__anchor {
    margin-top: 20px; } }

@media (min-width: 768px) {
  .se-cta__anchor + .se-cta__anchor {
    margin-left: 34px; } }

.se-cta__title {
  font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }
  @media (min-width: 768px) {
    .se-cta__title {
      font-size: 32px;
      letter-spacing: -0.4px;
      line-height: 42px; } }
  @media (min-width: 992px) {
    .se-cta__title {
      font-size: 40px;
      letter-spacing: -1.08px;
      line-height: 53px; } }

.se-paygateways {
  display: flex;
  flex-flow: column nowrap; }

.se-paygateways__top {
  margin-bottom: 5px; }

.se-paygateways__bottom {
  margin-top: 5px; }

.se-paygateways__list {
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center; }
  @media (max-width: 767px) {
    .se-paygateways__list {
      flex-flow: row wrap; } }
  .se-paygateways__list:before, .se-paygateways__list:after {
    content: '';
    position: absolute;
    top: 0;
    width: 15%;
    max-width: 80px;
    height: 100%;
    z-index: 1;
    display: none; }
    @media (min-width: 768px) {
      .se-paygateways__list:before, .se-paygateways__list:after {
        display: block; } }
  .se-paygateways__list:before {
    left: 0;
    background: linear-gradient(to right, #fff 0%, rgba(255, 255, 255, 0) 100%); }
  .se-paygateways__list:after {
    right: 0;
    background: linear-gradient(to left, #fff 0%, rgba(255, 255, 255, 0) 100%); }

.se-paygateways__label {
  font-family: PTMono-Regular;
  color: #666678;
  text-align: center;
  font-size: 12px;
  line-height: 20px; }
  @media (min-width: 768px) {
    .se-paygateways__label {
      font-size: 14px;
      line-height: 24px; } }

@media (max-width: 767px) {
  .se-paygateway {
    margin: 0 14px 12px; } }

@media (min-width: 768px) {
  .se-paygateway + .se-paygateway {
    margin-left: 32px; } }

.se-paygateway__thumb {
  max-width: 100px; }
  @media (min-width: 768px) {
    .se-paygateway__thumb {
      max-width: 128px; } }

.se-paygateway__img {
  max-height: 24px; }

@media (max-width: 767px) {
  .cb-clients__container {
    text-align: center; } }

.cb-clients__title {
  color: #1D0046;
  font: normal normal 24px/36px basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin-top: 16px; }
  @media (min-width: 1024px) {
    .cb-clients__title {
      margin-bottom: 48px; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    .cb-clients__title {
      margin-bottom: 32px; } }
  @media (max-width: 767px) {
    .cb-clients__title {
      margin-bottom: 8px; } }

.cb-clients__logos {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center; }
  @media only screen and (min-width: 768px) {
    .cb-clients__logos {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      justify-content: space-between; } }

@media (max-width: 767px) {
  .cb-clients__logo {
    display: inline-block;
    vertical-align: middle;
    margin: 12px;
    max-width: 114px; } }

.cb-clients__action {
  font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #5A28D2;
  font-weight: 500;
  display: inline-block;
  margin-top: 20px;
  text-decoration: none; }
  .cb-clients__action:hover, .cb-clients__action:focus, .cb-clients__action:active {
    text-decoration: none; }
  @media (max-width: 767px) {
    .cb-clients__action {
      text-align: center;
      margin-top: 10px; } }
