*:focus{
    outline-width:0;
}
::-webkit-input-placeholder {
   color: #403F5A!important;
   font-family: acumin-pro,helvetica,sans-serif;
   font-style:italic;
   font-weight: 300;
}
:-moz-placeholder { /* Firefox 18- */
   color: #403F5A!important;
   font-family: acumin-pro,helvetica,sans-serif;
   font-style:italic;
   font-weight: 300;
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #403F5A!important;
   font-family: acumin-pro,helvetica,sans-serif;
   font-style:italic;
   font-weight: 300;
}
:-ms-input-placeholder {
   color: #403F5A!important;
   font-family: acumin-pro,helvetica,sans-serif;
   font-style:italic;
   font-weight: 300;
}
body{
    font-family: acumin-pro,helvetica,sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    overflow-x:hidden
}
a{
    color:#F06E46;
}
a:hover,
a:focus{
    color:#E0623A;
}
h1,.h1{
    font-size: 26px;
    line-height: 30px;
}
h2,.h2{
    font-size: 22px;
    line-height: 26px;
}
/*=====================================================================
=                               Css class                             =
=====================================================================*/
.ff-freightDisPro{
    font-family: "freight-display-pro",sans-serif !important;
}
.ff-freight-i{
    font-weight: 700;
}
.ff-freight-3{
    font-weight: 300;
}
.ff-freight-i3{
    font-weight: 300;
    font-style: italic;
}
.ff-freight-4{
    font-weight: 400;
}
.ff-freight-5{
    font-weight: 500;
}
.ff-freight-i5{
    font-weight: 500;
    font-style: italic;
}
.ff-freight-7{
    font-weight: 700;
}
.ff-freight-i7{
    font-weight: 700;
    font-style: italic;
}



.fw-1{
    font-weight: 100;
}
.fw-3{
    font-weight: 300;
}
.fw-4{
    font-weight: 400;
}
.fw-5{
    font-weight: 500;
}
.fw-7{
    font-weight: 700;
}
.fw-8{
    font-weight: 800;
}
.font-md{
    font-weight: 84px;
}
/* =========================== End - Fonts ========================== */
.mar-t-xs{
    margin-top: 20px
}
.mar-t-sm{
    margin-top: 50px
}
.mar-t-xmd{
    margin-top: 80px
}
.mar-t-md{
    margin-top: 120px
}
.mar-t-xmd{
    margin-top: 140px
}
.mar-t-lg{
    margin-top: 210px
}

.mar-b-xs{
    margin-bottom: 20px
}
.mar-b-sm{
    margin-bottom: 50px
}

.mar-y-xs{
    margin-top: 20px;
    margin-bottom: 20px;
}
.mar-y-sm{
    margin-top: 50px;
    margin-bottom: 50px;
}

.mar-x-xs{
    margin-left: 20px;
    margin-right: 20px;
}

.mar-l-sm{
    margin-left: 60px;
}

.mar-l-neg-xs{
    margin-left: -20px;
}
/* =========================== End - Margin ========================== */
.pad-t-xs{
    padding-top: 40px;
}
.pad-t-sm{
    padding-top: 80px;
}
.pad-t-md{
    padding-top: 120px;
}

.pad-b-xs{
    padding-bottom: 40px;
}
.pad-b-sm{
    padding-bottom: 80px;
}
.pad-b-md{
    padding-bottom: 120px;
}

.pad-y-5{
    padding-top: 5px;
    padding-bottom: 5px;
}
.pad-y-25{
    padding-top: 22px;
    padding-bottom: 22px;
}
.pad-y-xs{
    padding-top: 40px;
    padding-bottom: 40px;
}
.pad-y-sm{
    padding-top: 80px;
    padding-bottom: 80px;
}
.pad-y-md{
    padding-top: 120px;
    padding-bottom: 120px;
}
.pad-y-lg{
    padding-top: 180px;
    padding-bottom: 180px;
}

.pad-x-xs{
    padding-left: 30px;
    padding-right: 30px;
}

.pad-r-xs{
    padding-right: 20px;
}

.pad-md{
    padding: 80px;
}
.pad-sm{
    padding: 40px;
}
.pad-xs{
    padding: 20px;
}
.pad-xxs{
    padding: 10px;
}


/* =========================== End - Padding ========================== */

.op-xs{
    opacity: 0.5;
}
.op-md{
    opacity: 0.5;
}
.op-lg{
    opacity: 0.7;
}
/* =========================== End - opacity ========================== */
.max-wid-xs{
    max-width: 300px;
}
.max-wid-sm{
    max-width: 400px;
}
.max-wid-xmd{
    max-width: 500px;
}
.max-wid-md{
    max-width: 600px;
}
.max-wid-xxmd{
    max-width: 700px;
}
.max-wid-lg{
    max-width: 800px;
}
/* =========================== End - Max width ======================== */
.shape-octagon{
    background: url(../images/year-review/octogan.svg) no-repeat center;
    background-size: contain;
    height: 349px;
    padding: 90px 0;
    text-align: center;
}
/* =========================== End - Shapes ======================== */


.blk-white{
    background: #fff;
}
.blk-darkblue{
    background: #011133;
}
.blk-yellow{
    background: #F3DF98;
}
.blk-red{
    background: #E52325;
}
.blk-brown{
    background: #BA6C2F;
}
.blk-black{
    background: #000;
}
.blk-orange{
    background: #FF9500
}
.blk-cadetblue{
    background: #7cb0a4;
}
.blk-sandal{
    background: #f5ead3;
}
.blk-darkslategray{
    background: #4C7C8B;
}
.blk-aliceblue{
    background: #D9DEE6
}
.blk-darkseagreen{
    background: #8DB8A4;
}
.blk-darksteelblue{
    background: #516981
}
.blk-gold{
    background: #FCE02B;
}
.blk-roseberry{
    background: #E3D3E0;
}
.blk-skyblue{
    background: #1CB2E9;
}
.blk-tealgreen{
    background: #9CC0BC;
}




.blk-black-img{
    background: url(../images/year-review/blk-black.svg) no-repeat center;
    background-size: contain;
    height: 373px;
    padding: 50px 20px;
}

.blk-yr a{
    color: inherit;
    text-decoration: none;
    -o-transition:all .3s ease-out;
    transition:all .3s ease-out;
    -moz-transition:all .3s ease-out;
    -webkit-transition:all .3s ease-out;
}
.blk-yr__d-title{
    font-size: 66px;
    color: #FFFFFF;
    line-height: 78px;
}
.blk-yr__l-title, .blk-yr__l-sm-title{
    font-size: 37px;
    color: #000000;
    line-height: 47px;
}
.blk-yr__l-lg-title{
    font-size: 104px;
    color: #000000;
    line-height: 76px;
}
.blk-yr__l-xxlg-title{
    font-size: 288px;
    line-height: 160px
}
.blk-yr__l-xlg-title{
    font-size: 144px;
    line-height: 104px
}
.blk-yr__l-md-title{
    font-size: 84px;
}
.blk-yr__l-xmd-title{
    font-size: 72px;
}
.blk-yr__l-sm-title{
    font-size: 56px;
    line-height: 66px;
}
.blk-yr__l-xs-title{
    font-size: 26px;
}
.blk-yr__l-xxs-title{
    font-size: 22px;
}
.blk-yr__d-lg-title{
    font-size: 40px;
    color: #000000;
    letter-spacing: 10px;
    font-weight: bold;
}
.blk-yr__d-subtitle, .blk-yr__l-subtitle{
    font-size: 24px;
    color: #FFFFFF;
    line-height: 32px;
    font-weight: bold;
}
.blk-yr__l-subtitle{
    color: #000;
}
.blk-yr__l-xxs-subtitle{
    font-size: 22px;
    line-height: 30px;
}
.blk-yr__d-part{
    width: 100%;
    display: block;
    margin-left: auto;
}
.blk-yr__d-text, .blk-yr__l-text{
    font-size: 15px;
    color: #FFFFFF;
    letter-spacing: 3px;
    line-height: 26px;
    font-weight: 400;
}
.blk-yr__l-text{
    color: #000000;
}
.blk-yellow-bg{
    background: #FCFF7B;
    padding: 200px 70px;
    margin: -180px 0px;
}
.blk-text-btw-line{
    font-size:96px;margin-left: -5px;
}
.blk-text-sm-btw-line{
    font-size: 83px;margin-left: -7px;
}
.blk-red-font{
    font-weight: 700;
    font-size: 63px;
    color: rgba(0,0,0,0.2);
    line-height: 66px;
}
.blk-red-font span{
    color: #C11A0A;
}
.blk-blockquote{
    padding: 0 40px;
    border-left: 14px solid;
    -o-transition:all .3s ease-out;
    transition:all .3s ease-out;-webkit-transition:all .3s ease-out;-moz-transition:all .3s ease-out;
}
.blk-blockquote:hover{
    border-left-width:20px;
}
.blk-line{
    width: 180px;
    height: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.blk-line-h-md{
    height: 100px;
}
.blk-legend{
    display: inline-block;
    border: 10px solid #000;
    padding: 0 50px 50px;
    margin-top: 50px;
}
.blk-legend__title{
    margin-top: -50px;
    padding-left:30px;
    padding-right: 30px;
    background: #fff;
}
.blk-text-legend{
    font-weight: 500;
    font-size: 24px;
    color: #000000;
    line-height: 20px;
    position: relative;
    margin: 20px 0;
}
.blk-text-legend:before, .blk-text-legend:after{
    content: "";
    width: 40%;
    display: block;
    height: 4px;
    background: #000;
    position: absolute;
    top: 50%;
}
.blk-text-legend:before{
    left: 0;
}
.blk-text-legend:after{
    right: 0;
}
.blk-text-legend span{
    background: #fff;
    padding: 0 10px;
    z-index: 1;
    position: relative;
}
.icon-excel{
    font-size: 880px;
    color: #D71F19;
    display: inline-block;
    line-height: 360px;
    float: left;
    margin-right: -60px;
}
.hover-icon-color:hover .icon-excel{
    color: #fff;
}
.blk-bs-inner{
    -webkit-box-shadow: 0 0 0 20px #000 inset;
            box-shadow: 0 0 0 20px #000 inset;
    border: 30px solid #9cc0bc;
    padding: 80px;
}
.blk-yr__text-smp{
    line-height: 70px;
    letter-spacing: -4px;
}

.blk-rb-arrow{
    float: right;
    background: url(../images/year-review/arrow.svg) no-repeat center;
    padding:150px 30px 30px 185px;
    text-align: right;
    margin-top: -100px;
}
.stories-bg{
    background: url(../images/year-review/stories.svg) no-repeat center 180px;
    background-size: 105%;
}
.blk-yr__l-md-title2{
        font-size: 48px;
}
.blk-yr__l-md-title3{
        font-size: 18px;
        line-height: 26px;
        margin-top: 40px;
        width: 80%;
}
.fish   {
    font-size: 144px
}
.fish1 {
    width: 30px;
    display: inline-block;
    line-height: 47px;
    position: relative;
    top: -10px;
}
.fish3 {
    margin-top: 50px;
}
.fish3 a{
    font-size: 38px;
    letter-spacing: -2px
}
.wd-wrap{
     word-wrap: break-word;
}
.letter-spa-zero{
    letter-spacing: 0;
}
.letter-spa-neg-xs{
    letter-spacing: -2px;
}
.letter-spa-neg-sm{
    letter-spacing: -4px;
}
.letter-spa-neg-md{
    letter-spacing: -8px;
}
.letter-spa-neg-xl{
    letter-spacing: -20px;
}
.letter-spa-neg-xxl{
    letter-spacing: -30px;
}
.lg-text{
    font-size: 288px;
    line-height: 120px;
}
.text-shadow{
    text-shadow:-5px 4px 0 rgba(0,0,0,0.2);
}
.pos-rel,
.strike-out,
.strike-out-hover {
    position: relative;
}
.strike-out:before, .strike-out-hover:before {
    content: '';
    width: 100%;
    height: 33px;
    display: inline-block;
    background: #333;
    position: absolute;
    top: 50%;
    margin-top: -2px;
    margin-right: -100px;
}
.strike-out-hover:before{
    width: 0;
    -o-transition:width .1s ease-out;
    transition:width .1s ease-out;-webkit-transition:width .1s ease-out;-moz-transition:width .1s ease-out;
}
.hover-strike:hover .strike-out-hover:before{
    width: 100%;
}
.hover-strike:hover span:first-child.strike-out-hover:before{
    margin-left: 20px;
}
.lh-sm{
    line-height: 50px;
}
.intro p{
    margin-bottom: 20px;
}
.intro-title{
    font-size: 18px;    
    line-height: 24px;
    font-weight: bold;
}
.blk-perpetual{
    position: relative;
    margin-left: 15px;
    bottom: -15px;
    font-style: italic;
}
.hover-fw .fw-8, .hover-fw .fw-7, .hover-fw .fw-5, .hover-fw .fw-4, .hover-fw .fw-3, .hover-fw .fw-1{
    /*display: block;*/
}

.hover-fw:hover .fw-8, .hover-fw:hover .fw-7, .hover-fw:hover .fw-5, .hover-fw:hover .fw-4, .hover-fw:hover .fw-3, .hover-fw:hover .fw-1{
    font-weight: 100;
}

.brown-txt-bg{
    background: #CB472A;
    padding: 6px;
}
.hover-color-bg:hover .brown-txt-bg{
    background: #fff;
    color: #CB472A;
}
.light-color{
    color: #fff;
}
.dark-color{
    color: #000;
}
.brown-color{
    color: #CB472A;
}
.red-color{
    color: #D71F19;
}
.red-l-color{
    color: #ff0000;
}
.red-d-color{
    color: #C03834;
}
.violate-color{
    color: #3C119A
}

.blk-display{
    display: block;
}
.blk-inline-blk{
    display: inline-block;
}
.blk-footer p{
    font-size: 16px;
    line-height:22px;    
}
.blk-footer a{
    font-size: 20px;  
    color: #ff6c29;  
}
.hover-bg-yellow{
    -o-transition:padding .1s ease-out, margin .1s ease-out;
    transition:padding .1s ease-out, margin .1s ease-out;-moz-transition:padding .1s ease-out, margin .1s ease-out;-webkit-transition:padding .1s ease-out, margin .1s ease-out;
}
.hover-bg-yellow:hover{
    padding: 180px 50px;
    margin: -180px -50px;
    background: #FCE02B;
}
.blk-red-font .hover-trans-color{
    color: transparent;
    -o-transition:color 0.1s ease-out;
    transition:color 0.1s ease-out;-moz-transition:color 0.1s ease-out;-webkit-transition:color 0.1s ease-out;
}
.blk-red-font a:hover span.hover-trans-color{
    color: #C11A0A
}
.hover-bg-yellow:hover .blk-text-legend span{
    background: #FCE02B;
}
.hover-hide:hover .hide-text{
    visibility: hidden;
    opacity: 0;
}
.hover-red:hover span{
    color: #E52325
}
.hover-underline:hover{
    text-decoration: underline;
}
.hover-lt-space:hover{
    letter-spacing: 0.3px;
}
.hover-white:hover{
    background-color: #fff!important;
}
.hover-white:hover *{
    color: #000!important;
}
.hover-black:hover{
    background-color: #000!important;
}
.hover-black:hover *{
    color: #fff!important;
}
.hide-bat-img a:hover .hide-img{
    visibility: hidden;
}
.hover-mot-ani{
   -o-transition:all .2s ease-in;
   transition:all .2s ease-in;-webkit-transition:all .2s ease-in; -moz-transition:all .2s ease-in;
}
.hover-mot-ani:hover{
     -webkit-animation: Floatingx 2s ease infinite;
    animation: Floatingx 2s ease infinite;
}
@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0, 0px);}
    50% {-webkit-transform:translate(0, 5px);}
    to {-webkit-transform: translate(0, 0px);}    
}

/*=====================================================================
=            Media queries - tablet,desktop,larger displays           =
=====================================================================*/
@media(min-width:768px){

}
/*==============================================================
=            Media queries - desktop,larger displays           =
==============================================================*/
@media(min-width:992px){
    .mar-t-md-30{
        margin-top: 20px;
    }
    .mar-t-sm-lg{
        margin-top: 50px
    }
}

@media(min-width:992px) and (max-width: 1199px){
    .mar-t-xmd-tv {
        margin-top: 90px;
    }
    .blk-yr__l-sm-title {
        font-size: 44px;
        line-height: 56px;
    }
}
/*======================================================
=            Media queries - larger displays           =
======================================================*/
@media(min-width:1200px){

}
@media(min-width:1400px){

}
/*===========================================
=            Media queries - tablet         =
===========================================*/
@media(max-width:1199px){
    .blk-yr__l-xxlg-title {
        font-size: 248px;
    }
    .blk-text-btw-line {
        font-size: 78px;
    }
    .blk-text-sm-btw-line {
        font-size: 67px;
    }
    .blk-yr__l-lg-title {
        font-size: 74px;
        line-height: 60px;
    }
    .strike-out:before, .strike-out-hover:before {
        margin-top: -15px;
    }
    .icon-excel {
        font-size: 680px;
        margin-right: -30px;
    }
    .blk-yr__l-md-title {
        font-size: 64px;
    }
    .blk-yr__l-md-title2 {
        font-size: 42px; 
    }
    .mar-l-sm {
        margin-left: 10px;
    }
    .mar-t-lg {
        margin-top: 140px;
    }
    .letter-spa-neg-sm-tab{
        letter-spacing: -1px;
    }
    .blk-perpetual{
        margin-left:10px;
        bottom: -10px;
    }
}
@media(max-width:991px){
    .pad-y-md{
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .mar-t-sm-tab{
        margin-top: 50px
    }
    .mar-t-md-tab{
        margin-top: 80px
    }
    .pad-y-lg{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .blk-yr__l-xlg-title{
        font-size: 104px;
    }
    .blk-text-btw-line {
        font-size: 58px;
        margin-top: -20px;
    }
    .blk-text-sm-btw-line {
        font-size: 49px;
        margin-top: -20px;
        margin-bottom: -20px;
    }
    .blk-yellow-bg {
        padding: 180px 70px;
        margin: -100px 0px;
    }
    .blk-yr__l-xxlg-title {
        font-size: 270px;
    }
    .hover-bg-yellow:hover {
        padding: 100px 50px;
        margin: -100px -50px;
    }
    .strike-out:before, .strike-out-hover:before {
        height: 20px;
        margin-top: -10px;
    }
    .pad-r-sm-tb{
        padding-right: 30px
    }
    .icon-excel {
        font-size: 600px;
        margin-right: -100px;
    }
    .blk-yr__l-md-title {
        font-size: 64px;
    }
    .mar-t-lg-tl{
        margin-top: 110px;
    }
    .blk-yr__l-sm-titl-tl {
        font-size: 46px;
        line-height: 46px;
    }
    .blk-yr__l-title, .blk-yr__l-sm-title {
        font-size: 30px;
        line-height: 34px;
    }
    .mar-t-xmd {
        margin-top: 70px;
    }
    .mar-t-md {
        margin-top: 90px;
    }
    .blk-yr__d-title {
        font-size: 48px;
        line-height: 58px;
    }
    .blk-yr__l-md-title2 {
        font-size: 32px;
        line-height: 42px !important
    }
    .blk-black-img {
     height: 280px;
    }
}
@media(max-width:767px){
    .blk-yr{
        padding-left: 10px;
        padding-right: 10px;
    }
    .blk-yr__d-title {
        font-size: 46px;
        line-height: 48px;
    }
    .blk-yr__l-title, .blk-yr__l-sm-title{
        font-size: 28px;
        line-height: 34px;
    }
    .blk-yr__d-subtitle, .blk-yr__l-subtitle{
        font-size: 20px;
        line-height: 26px;
        margin-top: 100px;
    }

    .strike-out:before, .strike-out-hover:before {
        height: 23px;
        margin-top: -12px;
    }
    .blk-yr__d-part {
        margin-right: auto;
        text-align: center;
    }
    .blk-yr__l-lg-title{
        font-size: 84px;
    }
    .blk-yr__l-xxlg-title {
        font-size: 130px;
        letter-spacing: -10px;
        line-height: 80px;
    }
    .blk-yr__l-xmd-title {
        font-size: 40px;
        line-height: 60px;
    }
    .blk-yr__l-md-title {
        font-size: 58px;
        line-height: 70px;
        margin-top: 40px;

        letter-spacing: -2px;
    }
    .blk-span-mob > span{
        display: block;
        line-height: 80px;
    }
    .blk-span-mob > span.strike-out, .blk-span-mob > span.strike-out-hover {
        display: block;
        max-width: 250px;
    }
    .mar-t__mob-sm{
        margin-top: 60px;
    }
    .mar-t__mob-md{
        margin-top: 90px;
    }
    .mar-t-md {
        margin-top: 80px;
    }
    .mar-t__mob-zero{
        margin-top: 0px;
    }
    .mar-l-neg-xs {
        margin-left: -16px;
    }

    .blk-yellow-bg {
        margin: -100px 0px 80px;
    }
    .icon-excel {
        font-size: 640px;
        line-height: 380px;

    }
    .letter-spa-neg-sm {
        letter-spacing: -1px;
    }
    .blk-black-img {
        height: 283px;
    }


}





